@import "../../../../asset/style/mui.min.css";

#root {
  max-width: 575px;
  margin: 0 auto;
}

.address-main {
  position: relative;
  height: 100%;

  span.orange {
    color: #e1a923;
  }
  span.blue {
    color: #1a519b;
  }
}