:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

#root {
  max-width: 575px;
  margin: 0 auto;
}

.address-main {
  position: relative;
  height: 100%;
  padding: 0 0.5rem 1.5rem 0.5rem;

  span.orange {
    color: #e1a923;
  }
  span.blue {
    color: #1a519b;
  }

  .btn-action {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.08rem;
    font-size: .42rem;
    line-height: 1.08rem;
    text-align: center;
    box-shadow: 0 -.04rem .08rem 0 rgba(0, 79, 147, 0.1);
    border-width: 0;
    &.btn-save {
      background-color: #014292;
      color: #fff;
    }
  }

}