* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;
}

html {
  line-height: 1;
  font-family: "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 50px;
}

@import "tabs.less";