@import '../style';

.@{card}__container {
    position: relative;
}

.@{card}__container111 {
    overflow: hidden;
    position: relative;
}

.@{card}__grid {
    display: flex;
    flex-wrap: wrap;
    margin: -0.12rem -0.08rem -0.12rem;
}

.@{card} {
    width: 100%;
    padding: 0.12rem 0.08rem 0.12rem;
}

.@{card}__gap--none {
    margin: 0;
    .@{card} {
        padding: 0;
    }
}

.@{card}__gap--small {
    margin: -0.06rem -0.04rem -0.06rem;
    .@{card} {
        padding: 0.06rem 0.04rem 0.06rem;
    }
}

.@{card}__gap--large {
    margin: -0.12rem -0.16rem -0.12rem;
    .@{card} {
        padding: 0.12rem 0.16rem 0.12rem;
    }
}

.@{card}__content {
    width: 100%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.@{card}--hoverable {
    cursor: pointer;
}

.@{card}--hoverable .@{card}__content--opacity {
    &:hover {
        opacity: 0.7;
    }
}

.@{card}--hoverable .@{card}__content--lighten {
    &:hover {
        box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.15);
    }
}

.@{card}--hoverable .@{card}__content--darken {
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.28rem 0.9rem,
            rgba(0, 0, 0, 0.22) 0rem 0.2rem 0.36rem;
    }
}

.@{card}--hoverable .@{card}__content--outlined {
    &:hover {
        border: 0.02rem solid @theme-palette-primary-light;
    }
}
.@{card}__slice{
    position: relative;
    overflow: hidden;
    &:after{
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        position: absolute;
        content: '';
    }
}
.@{card}__slice .@{card} {
    border-bottom: 1px solid #eeeff0;
}

@media @media-up-sm {
    .@{card}--col112 .@{card} {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }

    .@{card}--col112.@{card}__slice .@{card} {
        &:nth-child(odd) {
            border-right: 1px solid #eeeff0;
        }
    }
}

@media @media-up-xs {
    .@{card}--col122 .@{card} {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }

    .@{card}--col122.@{card}__slice .@{card} {
        &:nth-child(odd) {
            border-right: 1px solid #eeeff0;
        }
    }
}

@media @media-up-xs {
    .@{card}--col123 .@{card} {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}
@media @media-sm {
    .@{card}--col123.@{card}__slice .@{card} {
        &:nth-child(odd) {
            border-right: 1px solid #eeeff0;
        }
    }
}
@media @media-up-sm {
    .@{card}--col123 .@{card} {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }
    .@{card}--col123.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;
        &:nth-child(3n) {
            border-right: none;
        }
    }
}

.@{card}--col234 .@{card} {
    flex: 0 0 percentage(1/2);
    max-width: percentage(1/2);
}
@media @media-xs {
    .@{card}--col234.@{card}__slice .@{card} {
        &:nth-child(odd) {
            border-right: 1px solid #eeeff0;
        }
    }
}
@media @media-up-xs {
    .@{card}--col234 .@{card} {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }
}
@media @media-sm {
    .@{card}--col234.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;
        &:nth-child(3n) {
            border-right: none;
        }
    }
}
@media @media-up-sm {
    .@{card}--col234 .@{card} {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }
    .@{card}--col234.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;
        &:nth-child(4n) {
            border-right: none;
        }
    }
}

.@{card}--col245 .@{card} {
    flex: 0 0 percentage(1/2);
    max-width: percentage(1/2);
}
@media @media-xs {
    .@{card}--col245.@{card}__slice .@{card} {
        &:nth-child(odd) {
            border-right: 1px solid #eeeff0;
        }
    }
}

@media @media-up-xs {
    .@{card}--col245 .@{card} {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }
}
@media @media-sm {
    .@{card}--col245.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;

        &:nth-child(4n) {
            border-right: none;
        }
    }
}

@media @media-up-sm {
    .@{card}--col245 .@{card} {
        flex: 0 0 percentage(1/5);
        max-width: percentage(1/5);
    }
    .@{card}--col245.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;

        &:nth-child(5n) {
            border-right: none;
        }
    }
}

.@{card}--col345 .@{card} {
    flex: 0 0 percentage(1/3);
    max-width: percentage(1/3);
}
@media @media-xs {
    .@{card}--col345.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;
        &:nth-child(3n) {
            border-right: none;
        }
    }
}

@media @media-up-xs {
    .@{card}--col345 .@{card} {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }
}
@media @media-sm {
    .@{card}--col345.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;

        &:nth-child(4n) {
            border-right: none;
        }
    }
}

@media @media-up-sm {
    .@{card}--col345 .@{card} {
        flex: 0 0 percentage(1/5);
        max-width: percentage(1/5);
    }

    .@{card}--col345.@{card}__slice .@{card} {
        border-right: 1px solid #eeeff0;

        &:nth-child(5n) {
            border-right: none;
        }
    }
}
