@import '../style';

.@{card}__container {
    //overflow: hidden;
    position: relative;
}

.@{card}__container111 {
    overflow: hidden;
    position: relative;
}

.@{card}__grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.04rem -0.12rem;
}

.@{card} {
    width: 100%;
    padding: 0 0.04rem 0.12rem;
}

.@{card}__gap--none {
    margin: 0;
    .@{card} {
        padding: 0;
    }
}

.@{card}__gap--large {
    margin: 0 -0.08rem -0.24rem;
    .@{card} {
        padding: 0 0.08rem 0.24rem;
    }
}

.@{card}__content {
    width: 100%;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.@{card}__content--lighten {
    &:hover {
        opacity: 0.8;
    }
}

.@{card}__content--shadow {
    &:hover {
        box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.15);
    }
}

.@{card}__content--darken {
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.28rem 0.9rem,
            rgba(0, 0, 0, 0.22) 0rem 0.2rem 0.36rem;
    }
}

.@{card}__content--outlined {
    &:hover {
        border: 0.02rem solid @btn-color-primary;
    }
}

.@{card}__drawer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.@{card}__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.@{card}__mask--enter {
    opacity: 1;
}

.@{card}__drawercontent {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    background-color: rgb(241, 241, 241);
    border-left: 5px solid red;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms ease-in-out;
}

.@{card}__drawercontent--enter {
    transform: translate3d(0, 0, 0);
}

@media @media-up-sm {
    .@{card}--col112 .@{card} {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}

@media @media-up-xs {
    .@{card}--col122 .@{card} {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}

@media @media-up-xs {
    .@{card}--col123 .@{card} {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}

@media @media-up-sm {
    .@{card}--col123 .@{card} {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }
}

.@{card}--col234 .@{card} {
    flex: 0 0 percentage(1/2);
    max-width: percentage(1/2);
}

@media @media-up-xs {
    .@{card}--col234 .@{card} {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }
}

@media @media-up-sm {
    .@{card}--col234 .@{card} {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }
}
