@import '~asset/style/_cine.less';

.back-Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.back-Image {
    width: 0.4rem;
    height: 0.4rem;
}
.back-Label {
    margin-left: 0.2rem;
    font-size: 0.36rem;
    color: #3a3b3c;
}

@media @media-up-xs {

}