@import '~asset/style/_cine.less';
@import './WordContent';

.v_Test_VocabularyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    padding: 1rem 0 0.8rem 0;
    position: relative;

    .v_Test_VC_Promot_Start {
        font-family: PingFangSC-Regular;
        font-size: 0.32rem;
        color: #3a3b3c;
    }

    .v_Test_VC_Test_Start {
        cursor: pointer;
        margin-top: 1.6rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        padding-top: 1.25rem;
        background-color: #175cb9;
        text-align: center;
        color: #fff;
        font-family: PingFangSC-Regular;
        font-size: 0.42rem;
    }

    .v_Test_VC_Progress {
        background-color: #eef7ff;
        height: 6px;
        width: 80%;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);

        .v_Test_VC_InProgress {
            background: #2d76d9;
            height: 6px;
            width: 0;
        }
    }
    .v_Test_VC_Progress_Text {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0.24rem;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;

        .v_Test_VC_Progress_Correct {
            color: #659cdb;
        }
        .v_Test_VC_Progress_WordCount {
            color: #969ca3;
        }
    }
    .v_Test_VC_Word {
        margin-bottom: 0.4rem;
        width: 50%;
        font-family: PingFangSC-Regular;
        font-size: 0.6rem;
        text-align: center;
        line-height: 1.12rem;
        color: #2a2b2c;
    }
    .v_Test_VC_SelectItem {
        margin-bottom: 0.3rem;
        display: flex;
        align-items: center;
        width: 80%;
        min-height: 1rem;
        cursor: pointer;
        box-shadow: 0px 4px 3px 0px rgba(212, 219, 226, 0.16);
        border-radius: 3px;
        border: solid 1px #e9edf2;
    }
    .v_Test_VC_SelectItem_Result {
        margin-bottom: 0.3rem;
        display: flex;
        align-items: center;
        width: 80%;
        min-height: 1rem;
        box-shadow: 0px 4px 3px 0px rgba(212, 219, 226, 0.16);
        border-radius: 3px;
        border: solid 1px #e9edf2;
        cursor: default;
    }
    @media @media-up-sm {
        .v_Test_VC_SelectItem,
        .v_Test_VC_SelectItem_Result {
            width: 8rem;
        }
    }
    .v_Test_VC_SelectItem_Text {
        width: 100%;
        font-family: PingFangSC-Regular;
        font-size: 0.32rem;
        line-height: 0.5rem;
        text-align: center;
        white-space: pre-wrap;
    }
    .v_Test_VC_SelectItem:hover {
        background: #cbe7ff;
    }
}
