@import '~asset/style/_cine.less';
@import './Switch.less';

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0.2rem;
    height: 1.34rem;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: #ebf3fb;
    border-bottom-width: 2px;

    .leftActions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: auto;
        background-color: transparent;

        .backButton {
            margin-left: -0.2rem;
            cursor: pointer;
            font-family: PingFangSC-Medium;
            font-size: 0.36rem;
            color: #3a3b3c;
            white-space: pre-wrap;
        }
        .subTitle {
            font-family: PingFangSC-Regular;
            padding-top: 0.06rem;
            font-size: 0.32rem;
        }
    }
    .rightActions {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: auto;

        .actionItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            height: auto;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #7a7b7c;
            white-space: pre-wrap;
        }
    }
}

@media @media-up-xs {
    .headerContainer {
        flex-direction: row;
    }
}
