@import '~asset/style/_cine.less';

.bgt {
    background-color: transparent;
}

.lesson {
    background-color: #fafafa;
    min-height: 100px;


    &.lastVisit {
        background-color: #90CAF9;
    }

    .top{
        display: flex;
        flex-direction: row;
        padding: 10px;
        .no{
            font-size: 12px;
            width: 50%;

        }
        .fromto{
            font-size: 12px;
            
        }
    }
    .middle{
        height: 1px;
        background-color: #EEEEEE;
    }
    .bottom{
        padding: 10px;
        .quizScore{
            font-size: 12px;

        }
        .quiz{
            font-size: 12px;            
        }
    }
}
