@import '~asset/style/_cine.less';

.vocabularyTest{

    display: flex;
    flex-direction: column;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    flex: 1;
    width: 100%;
    background-color: white;

    .v_Test_VocabularyHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
        border-bottom: solid;
        border-bottom-color: #f5f9fc;
        border-bottom-width: 1px;

        .backButton {
            width: 0.4rem;
            height: 0.4rem;
            padding-top: 0.02rem;
            font-size: 0.36rem;
            margin-right: 0.2rem;
            cursor: pointer;
        }
        .v_Test_H_TaskName{
            color: #3a3b3c;
            font-size: 0.36rem;
        }

        .v_Test_H_HistoryDoor{
            width: 0.4rem;
            height: 0.4rem;
            background-color: transparent;
        }
    }

    .v_Test_VocabularyContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;

        .v_Test_VC_Promot_Start {
            margin-top: 2.4rem;
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            color: #3a3b3c;
        }

        .v_Test_VC_Test_Start {
            cursor: pointer;
            margin-top: 1.6rem;
            width: 3rem;
            height: 3rem;
            border-radius: 1.5rem;
            padding-top: 1.25rem;
            background-color: #175cb9;
            text-align: center;
            color: #fff;
            font-family: PingFangSC-Regular;
            font-size: 0.42rem;
        }

        .v_Test_VC_Progress {
            margin-top: 1.1rem;
            background-color: #eef7ff;
            height: 6px;
            width: 80%;
            
            .v_Test_VC_InProgress {
                background: #2d76d9;
                height: 6px;
                width: 0;
            }
        }
        .v_Test_VC_Progress_Text {
            margin-top: 0.12rem;
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-family: PingFangSC-Regular;
            font-size: 0.2rem;

            .v_Test_VC_Progress_Correct {
                color: #659cdb;
            }
            .v_Test_VC_Progress_WordCount {
                color: #969ca3;
            }
        }
        .v_Test_VC_Word {
            margin-top: 0.9rem;
            margin-bottom: 0.6rem;
            width: 50%;
            font-family: PingFangSC-Regular;
            font-size: 0.6rem;
            text-align: center;
            line-height: 1.12rem;
            color: #2a2b2c;
        }
        .v_Test_VC_SelectItem {
            margin-bottom: 0.3rem;
            display: flex;
            align-items: center;
            width: 80%;
            min-height: 1.2rem;
            cursor: pointer;
            box-shadow: 0px 4px 3px 0px
            rgba(212, 219, 226, 0.16);
            border-radius: 3px;
            border: solid 1px #e9edf2;
        }
        .v_Test_VC_SelectItem_Result {
            margin-bottom: 0.3rem;
            display: flex;
            align-items: center;
            width: 80%;
            min-height: 1.2rem;
            box-shadow: 0px 4px 3px 0px
            rgba(212, 219, 226, 0.16);
            border-radius: 3px;
            border: solid 1px #e9edf2;
        }
        .v_Test_VC_SelectItem_Text {
            width: 100%;
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            line-height: 0.5rem;
            text-align: center;
            white-space: pre-wrap;
        }
        .v_Test_VC_SelectItem:hover {
            background: #cbe7ff;
        }
    }
}

@media @media-up-xs {
    .vocabularyTest {
        padding-left: 0.8rem;
        padding-right: 0.8rem;

        .v_Test_VocabularyHeader {
            justify-content: flex-start;
            .backButton {
                font-size: 0.32rem;
                padding-top: 0.04rem;
            }
            .v_Test_H_TaskName{
                font-size: 0.32rem;
            }
        }
    }
}