@import '~asset/style/common';
@import '~asset/style/_cine.less';
@import './Select.less';

.listBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    padding: 0.2rem 0 0.2rem 0;
    flex: 1;
}
.v_Task_L_Vocabulary_Content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0.24rem 0.24rem 0.24rem 0.24rem;
}
.v_Task_L_VocabularyItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    cursor: pointer;
    align-items: center;
    height: 100%;
}
.v_Task_L_Vocabulary_Status {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
    font-size: 0.24rem;
    margin-left: 0.2rem;

    .v_status_Vocabulary_Status_promote {
        display: none;
        margin-left: 0.18rem;
        color: #9a9b9c;
    }
}

.v_Task_L_Item_Info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;

    .v_Task_L_Item_Seq {
        width: 0.7rem;

        margin-top: 0.08rem;
        font-size: 0.2rem;
        text-align: right;
        color: #3a3b3c;
    }
    .v_Task_L_Item_Value {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .v_Task_L_Item_Word {
        //margin-left: 0.2rem;
        font-weight: 500;
        font-size: 0.36rem;
        color: #1d70d6;
        word-break: break-all;
    }
    .v_Task_L_Item_Phonetic {
        margin-left: 0.2rem;
        font-family: 'lucida sans unicode', arial, sans-serif;
        font-size: 0.24rem;
        color: #7a7b7c;
        word-break: break-all;
    }
    .v_Task_L_Item_Voice {
        margin-left: 0.2rem;
        font-size: 0.32rem;
        margin-top: 0.04rem;
        color: #4d80de;
    }
}

.v_Task_L_Item_Transition {
    display: inline-block;
    width: 100%;
    //padding-left: 0.9rem;
    margin-top: 0.28rem;

    font-size: 0.28rem;
    text-align: left;
    line-height: 0.5rem;
    letter-spacing: 0;
    white-space: pre-wrap;
    color: #3a3b3c;
}

@media @media-up-xs {
    .v_Task_L_Vocabulary_Content {
        align-items: center;
    }
    .v_Task_L_VocabularyItem {
        flex-direction: row;
    }

    .v_Task_L_Vocabulary_Status {
        .v_status_Vocabulary_Status_promote {
            display: inline-block;
        }
    }

    .v_Task_L_Item_Info {
        display: flex;
        width: 50%;
        justify-content: flex-start;

        .v_Task_L_Item_Seq {
            display: inline-block;
            width: 0.55rem;

            font-size: 0.2rem;
            text-align: right;
            color: #3a3b3c;
        }
        .v_Task_L_Item_Value {
            display: flex;
            flex-grow: inherit;
            flex-direction: row;
            align-items: center;
        }
        .v_Task_L_Item_Word {
            //margin-left: 0.36rem;
        }
        .v_Task_L_Item_Phonetic {
            margin-left: 0.2rem;
            font-family: 'lucida sans unicode', arial, sans-serif;
            font-size: 0.24rem;
            color: #7a7b7c;
        }
    }

    .v_Task_L_Item_Transition {
        display: inline-block;
        width: 50%;
        padding-left: 0.5rem;
        margin-top: 0;

        font-size: 0.28rem;
        text-align: left;
        line-height: 0.5rem;
        letter-spacing: 0;
        white-space: pre-wrap;
        color: #3a3b3c;
    }
}
