@import '~asset/style/_cine.less';

.bgt {
    background-color: transparent;
}

.lesson {
    background-color: #fafafa;
    min-height: 100px;

    &.lastVisit {
        background-color: #90CAF9;
    }
}
