@import '~asset/style/common';
@import '~asset/style/_cine.less';
@import './Switch.less';
@import './Select.less';
@import './WordContent';

.wordCard-Body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex: 1 1 100%;

    .lastContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 0;
        height: auto;
        .lastWord {
            width: 100%;
            height: 40%;
            cursor: pointer;
        }
    }
    .lastContainer:hover {
        .lastWord {
            background: url("../image/lword_card_arrow_left.svg") no-repeat center;
            background-size: contain;
        }
    }
    .nextContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 0;
        height: auto;
        .nextWord {
            width: 100%;
            height: 40%;
            cursor: pointer;
        }
    }
    .nextContainer:hover {
        .nextWord {
            background: url("../image/lword_card_arrow_right.svg") no-repeat center;
            background-size: contain;
        }
    }
    .currentWord {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 2rem 0 1rem 0;
    }
    .wordDetail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }
    .wordDetail.hover .wordDetail-flipper {
        transform: rotateY(180deg);
    }
    .wordDetail-flipper {
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    .back {
        transform: rotateY(180deg);
    }
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .wordInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .word {
        font-family: PingFangSC-Medium;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #4d80de;
        text-align: center;
    }
    .phonetic {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: ArialMT;
        margin-top: 0.1rem;
        font-size: 0.3rem;
        color: #9E9E9E;
        cursor: pointer;

        .voice {
            margin-left: 0.32rem;
            font-size: 0.32rem;
            color: #4d80de;
        }
    }
    .hadGrasp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex:0 0 0.8rem;
        margin-top: 2.3rem;
        cursor: pointer;
        .graspPromote {
            height: 0.3rem;
            margin-left: 0.2rem;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            color: #9a9b9c;
        }
    }
    .transition {
        padding: 1rem 0 1rem 0;
        max-height: 8.7rem;
        .zh-Test {
            max-height: 6.3rem;
            text-align: center;
            font-family: PingFangSC-Medium;
            font-size: 0.6rem;
            line-height: 0.9rem;
            color: #4d80de;
            white-space: pre-wrap;
            overflow: hidden;
        }
    }
}
.wordCard-Body-Done {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 1rem 0 1rem 0;

    .congratulation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .congratulation-Image {
        width: 1.68rem;
        height: 1.68rem;
        background: url("../image/lword_card_congratulation.svg") no-repeat center;
        background-size: contain;
    }
    .congratulation-Text {
        margin-top: 0.95rem;
        padding: 0 1rem 0 1rem;
        font-family: PingFangSC-Medium;
        font-size: 0.48rem;
        color: #4d80de;
    }
    .congratulation-SubText {
        margin-top: 0.4rem;
        padding: 0 1rem 0 1rem;
        font-family: PingFangSC-Regular;
        font-size: 0.36rem;
        line-height: 0.54rem;
        color: #3a3b3c;
        text-align: center;
    }
    .functionCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;

        .repeatCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 0.97rem;
            width: 64%;
            background-color: #5caefa;
            color: white;
            font-family: PingFangSC-Medium;
            font-size: 0.36rem;
            border: solid 1px #e0ebfb;
            border-radius: 0.485rem;
            cursor: pointer;
        }
        .testCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 0rem;
            margin-top: 0.54rem;
            height: 0.97rem;
            width: 64%;
            background-color: #ff9343;
            color: white;
            font-family: PingFangSC-Medium;
            font-size: 0.36rem;
            border-radius: 0.485rem;
            cursor: pointer;
        }
        .functionText {
            width: 100%;
            height: auto;
            text-align: center;
        }
    }
}
.wordCard-Set {
    display: inline-block;
    width: 1.02rem;
    height: 1.02rem;
    padding: 0.3rem;
}

.wordCard-Footer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    width: 100%;
}
.autoChangeWord {
    display: flex;
    flex-direction: row;
    align-items: center;
    .autoImage {
        width: 14px;
        height: 17px;
        margin-right: 13px;
    }
    .autoText {
        font-family: PingFangSC-Medium;
        font-size: 0.24rem;
        color: #7a7b7c;
        margin-right: 17px;
    }
}
.reviseChangeWord {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 38px;
    .reviseImage {
        width: 18px;
        height: 17px;
        margin-right: 13px;
    }
    .reviseText {
        font-family: PingFangSC-Medium;
        font-size: 0.24rem;
        color: #7a7b7c;
        margin-right: 17px;
    }
}

@media @media-up-xs {
    .wordCard-Body {
        .word {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
        .transition {
            .zh-Test {
                font-size: 0.84rem;
                line-height: 1.2rem;
            }
        }
    }
}
@media @media-up-sm {

    .wordCard-Body {
        .lastContainer {
            width: 1.2rem;
        }
        .nextContainer {
            width: 1.2rem;
        }
        .currentWord {
            padding: 2.88rem 0 1.2rem 0;
        }
        .word {
            font-size: 1.02rem;
            line-height: 1.5rem;
        }
        .phonetic {
            font-size: 0.36rem;
            color: #9E9E9E;
            .voice {
                margin-left: 0.24rem;
            }
        }
        .transition {
            .zh-Test {
                font-size: 0.5rem;
                line-height: 0.8rem;
                text-align: left;
            }
        }
        .hadGrasp {
            margin-top: 2.5rem;
        }
    }
    .wordCard-Body-Done {
        .congratulation-Image {
            width: 1.92rem;
            height: 1.92rem;
        }
        .congratulation-Text {
            margin-top: 1rem;
            font-size: 0.48rem;
        }
        .congratulation-SubText {
            margin-top: 0.36rem;
            font-size: 0.36rem;
            line-height: 0.66rem;
        }
        .functionCard {
            flex-direction: row;
            align-items: center;

            .repeatCard {
                height: 1.2rem;
                width: 4.2rem;
                font-size: 0.4rem;
                border-radius: 0.6rem;
            }
            .testCard {
                margin-left: 1.2rem;
                margin-top: 0;
                height: 1.2rem;
                width: 4.2rem;
                font-size: 0.4rem;
                border-radius: 0.6rem;
            }
            .functionText {
                width: 100%;
                height: auto;
                text-align: center;
            }
        }
    }
    .wordCard-Set {
        display: none;
    }
    .wordCard-Footer {
        display: flex;
        justify-content: flex-end;
        height: 1.44rem;
        width: 100%;
    }
    .autoChangeWord {
        display: flex;
        flex-direction: row;
        align-items: center;
        .autoImage {
            width: 14px;
            height: 17px;
            margin-right: 13px;
        }
        .autoText {
            font-family: PingFangSC-Medium;
            font-size: 0.24rem;
            color: #b2b3b4;
            margin-right: 17px;
        }
    }
    .reviseChangeWord {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 38px;
        .reviseImage {
            width: 18px;
            height: 17px;
            margin-right: 13px;
        }
        .reviseText {
            font-family: PingFangSC-Medium;
            font-size: 0.24rem;
            color: #b2b3b4;
            margin-right: 17px;
        }
    }
}
