@import '~asset/style/common';
@import '~asset/style/_cine.less';
@import './Switch.less';
@import './Select.less';

.vocabularyTask{

    display: flex;
    align-content: space-between;
    flex-direction: column;
    min-height:100%;
    width: 100%;
    background-color: white;

    .v_Task_VocabularyHeader {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
        border-bottom: solid;
        border-bottom-color: #f5f9fc;
        border-bottom-width: 1px;
        padding: 0.5rem 0.2rem 0.2rem 0.2rem;

        .back-Image-Header {
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            cursor: pointer;
        }

        .header-Left {
            display: flex;
            flex-direction: row;
            align-items: center;
            .back-Image-Left {
                display: none;
                width: 0.4rem;
                height: 0.4rem;
                margin-right: 0.2rem;
                cursor: pointer;
            }
            .v_Task_H_TaskName{
                color: #3a3b3c;
                font-size: 0.36rem;
                margin-right: 0.2rem;
            }
            .showAll-Title {
                display: none;
                margin-right: 0.2rem;
                font-family: PingFangSC-Regular;
                font-size: 0.32rem;
                color: #7a7b7c;
            }
            .showAll-Select {
                display: none;
            }
        }
        .wordList-ToCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            .cardImage {
                width: 0.44rem;
                height: 0.44rem;
                margin-left: 0.2rem;
                margin-right: 0.2rem;
            }
            .wordList-CardTitle{
                display: none;
                font-family: PingFangSC-Regular;
                font-size: 0.32rem;
                color: #7a7b7c;
            }
        }
    }

    .v_Task_VocabularyList{
        padding-top: 0.2rem;
        flex-grow: 1;
        clear: both;
        width: 100%;
    }
    .v_Task_L_Vocabulary_Content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding-top: 0.24rem;
        padding-bottom: 0.24rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    .v_Task_L_VocabularyItem{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        width: 85%;
    }
    .v_Task_L_Vocabulary_Status {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: PingFangSC-Regular;
        justify-content: space-around;
        font-size: 0.28rem;

        .v_status_Vocabulary_Status_promote {
            display: none;
            margin-left: 0.18rem;
            color: #7a7b7c;
        }
    }

    .v_Task_L_Item_Info{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        //justify-content: flex-start;

        .v_Task_L_Item_ Seq{
            width: 0.66rem;
            font-family: PingFangSC-Regular;
            font-size: 0.24rem;
            text-align: right;
            color: #3a3b3c;
            float: left;
        }
        .v_Task_L_Item_Value{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .v_Task_L_Item_Word{
            margin-left: 0.5rem;
            font-family: PingFangSC-Medium;
            font-size: 0.4rem;
            color: #1d70d6;
        }
        .v_Task_L_Item_Phonetic{
            margin-left: 0.2rem;
            font-family: ArialMT;
            font-size: 0.28rem;
            color: #7a7b7c;
        }
        .v_Task_L_Item_Voice{
            margin-left: 0.48rem;
            right: 0;
            float: left;
            width: 0.4rem;
            height: 0.4rem;
            background: url("../image/voice.png") no-repeat center;
        }
    }

    .v_Task_L_Item_Transition{
        display: inline-block;
        width:100%;
        padding-left: 1rem;
        margin-top: 0.28rem;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        text-align: left;
        line-height: 0.5rem;
        letter-spacing: 0;
        white-space: pre-wrap;
        color: #3a3b3c;
    }
}

@media @media-up-xs{
    .vocabularyTask {
        .v_Task_VocabularyHeader {
            padding: 0.5rem 0.4rem 0.2rem 0.4rem;

            .back-Image-Header {
                display: none;
            }

            .header-Left {
                .back-Image-Left {
                    display: inline-block;
                }
                .v_Task_H_TaskName{
                    font-size: 0.4rem;
                }
                .showAll-Title {
                    display: inline-block;
                }
                .showAll-Select {
                    display: inline-block;
                }
            }
            .wordList-ToCard {
                .wordList-CardTitle{
                    display: inline-block;
                }
            }
        }
        .v_Task_L_Vocabulary_Content {
            align-items: center;
        }
        .v_Task_L_VocabularyItem{
            flex-direction: row;
            cursor: pointer;
        }

        .v_Task_L_Vocabulary_Status {
            .v_status_Vocabulary_Status_promote {
                display: inline-block;
            }
        }

        .v_Task_L_Item_Info{
            display: flex;
            width: 35%;
            justify-content: flex-start;

            .v_Task_L_Item_ Seq{
                display: inline-block;
                width: 0.66rem;
                font-family: PingFangSC-Regular;
                font-size: 0.24rem;
                text-align: right;
                color: #3a3b3c;
            }
            .v_Task_L_Item_Value{
                display: flex;
                flex-grow: inherit;
                flex-direction: row;
                align-items: center;
            }
            .v_Task_L_Item_Word{
                margin-left: 0.4rem;
                font-family: PingFangSC-Medium;
                font-size: 0.4rem;
                color: #1d70d6;
            }
            .v_Task_L_Item_Phonetic{
                margin-left: 0.2rem;
                font-family: ArialMT;
                font-size: 0.28rem;
                color: #7a7b7c;
            }
            .v_Task_L_Item_Voice{
                margin-left: 0.48rem;
                width: 0.4rem;
                height: 0.4rem;
                background: url("../image/voice.png") no-repeat center;
            }
        }

        .v_Task_L_Item_Transition{
            display: inline-block;
            width:60%;
            padding-left: 0;
            margin-top: 0;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            text-align: left;
            line-height: 0.5rem;
            letter-spacing: 0;
            white-space: pre-wrap;
            color: #3a3b3c;
        }
    }
}