@import '~asset/style/common';
@import '~asset/style/_cine.less';

.wordContent {
    background-color: #f4fcfe;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.word-Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    font-size: 0.36rem;
    text-align: left;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: #ebf3fb;
    border-bottom-width: 2px;

    .backButton {
        width: 0.4rem;
        height: 0.4rem;
        background-size: contain;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .taskTitle {
        color: #3a3b3c;
    }
    .lastLocation {
        width: 0.4rem;
        height: 0.4rem;
        background-color: transparent;
    }
}

.word-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0.7rem 0;
    margin: 0 0.5rem 0 0.5rem;
    border-style: none none solid none;
    border-color: #ebf3fb;
    border-width: 2px;
}

.word-Count {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 85%;
}
.word-grasp {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.word-grasp-text {
    font-family: PingFangSC-Regular;
    font-size: 0.36rem;
    color: #3a3b3c;
}
.word-grasp-count {
    height: auto;
    font-family: JustOldFashion-Condensed;
    font-size: 0.84rem;
    color: #1b71db;
    margin-left: 0.4rem;
}
.word-ungrasp {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.word-ungrasp-text {
    font-family: PingFangSC-Regular;
    font-size: 0.36rem;
    color: #3a3b3c;
}
.word-ungrasp-count {
    height: auto;
    font-family: JustOldFashion-Condensed;
    font-size: 0.8rem;
    color: #1b71db;
    margin-left: 0.4rem;
}
.word-Learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 80%;
    height: 1.16rem;
    border-radius: 0.58rem;
    background-color: #65b7f7;
    cursor: pointer;
    .icon {
        width: 0.73rem;
        height: 0.73rem;
    }
    .text {
        margin-left: 0.62rem;
    }
}
.word-Test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.58rem;
    width: 80%;
    height: 1.16rem;
    border-radius: 0.58rem;
    background-color: #72caef;
    cursor: pointer;
    .icon {
        width: 0.55rem;
        height: 0.65rem;
    }
    .text {
        margin-left: 0.51rem;
    }
}
.text{
    width: auto;
    color: white;
    text-align: left;
    font-size: 0.36rem;
    font-family: PingFangSC-Medium;
}
.word-Footer {
    padding-top: 0.42rem;
    padding-bottom: 0.67rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #8db9d8;
    .english {
        font-family: AvenirNext-Regular;
        font-size: 0.28rem;
        line-height: 0.42rem;
    }
    .chinese {
        margin-top: 0.25rem;
        font-family: PingFangSC-Light;
        font-size: 0.24rem;
        line-height: 0.36rem;
    }
}

@media @media-up-xs {
    .word-Header {
        font-size: 0.32rem;
        justify-content: flex-start;

        .backButton {
            margin-left: 0;
        }
    }
    .wordContent {
        min-height: 300px;
        padding: 0 0.8rem 0 0.8rem;
    }
    .word-Body {
        padding: 1.2rem 0 0.8rem 0;
        margin: 0;
    }
    .word-Count {
        width: 60%;
    }
    .word-Test {
        width: 6.4rem;
        height: 1.6rem;
        font-size: 0.48rem;
        font-family: PingFangSC-Medium;
    }
    .word-Learn {
        margin-top: 1.2rem;
        width: 4.8rem;
        height: 1.2rem;
        border-radius: 0.6rem;
        background-color: #65b7f7;
        cursor: pointer;
        font-size: 0.48rem;
        font-family: PingFangSC-Medium;
        .icon {
            width: 0.65rem;
            height: 0.65rem;
        }
        .text {
            margin-left: 0.54rem;
        }
    }
    .word-Test {
        margin-top: 0.8rem;
        width: 4.8rem;
        height: 1.2rem;
        border-radius: 0.6rem;
        background-color: #72caef;
        cursor: pointer;
        .icon {
            width: 0.65rem;
            height: 0.65rem;
        }
        .text {
            margin-left: 0.45rem;
        }
    }
    .word-grasp-count {
        margin-left: 1rem;
    }
    .word-ungrasp-count {
        margin-left: 1rem;
    }
    .word-Footer {
        padding-top: 0.3rem;
        padding-bottom: 0.6rem;
        padding-left: 0.34rem;
        padding-right: 0.34rem;
        color: #8db9d8;
        .english {
            font-family: AvenirNext-Regular;
            font-size: 0.36rem;
            line-height: 0.54rem;
        }
        .chinese {
            margin-top: 0.25rem;
            font-family: PingFangSC-Light;
            font-size: 0.32rem;
            line-height: 0.48rem;
        }
    }
}