@import '~asset/style/_cine.less';

.wordContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0.06rem 0.104rem 0.184rem 0.016rem
    rgba(186, 187, 187, 0.07);
}

@media @media-up-xs {
    .wordContent {
        padding: 0 0.8rem 0 0.8rem;
    }
}