.login-detect {
    padding-top: 1.62rem;
    padding-bottom: 0.4rem;
    font-size: 0;
    text-align: center;
    .title {
        padding: 0 0.75rem;
        font-size: 0.3rem;
        line-height: 0.54rem;
        text-align: center;
    }
    .bg-welcome {
        width: 4.57rem;
        height: 1.66rem;
        margin: 0.86rem auto 1.9rem;
        background: url(../image/pic_test_welcome@2x.png) no-repeat center;
        background-size: contain;
    }
    .btn {
        display: block;
        margin: auto;
    }
    .margin-bottom-72 {
        margin-bottom: 0.72rem;
    }
}
