.report {
    padding-top: 0.55rem;
    padding-bottom: 1.8rem;
    text-align: center;
    .title {
        font-size: 0.32rem;
        color: #2f2f2f;
        margin-bottom: 0.44rem;
    }
    .vocab {
        font-size: 0.48rem;
        color: #f95015;
        margin-bottom: 0.4rem;
    }
    .line {
        width: 6.4rem;
        height: 0.02rem;
        margin: 0 auto 0.52rem;
        background-color: #d2e0f3;
    }
    .rank {
        padding-left: 0.44rem;
        text-align: left;
        font-size: 0.28rem;
        line-height: 0.48rem;
        color: #2f2f2f;
        span {
            color: #f95015;
        }
    }
    .recommend-title {
        font-size: 0.28rem;
        color: #5792d6;
        margin-bottom: 0.23rem;
    }
    .pie-react {
        margin-bottom: 0.3rem;
    }
    .recommend-detail {
        list-style: none;
        font-size: 0;
        margin-bottom: 0.5rem;
        li {
            font-size: 0.28rem;
            line-height: 0.48rem;
            color: #2f2f2f;
            width: 29.9%;
            display: inline-block;
            text-align: left;
        }
    }
    .recommend-list {
        width: 6.6rem;
        margin: 0 auto 0.4rem;
        background-color: #fff;
        border: solid 0.01rem #c6d8e4;
        border-radius: 0.06rem;
        padding: 0.2rem 0.15rem;
        text-align: left;
        .recommend-item {
            font-size: 0;
            padding-bottom: 0.2rem;
            .item-img {
                display: inline-block;
                width: 2rem;
                height: 1.12rem;
                margin-right: 0.22rem;
                vertical-align: top;
                border: solid 0.01rem #c3c4c5;
            }
            .item-brief {
                display: inline-block;
                vertical-align: top;
                padding-top: 0.1rem;
                text-align: left;
                & * {
                    width: 4rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    word-break: break-all;
                }
                .item-title {
                    font-size: 0.3rem;
                    color: #2b2c2c;
                    margin-bottom: 0.18rem;
                }
                .item-desc {
                    font-size: 0.24rem;
                    color: #a1a3a6;
                }
            }
        }
        .recommend-item:last-child {
            padding-bottom: 0;
        }
    }
}
