.report-list {
    table.table {
        margin: 0.5rem auto;
        text-align: center;
        border-collapse: collapse;
        thead {
            font-size: 0.3rem;
            color: #225fb2;
            th {
                border-bottom: 0.04rem solid #4272ba;
                padding: 0.22rem 0.35rem;
            }
        }
        tbody {
            font-size: 0.28rem;
            color: #3d3e3f;
            tr {
                td {
                    padding: 0.36rem;
                    border-bottom: 0.02rem solid #d2ddeb;
                }
                &:active {
                    background-color: rgba(171, 218, 255, 0.35);
                }
            }
        }
    }

    .list-footer {
        position: fixed;
        background-color: #e2f3fe;
        bottom: 0;
        left: 0;
        height: 2.4rem;
        width: 100%;
        text-align: center;
    }
}
