.user-info {
    text-align: center;
    padding-top: 0.96rem;
    padding-bottom: 0.4rem;
    font-size: 0;
    .title {
        font-size: 0.36rem;
        color: #2f2f2f;
        margin-bottom: 0.38rem;
    }
    .tips {
        font-size: 0.28rem;
        color: #959699;
        margin-bottom: 0.8rem;
    }
    .form {
        padding: 0 0.44rem;
        .form-item {
            .form-label {
                font-size: 0.3rem;
                color: #225fb2;
                text-align: left;
            }
            .form-control {
                border-bottom: 0.02rem solid #c4dcf5;
                position: relative;
                text-align: left;
                margin-bottom: 0.58rem;
                select {
                    border: none;
                    appearance: none;
                    font-size: 0.32rem;
                    background-color: transparent;
                    color: #222222;
                    width: 100%;
                    padding: 0.3rem 0.16rem;
                    &:focus {
                        outline: none;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0.36rem;
                    right: 0;
                    background: url(../image/test_arr_down@2x.png) no-repeat
                        center;
                    background-size: contain;
                    width: 0.4rem;
                    height: 0.21rem;
                    z-index: -1;
                }
            }
        }
    }
}
