.welcome {
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    text-align: center;
    .start-bg {
        width: 100%;
        height: 5.6rem;
        background: url(../image/pic_test_start@2x.png) no-repeat center;
        background-size: contain;
    }
    .tips {
        width: 5.63rem;
        font-size: 0.28rem;
        line-height: 0.4rem;
        color: #659cdb;
        margin: 0.6rem auto 0.7rem;
    }
}
