@import "~asset/style/common.less";

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #e2f3fe;
}

#root{
  max-width: 575px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 2.22rem;
}

.wrapper.mini {
  padding-bottom: 1.46rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.22rem;
  background: url(../image/bg_test_footbig@2x.png) no-repeat center bottom;
  background-size: cover;
  font-size: 0;
  text-align: center;
}

.footer.fixed {
  position: fixed;
}

.footer.mini {
  height: 1.46rem;
  background: url(../image/bg_test_foot@2x.png) no-repeat center;
  background-size: cover;
}

.word-main {
  position: relative;
  height: 100%;
  .map-bg {
    position: absolute;
    z-index: -1;
    top: 2.4rem;
    padding: 0 .28rem;
    width: 100%;
    height: 3.50rem;
    background: url(../image/bg_test_map@2x.png) no-repeat center;
    background-size: contain;
  }

  @import "./welcome";
  @import "./loginDetect";
  @import "./card";
  @import "./userInfo";
  @import "./report";
  @import "./reportList";

  span.orange {
    color: #e1a923;
  }
  span.blue {
    color: #1a519b;
  }
  button.btn {
    width: 5.2rem;
    height: 1.10rem;
    border-radius: .06rem;
    font-size: .42rem;
    text-align: center;
    color: #fff;
    box-shadow: .03px .052rem .077rem .030rem rgba(35, 65, 119, 0.14);
    &:focus {
      outline: none;
    }
    &.btn_orange {
      background-color: #ff6d00;
      border: 1px #ff6d00;
    }
    &.btn_blue {
      background-color: #1A519B;
      border: 1px #1A519B;
    }
    &.btn_option {
      width: 5.60rem;
      height: 1.00rem;
      background-color: #fff;
      border: 1px #fff;
      color: #2f2f2f;
      font-size: .32rem;
      margin-bottom: .35rem;
      //.btn_option-enter{
      //  background-color: #fed57f;
      //  border-color: #fed57f;
      //}
      //.btn_option-enter-active {
      //  background-color: #fed57f;
      //  border-color: #fed57f;
      //}
      &:active {
        background-color: #fed57f;
        border-color: #fed57f;
      }
      &:active {
        transform: scale(.98, .95);
      }
    }
    &.btn_no_remember {
      color: #4c93db;
    }

    &.btn_sm {
      width: 3.00rem;
      height: .96rem;
    }
    &.btn_try {
      margin-top: .70rem;
    }
    &.btn_share {
      margin-top: .70rem;
      margin-left: .45rem;
    }
  }
}