@import "~slick-carousel/slick/slick.less";
@import "~slick-carousel/slick/slick-theme.less";

.home-container {
  .slider-item {
    height: 2.60rem;
    width: 100%;
    img{
      display: block;
      max-width: 100%;
    }
  }
  .tag-filter{
    font-size: 0;
    .p1-tags{
      .p1-tag{
        font-size: .48rem;
        color: #1a5fbd;
        .p2-tags{
          display: inline-block;
          .p2-tag{
            display: inline-block;
            font-size: .32rem;
            color: #3c3c3c;
          }
        }
      }
    }
  }
}