@import '~asset/style/_cine';

.Floating {
    display: flex;
    justify-content: flex-end;

    &.Container {
        margin-right: 10px;
    }

    .Button {
        width: 70px;
        height: 70px;
    }

    .Location {
        position: fixed;
        bottom: 0.5rem;
    }

    @media @media-up-xs {
        &.Container {
            margin-right: 10px;
        }
    }
    @media @media-up-xs {
        .Location {
            position: fixed;
            bottom: 1rem;
        }
    }

    @media @media-up-sm {
        &.Container {
            margin-right: -35px;
        }
    }
    @media @media-up-sm {
        .Location {
            position: fixed;
            bottom: 3rem;
        }
    }

}