
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon cine-icons ci-card_back"></i>
                    <div class="name">card_back</div>
                    <div class="fontclass">.ci-card_back</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-about"></i>
                    <div class="name">about</div>
                    <div class="fontclass">.ci-about</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-card_checkbox"></i>
                    <div class="name">card_checkbox</div>
                    <div class="fontclass">.ci-card_checkbox</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-card_checked"></i>
                    <div class="name">card_checked</div>
                    <div class="fontclass">.ci-card_checked</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-card_checked1"></i>
                    <div class="name">card_checked1</div>
                    <div class="fontclass">.ci-card_checked1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-address"></i>
                    <div class="name">address</div>
                    <div class="fontclass">.ci-address</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-card_play"></i>
                    <div class="name">card_play</div>
                    <div class="fontclass">.ci-card_play</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-card"></i>
                    <div class="name">card</div>
                    <div class="fontclass">.ci-card</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-coupon"></i>
                    <div class="name">coupon</div>
                    <div class="fontclass">.ci-coupon</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-download"></i>
                    <div class="name">download</div>
                    <div class="fontclass">.ci-download</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-edit_list"></i>
                    <div class="name">edit_list</div>
                    <div class="fontclass">.ci-edit_list</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-edit"></i>
                    <div class="name">edit1</div>
                    <div class="fontclass">.ci-edit</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-good"></i>
                    <div class="name">good</div>
                    <div class="fontclass">.ci-good</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-edit1"></i>
                    <div class="name">edit</div>
                    <div class="fontclass">.ci-edit1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-integral"></i>
                    <div class="name">integral</div>
                    <div class="fontclass">.ci-integral</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-grammar"></i>
                    <div class="name">grammar</div>
                    <div class="fontclass">.ci-grammar</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-page_arr_l"></i>
                    <div class="name">page_arr_l</div>
                    <div class="fontclass">.ci-page_arr_l</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-left_arr"></i>
                    <div class="name">left_arr</div>
                    <div class="fontclass">.ci-left_arr</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-page_arr_r"></i>
                    <div class="name">page_arr_r</div>
                    <div class="fontclass">.ci-page_arr_r</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-radom_play"></i>
                    <div class="name">radom_play</div>
                    <div class="fontclass">.ci-radom_play</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-order"></i>
                    <div class="name">order</div>
                    <div class="fontclass">.ci-order</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-right_arr"></i>
                    <div class="name">right_arr</div>
                    <div class="fontclass">.ci-right_arr</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-stu_work"></i>
                    <div class="name">stu_work</div>
                    <div class="fontclass">.ci-stu_work</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-test"></i>
                    <div class="name">test</div>
                    <div class="fontclass">.ci-test</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-test1"></i>
                    <div class="name">test1</div>
                    <div class="fontclass">.ci-test1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-wordtest"></i>
                    <div class="name">wordtest</div>
                    <div class="fontclass">.ci-wordtest</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-quit"></i>
                    <div class="name">quit</div>
                    <div class="fontclass">.ci-quit</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-teacher"></i>
                    <div class="name">teacher</div>
                    <div class="fontclass">.ci-teacher</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-add"></i>
                    <div class="name">add</div>
                    <div class="fontclass">.ci-add</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-copyright"></i>
                    <div class="name">copyright</div>
                    <div class="fontclass">.ci-copyright</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-green_corret"></i>
                    <div class="name">green_corret</div>
                    <div class="fontclass">.ci-green_corret</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-download1"></i>
                    <div class="name">download</div>
                    <div class="fontclass">.ci-download1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-list_book"></i>
                    <div class="name">list_book</div>
                    <div class="fontclass">.ci-list_book</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-list_book1"></i>
                    <div class="name">list_book1</div>
                    <div class="fontclass">.ci-list_book1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-service"></i>
                    <div class="name">service</div>
                    <div class="fontclass">.ci-service</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-exercises"></i>
                    <div class="name">ico_exercises</div>
                    <div class="fontclass">.ci-exercises</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-video"></i>
                    <div class="name">ico_video</div>
                    <div class="fontclass">.ci-video</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-done"></i>
                    <div class="name">done</div>
                    <div class="fontclass">.ci-done</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-cup"></i>
                    <div class="name">cup3</div>
                    <div class="fontclass">.ci-cup</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-arr_word"></i>
                    <div class="name">arr_word</div>
                    <div class="fontclass">.ci-arr_word</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_list-"></i>
                    <div class="name">ico_list-1</div>
                    <div class="fontclass">.ci-ico_list-</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-circulation"></i>
                    <div class="name">ico_circulation</div>
                    <div class="fontclass">.ci-circulation</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_help"></i>
                    <div class="name">ico_help</div>
                    <div class="fontclass">.ci-ico_help</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_pause"></i>
                    <div class="name">ico_pause</div>
                    <div class="fontclass">.ci-ico_pause</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_play"></i>
                    <div class="name">ico_play</div>
                    <div class="fontclass">.ci-ico_play</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_voice"></i>
                    <div class="name">ico_voice</div>
                    <div class="fontclass">.ci-ico_voice</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-wechat"></i>
                    <div class="name">wechat</div>
                    <div class="fontclass">.ci-wechat</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">cine-icons</span> <span class="hljs-selector-tag">ci-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"cine-icons"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
