
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon cine-icons ci-ico_card_checkedx"></i>
                    <div class="name">ico_card_checked@2x</div>
                    <div class="fontclass">.ci-ico_card_checkedx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_card_listx"></i>
                    <div class="name">ico_card_list@2x</div>
                    <div class="fontclass">.ci-ico_card_listx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_card_backx"></i>
                    <div class="name">ico_card_back@2x</div>
                    <div class="fontclass">.ci-ico_card_backx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_coupon"></i>
                    <div class="name">ico_coupon</div>
                    <div class="fontclass">.ci-ico_coupon</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_about"></i>
                    <div class="name">ico_about</div>
                    <div class="fontclass">.ci-ico_about</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_address"></i>
                    <div class="name">ico_address</div>
                    <div class="fontclass">.ci-ico_address</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_card_playx"></i>
                    <div class="name">ico_card_play@2x</div>
                    <div class="fontclass">.ci-ico_card_playx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_cardx"></i>
                    <div class="name">ico_card@2x</div>
                    <div class="fontclass">.ci-ico_cardx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_edit"></i>
                    <div class="name">ico_edit</div>
                    <div class="fontclass">.ci-ico_edit</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_download"></i>
                    <div class="name">ico_download</div>
                    <div class="fontclass">.ci-ico_download</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_grammar"></i>
                    <div class="name">ico_grammar</div>
                    <div class="fontclass">.ci-ico_grammar</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_radom_playx"></i>
                    <div class="name">ico_radom_play@2x</div>
                    <div class="fontclass">.ci-ico_radom_playx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_edit_list"></i>
                    <div class="name">ico_edit_list</div>
                    <div class="fontclass">.ci-ico_edit_list</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_integral"></i>
                    <div class="name">ico_integral</div>
                    <div class="fontclass">.ci-ico_integral</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_order"></i>
                    <div class="name">ico_order</div>
                    <div class="fontclass">.ci-ico_order</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_wordtestx"></i>
                    <div class="name">ico_wordtest@2x</div>
                    <div class="fontclass">.ci-ico_wordtestx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_stu_work"></i>
                    <div class="name">ico_stu_work</div>
                    <div class="fontclass">.ci-ico_stu_work</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_test"></i>
                    <div class="name">ico_test</div>
                    <div class="fontclass">.ci-ico_test</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-left_arrx"></i>
                    <div class="name">left_arr@2x</div>
                    <div class="fontclass">.ci-left_arrx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-right_arrx"></i>
                    <div class="name">right_arr@2x</div>
                    <div class="fontclass">.ci-right_arrx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_test1"></i>
                    <div class="name">ico_test1</div>
                    <div class="fontclass">.ci-ico_test1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_good"></i>
                    <div class="name">ico_good</div>
                    <div class="fontclass">.ci-ico_good</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_card_checkboxx"></i>
                    <div class="name">ico_card_checkbox@2x</div>
                    <div class="fontclass">.ci-ico_card_checkboxx</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_card_checkedx1"></i>
                    <div class="name">ico_card_checked1@2x</div>
                    <div class="fontclass">.ci-ico_card_checkedx1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_edit1"></i>
                    <div class="name">ico_edit1</div>
                    <div class="fontclass">.ci-ico_edit1</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_quit"></i>
                    <div class="name">ico_quit</div>
                    <div class="fontclass">.ci-ico_quit</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_page_arr_l"></i>
                    <div class="name">ico_page_arr_l</div>
                    <div class="fontclass">.ci-ico_page_arr_l</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_page_arr_r"></i>
                    <div class="name">ico_page_arr_r</div>
                    <div class="fontclass">.ci-ico_page_arr_r</div>
                </li>
            
                <li>
                <i class="icon cine-icons ci-ico_teacher"></i>
                    <div class="name">ico_teacher</div>
                    <div class="fontclass">.ci-ico_teacher</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">cine-icons</span> <span class="hljs-selector-tag">ci-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"cine-icons"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
