@import '../style';
.@{icon} {
}
.cine-icons {
    font-size: 22px;
}

.svg-icons {
    display: inline-flex;
    svg {
        height: 1em;
        width: 1em;
        path {
            fill: currentColor;
        }
    }
}
