@import '../style';

.@{panel} {
    padding: 0.3rem 0.24rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 0.4rem;
}
.@{panel}__head {
    display: flex;

    height: 0.62rem;

    color: rgb(72, 72, 72) ;

    justify-content: space-between;
    align-items: center;
}
.@{panel}__lefthead,
.@{panel}__righthead {
    display: flex;
    align-items: center;
}

.@{panel}__title {
    font-weight: 800;
    font-size: 0.36rem;
    position: relative;
}
.@{panel}__badge {
    font-size: 0.4rem;
    line-height: 0.64rem;

    position: absolute;
    top: -0.3rem;

    min-width: 0.64rem;

    transform: translateX(-20%) scale(0.5, 0.5);
    text-align: center;

    color: #fff;
    border-radius: 0.32rem;
    background-color: #fc3447;
}
.@{panel}__ext {
    font-size: 0.24rem;

    color: #999;
}
.@{panel}__body {
    padding: 0.2rem 0;
}

.@{panel}__body--paddingnone {
    padding: 0 !important;
}

@media @media-up-xs {
    .@{panel} {
        padding: 0.3rem 0.6rem;
    }

    .@{panel}__head {
        height: 0.8rem;
        border-bottom: 1px solid #f5f9fc;
    }
    .@{panel}__title {
        font-size: 0.42rem;
    }
    .@{panel}__ext {
        font-size: 0.28rem;
    }
    .@{panel}__body {
        padding: 0.4rem 0;
    }
}
