.content {
    background: #ff731e;
    max-width: 575px;
    margin: 0 auto;

    .line {
        margin: 0 0.5rem;
        width: auto;
        height: 0.02rem;
        background-color: #ffffff;
        opacity: 0.16;
    }

    .row_a {
        display: flex;
        align-items: center;
        justify-content: center;

        .row_a_val {
            width: 6.5rem;
            height: 6.5rem;
            background: url('../image/bg_fudai.png') no-repeat;
            background-size: 100% 100%;
            margin-top: 0.4rem;

            text-align: center;

            .title {
                height: 0.9rem;
                width: 4.9rem;
            }

            .fudai {
                height: 3.4rem;
                margin-top: 0.6rem;
            }
        }
    }

    .row_b {
        margin: 0.15rem 0.5rem 0.3rem;

        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.2rem;
        letter-spacing: 0rem;
        color: #ffffff;

        display: flex;
        justify-content: space-between;

        span {
            font-family: PingFang-SC-Bold;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
        }

        .max_price {
            font-family: PingFang-SC-Bold;
            font-size: 0.2rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
            padding-right: 0.1rem;
        }
    }

    .row_c {
        margin: 0.15rem 0.5rem 0.05rem;

        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.2rem;
        letter-spacing: 0rem;
        color: #ffffff;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-family: PingFang-SC-Bold;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
        }

        img{
            margin-top: 0.1rem;
            width: 2.8rem;
        }
    }

    .row_d {
        margin: 0.15rem 0.5rem 0.05rem;

        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.2rem;
        letter-spacing: 0rem;
        color: #ffffff;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-family: PingFang-SC-Bold;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
        }

        img{
            margin-top: 0.1rem;
            width: 1.8rem;
        }
    }

    .row_e {
        text-align: center;
        margin: 0.5rem 0 0.3rem;
        font-family: PingFang-SC-Bold;
        font-size: 0.4rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #ffffff;
    }

    .row_f{
        margin: 0.2rem 0.5rem;
        font-family: PingFang-SC-Regular;
        font-size: 0.2rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.4rem;
        letter-spacing: 0rem;
        color: #ffffff;

        padding-bottom: 2rem;
    }
}
