.content_self {
    background: #ff731e;
    max-width: 575px;
    margin: 0 auto;

    .line {
        margin: 0 0.5rem;
        width: auto;
        height: 0.02rem;
        background-color: #ffffff;
        opacity: 0.16;
    }

    .row_a {
        display: flex;
        align-items: center;
        justify-content: center;

        .row_a_val {
            width: 6.5rem;
            height: 6.5rem;
            background: url('../image/bg_fudai.png') no-repeat;
            background-size: 100% 100%;
            margin-top: 0.4rem;

            text-align: center;

            .title {
                height: 0.9rem;
                width: 4.9rem;
            }

            .fudai {
                height: 3.4rem;
                margin-top: 0.6rem;
            }
        }
    }

    .row_b {
        margin: 0.15rem 0.5rem 0.3rem;

        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.2rem;
        letter-spacing: 0rem;
        color: #ffffff;

        display: flex;
        justify-content: space-between;

        span {
            font-family: PingFang-SC-Bold;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
        }

        .max_price {
            font-family: PingFang-SC-Bold;
            font-size: 0.2rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
            padding-right: 0.1rem;
        }
    }

    .row_c {
        margin: 0.15rem 0.5rem 0.05rem;

        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.2rem;
        letter-spacing: 0rem;
        color: #ffffff;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-family: PingFang-SC-Bold;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
        }

        img {
            margin-top: 0.1rem;
            width: 2.8rem;
        }
    }

    .row_d {
        margin: 0.15rem 0.5rem 0.05rem;

        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.2rem;
        letter-spacing: 0rem;
        color: #ffffff;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-family: PingFang-SC-Bold;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.2rem;
            letter-spacing: 0rem;
            color: #fee854;
        }

        img {
            margin-top: 0.1rem;
            width: 1.8rem;
        }
    }

    .row_e {
        text-align: center;
        margin: 0.5rem 0 0.3rem;
        font-family: PingFang-SC-Bold;
        font-size: 0.4rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #ffffff;
    }

    .row_f {
        margin: 0.2rem 0.5rem;
        font-family: PingFang-SC-Regular;
        font-size: 0.2rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.4rem;
        letter-spacing: 0rem;
        color: #ffffff;
    }

    .copyright {
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 0.2rem;
        line-height: 0.45rem;
        .co-desc {
            font-size: 0;
            word-break: keep-all;
            .co-desc-year,
            .co-desc-code {
                display: inline;
                font-size: 0.24rem;
            }

            a {
                color: #ffffff;
            }
        }
    }
}

.content_other {
    background: #ff731e;
    max-width: 575px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
        margin: 0 0.5rem;
        width: auto;
        height: 0.02rem;
        background-color: #ffffff;
        opacity: 0.16;
    }

    .fixed_a {
        top: 0.2rem;
        left: 0.3rem;
        position: absolute;

        img {
            width: 1rem;
        }
    }

    .row_a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0.3rem 0 0.3rem;
            width: 4rem;
        }
    }

    .row_b {
        text-align: center;

        font-family: PingFang-SC-Medium;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #ffffff;

        margin: 0 0.2rem;

        span {
            font-family: PingFang-SC-Medium;
            font-size: 0.36rem;
            font-weight: normal;
            letter-spacing: 0rem;
            color: #fcd94d;
        }
    }

    .row_c {
        display: flex;
        align-items: center;

        width: 6.9rem;
        //height: 2.1rem;

        margin: 0.2rem 0 0;
        background-color: #ffffff;
        border-radius: 0.1rem;

        img {
            width: 2.6rem;
            margin: 0 0.2rem;
        }

        .row_c_col_a {
            width: 3.4rem;

            padding: 0.4rem 0 0.4rem 0.1rem;

            .course_name {
                font-family: PingFang-SC-Medium;
                font-size: 0.3rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.4rem;
                color: #0a0b0c;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical
            }

            .course_teacher {
                margin-top: 0.21rem;
                font-family: PingFang-SC-Regular;
                font-size: 0.2rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.3rem;
                letter-spacing: 0rem;
                color: #0a0b0c;
            }

            .course_subtitle {
                margin-top: 0.14rem;
                font-family: PingFang-SC-Regular;
                font-size: 0.2rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.32rem;
                letter-spacing: 0rem;
                color: #0a0b0c;

                overflow: hidden;
                word-break: keep-all;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .row_d {
        display: flex;
        align-items: center;
        justify-content: center;

        .row_d_val {
            width: 5rem;
            height: 5rem;
            background: url('../image/bg_fudai.png') no-repeat;
            background-size: 100% 100%;

            text-align: center;

            .fudai {
                height: 2.5rem;
                margin-top: 1.4rem;
            }
        }
    }

    .row_e {
        .row_e_val {
            display: flex;
            justify-content: center;

            margin: 0 0 0.1rem;

            .bg {
                background-image: linear-gradient(
                        0deg,
                        #ffffff 0%,
                        rgba(255, 255, 255, 0.38) 100%
                    ),
                    linear-gradient(#ffde44, #ffde44);
                background-blend-mode: overlay, normal;
                box-shadow: inset 0rem -0.06rem 0rem 0rem #ff9a0b;
                border-radius: 0.42rem;

                width: 5.6rem;
                height: 0.9rem;

                display: flex;
                justify-content: center;
                align-items: center;

                color: #0a0b0c;

                span {
                    font-family: PingFang-SC-Bold;
                    font-size: 0.6rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.24rem;
                    letter-spacing: 0rem;
                    color: #e23f30;
                }
            }
        }
    }

    .row_f {
        width: 100%;
        text-align: center;
        margin: 0.5rem 0 0.3rem;
        font-family: PingFang-SC-Bold;
        font-size: 0.4rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #ffffff;
    }

    .row_g {
        width: 100%;
        padding: 0.2rem 0.5rem 0;
        font-family: PingFang-SC-Regular;
        font-size: 0.2rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.4rem;
        letter-spacing: 0rem;
        color: #ffffff;
    }

    .copyright {
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 0.2rem;
        line-height: 0.45rem;
        .co-desc {
            font-size: 0;
            word-break: keep-all;
            .co-desc-year,
            .co-desc-code {
                display: inline;
                font-size: 0.24rem;
            }

            a {
                color: #ffffff;
            }
        }
    }
}

.draw-modal {
    width: 5.6rem;
    height: 2.6rem;
    padding: 0 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: PingFang-SC-Bold;
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.5rem;
    letter-spacing: 0rem;
    color: #0a0b0c;

    .hint_draw {
        font-family: PingFang-SC-Bold;
        font-size: 0.4rem;
        font-weight: normal;
        letter-spacing: 0rem;
        color: #df3121;
    }

    .hint_nickname {
        font-family: PingFang-SC-Bold;
        font-size: 0.3rem;
        font-weight: normal;
        letter-spacing: 0rem;
        color: #e82c32;
    }

    .hint_price {
        font-family: PingFang-SC-Bold;
        font-size: 0.48rem;
        font-weight: normal;
        letter-spacing: 0rem;
        color: #e23f30;
    }
}
