@import '~asset/style/common';
@import '~asset/style/_cine.less';

body {
    .container,
    .container-fluid {
        width: 100%;
    }
}

.panel {
    width: 100%;

    padding: 0.7rem 0.54rem;

    h1 {
        display: none;
    }

    .hint-a {
        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        color: #222222;
    }

    .hint-b {
        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.48rem;
        letter-spacing: 0;
        color: #3a3b3c;
        padding-top: 0.7rem;
        text-indent: 0.6rem;
    }

    .hint-c {
        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.42rem;
        color: #3a3b3c;
        .hint-key {
            color: red;
        }
    }

    .hint-mark {
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.48rem;
        letter-spacing: 0;
        color: #3a3b3c;
        margin-left: 1.35rem;
        text-indent: -0.55rem;
        padding-top: 0.35rem;
    }

    .hint-d {
        padding-top: 0.35rem;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        font-weight: normal;
        font-stretch: normal;
        color: #3a3b3c;
    }

    .hint-e {
        font-family: PingFangSC-Regular;
        font-size: 0.24rem;
        font-weight: normal;
        font-stretch: normal;
        color: #ff5e00;
        margin-top: 0.25rem;
    }

    .hint-f {
        font-family: PingFangSC-Regular;
        font-size: 0.2rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.8rem;
        letter-spacing: 0rem;
        color: #6d6d6d;
        margin-top: 0.03rem;
    }

    .hint-g {
        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.42rem;
        color: #3a3b3c;
        .hint-key {
            color: red;
        }
    }

    .radio-beauty-container {
        font-size: 0;

        .radio-label {
            display: flex;
            width: 100%;
            padding: 0.36rem 0;
            color: #2f2f2f;

            .radio-beauty {
                width: 18px;
                height: 18px;
                box-sizing: border-box;
                display: inline-block;
                border: 1px solid #ff4208;
                vertical-align: middle;
                margin: 0 15px 0 3px;
                border-radius: 50%;
                padding: 2px;
            }

            .radio-content {
                width: 100%;
            }

            .radio-beauty:hover,
            input[type='radio']:checked + .radio-beauty {
                background-color: #ff4208;
                background-clip: content-box;
            }
        }
    }

    > .btn {
        cursor: pointer;
        height: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem 0.24rem;
        background-color: #ff5e00;
        box-shadow: 0 0.06rem 0.07rem 0 rgba(255, 98, 0, 0.24);
        border-radius: 0.08rem;

        font-family: PingFangSC-Medium;
        font-size: 0.42rem;
        font-weight: normal;
        font-stretch: normal;
        color: #ffffff;
    }
}

.success-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 6rem;

    padding: 0.4rem;

    img {
        width: 1rem;
        height: 1rem;
    }

    .none {
        display: none;
    }

    .font-a {
        font-family: PingFangSC-Medium;
        font-size: 0.4rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #3a3b3c;
        margin-top: 0.3rem;
    }

    .font-b {
        font-family: PingFangSC-Regular;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        margin-top: 0.9rem;
        color: #6d6d6d;
        .hint-key {
            color: red;
        }
    }

    .font-c {
        font-family: PingFangSC-Regular;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #6d6d6d;
        margin-top: 0.5rem;
    }

    > .btn {
        cursor: pointer;
        margin-top: 0.6rem;
        width: 3.8rem;
        height: 0.8rem;
        background-color: #ffffff;
        border-radius: 0.1rem;
        border: solid 0.01rem #143d9c;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: PingFangSC-Medium;
        font-size: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.5rem;
        letter-spacing: 0rem;
        color: #0f3795;
        &.none {
            margin-top: 1.7rem;
        }
    }
}

@media @media-up-sm {
    body {
        background-color: #f0f2f3;
        .container {
            background-color: #021a52;
        }
    }

    .panel {
        width: 18.8rem;
        margin: 1rem auto;
        background-color: #ffffff;
        height: 15rem;
        padding: 0.9rem 1.9rem;

        h1 {
            display: block;
            font-family: PingFangSC-Medium;
            font-size: 0.5rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.8rem;
            letter-spacing: 0rem;
            color: #093d8a;
            text-align: center;
            border-bottom: 0.1rem solid #093d8a;
            margin-bottom: 0.5rem;
        }

        .hint-a {
            margin-top: 1.3rem;
            font-family: PingFangSC-Medium;
            font-size: 0.4rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0rem;
            letter-spacing: 0rem;
            color: #222222;
        }

        .btn {
            height: 1.1rem;
            width: 6.2rem;
            margin: 1.3rem auto;
        }
    }

    .success-modal {
        width: 9.6rem;
        padding: 0.9rem;
    }
}
