.article-container {
  line-height: 1;
  .grey-line-bottom(12);
  .title {
    margin-top: 0.15rem;
    padding-left: .20rem;
    font-size: 0.3rem;
    line-height: .80rem;
    color: #2c2c2c;

  }
  .article-category-wrap {
    background-color: #fff;
    font-size: 0;
    border-top: 1px solid #eeeff0;

    .article-category {
      display: inline-block;
      vertical-align: top;
      border-bottom: 1px solid #eeeff0;
      font-size: 0;
      padding: .24rem .20rem .26rem;
      width: 100%;
      .article-category-title {
        font-size: 0.28rem;
        color: #115eb4;
        vertical-align: bottom;
        margin-bottom: 0.16rem;
        .more {
          float: right;
          font-size: 0.24rem;
          color: #78acdc;
          line-height: 0.36rem;
          &:hover {
            color: #0b4da7;
          }
        }
      }
      .article-img {
        float: left;
        width: 1.70rem;
        height: 1.60rem;
        vertical-align: top;
      }

      .article-list {
        display: block;
        padding-left: 1.9rem;
        vertical-align: top;
        .article {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: keep-all;

          font-size: .24rem;
          line-height: .40rem;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover a {
            color: #0b4da7;
          }
          a {
            color: #555;
          }
        }
      }
    }
  }
}

@media @media-up-xs {
  .article-container {
    .article-category-wrap {
      .article-category {
        .article-img {
          width: 3.1rem;
          height: 1.92rem;
        }
        .article-list {
          padding-left: 3.3rem;
          .article {
            font-size: 0.28rem;
            line-height: 0.48rem;
          }
        }
      }
    }
  }
}

@media @media-up-sm {
  .article-container {
    margin-bottom: 0.5rem;
    border-bottom: none;
    .title {
      font-size: 0.36rem;
    }
    .article-category-wrap {
      border-radius: .08rem;
      box-shadow: 0 .08rem .10rem 0 rgba(143, 143, 143, 0.12);
      border-top: none;
      .article-category {
        display: inline-block;
        padding: 0.48rem 0.3rem 0.4rem;
        width: 49.99%;
        &:nth-of-type(odd) {
          border-right: 1px solid #f0f1f2;
        }
        &:nth-last-child(1),
        &:nth-last-child(2) {
          border-bottom: none;
        }
        .article-category-title {
          font-size: .36rem;
        }
      }

    }
  }
}

@media @media-up-md {
  .article-container {
    .title {
      color: #ffca00;
      .text-blue {
        color: #ffca00;
      }
    }
  }
}