.course-feature {
    overflow: hidden;
    color: #666;
    font-size: 17px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    position: relative;
    z-index: 0;
    * {
        max-width: 100% !important;
        box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        word-wrap: break-word !important;
    }
    p {
        clear: both;
        min-height: 1em;
    }
    em {
        font-style: italic;
    }
    fieldset {
        min-width: 0;
    }
}

.course-feature a {
    color: #014292 !important;
    text-decoration: none;
}

.course-feature a.ios {
    font-size: inherit;
    text-decoration: none;
    padding: 8px 0;
}

.course-feature img {
    max-width: 100%;
}

.course-feature .center {
    text-align: center;
}

.course-feature .inline {
    display: inline-block !important;
}

.course-feature .block {
    display: block;
}

.course-feature .gap {
    margin: 15px 0;
}

.course-feature .padding-15 {
    padding: 10px 0 15px 0;
}

.course-feature h2 {
    margin: 20px 0 9px 0;
    font-size: 17px;
    font-weight: bolder;
    border-bottom: none;
}

.course-feature p {
    text-indent: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.75;
}

.course-feature .teacher {
    font-weight: bolder;
}
.course-feature .tip {
    font-weight: bolder;
    color: #de5700;
}


.course-feature .fontWeight {
    font-weight: 700;
}

.course-feature .questions .question-group {
    padding-bottom: 15px;
}

.course-feature .questions .question-group .question {
    font-weight: bolder;
}

.course-feature .questions .question-group .answer {
    font-weight: 400;
}

@media (max-width: 400px) {
    .course-feature img {
        width: 100%;
    }

    .course-feature .fontsize0 img {
        width: 100%;
    }
}

@media (min-width: 557px) {
    .course-feature h2 {
        margin: 34px 0 10px 0;
        font-size: 19px;
    }

    .course-feature p {
        font-size: 15px;
    }

    .course-feature .questions .question-group p span {
    }

    .course-feature .questions .question-group .answer {
    }
}
