.course-feature * {
  font-family: "PingFangSC-Thin, sans-serif"
}

.course-feature a {
  color: #014292!important;
  text-decoration: none
}

.course-feature a.ios {
  font-size: inherit;
  text-decoration: none;
  padding: 8px 0
}

.course-feature .center {
  text-align: center
}
.course-feature  .inline {
  display: inline-block!important;
}
.course-feature .block{
  display: block;
}
.course-feature .gap {
  margin:15px 0;
}
.course-feature .padding-15 {
  padding: 10px 0 15px 0
}
.course-feature h2 {
  margin: 24px 0 9px 0;
  font-size: 17px;
  font-weight: bolder;
  color: #444;
  border-bottom: none
}

.course-feature p {
  text-indent: 0;
  margin: 0;
  color: #AAA;
  font-size: 13px;
  line-height: 1.55
}
.course-feature .tip {
  color: #FF5600
}

.course-feature .teacher {
  color: #FF5600
}

.course-feature .book-name {
  font-weight: 700;
  color: #6f7071
}

.course-feature .fontWeight {
  font-weight: 700
}

.course-feature p.title {
  font-weight: bolder;
  color: #6f7071
}
.course-feature .book-title {
  font-weight: bolder;
  color: #6f7071
}


.course-feature .questions .question-group {
  padding-bottom: 15px
}

.course-feature .questions .question-group p {
  font-weight: bolder;
  color: #777
}

.course-feature .questions .question-group p span {
  font-weight: 400;
  color: #AAA
}
.course-feature .questions .question-group .question {
  font-weight: bolder;
  color: #777
}
.course-feature .questions .question-group .answer {
  font-weight: 400;
  color: #AAA
}
@media (max-width:420px) {
  .course-feature .fontsize0 img{
    width: 100%;
  }
}
@media (min-width:557px) {
  .course-feature h2 {
    margin: 34px 0 10px 0;
    font-size: 19px
  }

  .course-feature p {
    font-size: 15px;
    color: #6f7071;
    line-height: 25px
  }

  .course-feature .questions .question-group p span {
    font-weight: 400;
    color: #6f7071
  }
  .course-feature .questions .question-group .answer  {
    font-weight: 400;
    color: #6f7071
  }
}
