.course-feature a {
    color: #014292 !important;
    text-decoration: none;
}

.course-feature a.ios {
    font-size: inherit;
    text-decoration: none;
    padding: 8PX 0;
}

.course-feature .center {
    text-align: center;
}

.course-feature .inline {
    display: inline-block !important;
}

.course-feature .block {
    display: block;
}

.course-feature .gap {
    margin: 15PX 0;
}

.course-feature .padding-15 {
    padding: 10PX 0 15PX 0;
}

.course-feature h2 {
    margin: 20PX 0 9PX 0;
    font-size: 17PX;
    font-weight: bolder;
    color: #444;
    border-bottom: none;
}

.course-feature p {
    text-indent: 0;
    margin: 0;
    color: #757575;
    font-size: 14PX;
    line-height: 1.8;
}

.course-feature .teacher {
    font-weight: bolder;
    color: #6f7071;
}
.course-feature .tip {
    font-weight: bolder;
    color: #de5700;
}
.course-feature .book-name {
    font-weight: 700;
    color: #6f7071;
}

.course-feature .fontWeight {
    font-weight: 700;
}

.course-feature p.title {
    font-weight: bolder;
    color: #6f7071;
}

.course-feature .book-title {
    font-weight: bolder;
    color: #6f7071;
}

.course-feature .questions .question-group {
    padding-bottom: 15PX;
}

.course-feature .questions .question-group .question {
    font-weight: bolder;
    color: #777;
}

.course-feature .questions .question-group .answer {
    font-weight: 400;
    color: #757575;
}

@media (max-width: 400px) {
    .course-feature img {
        width: 100%;
    }

    .course-feature .fontsize0 img {
        width: 100%;
    }
}

@media (min-width: 557px) {
    .course-feature h2 {
        margin: 34PX 0 10PX 0;
        font-size: 19PX;
    }

    .course-feature p {
        font-size: 15PX;
        color: #6f7071;
        line-height: 25PX;
    }

    .course-feature .questions .question-group p span {
        font-weight: 400;
        color: #757575;
    }

    .course-feature .questions .question-group .answer {
        font-weight: 400;
        color: #757575;
    }
}
