.course-container-bg {
    background-color: #f8f9fa;
    overflow: hidden;
}

.course-container {
    background-color: #fff;
    padding-bottom: 1.2rem;
    position: relative;
    .brief-container {
        .left-container {
            .video-container {
                //background-color: #000;
                .aspect-ratio(16, 9);
                // video {
                //   width: 100%;
                //   max-width: 100%;
                //   max-height: 100%;
                // }
            }
            .share-tool {
                display: none;
            }
        }
        .desc-container {
            position: relative;
            padding-top: 0.22rem;
            text-align: left;
            .title,
            .slogan,
            .related-course,
            .metas,
            .prices {
                padding: 0 0.3rem;
            }
            .title {
                font-size: 0.36rem;
                color: #222222;
                margin-bottom: 0.16rem;
                line-height: 0.44rem;
            }
            .slogan {
                font-size: 0.28rem;
                color: #6a6a6a;
                margin-bottom: 0.16rem;
                line-height: 0.32rem;
                .text-one-line();
            }
            .related-course {
                margin-bottom: 0.17rem;
                font-size: 0;
                span {
                    display: inline-block;
                    padding: 0 0.15rem 0 0.09rem;
                    font-size: 0.24rem;
                    line-height: 0.4rem;
                    background-color: #dfedff;
                    color: #3578db;
                    border-radius: 0.02rem;
                    cursor: pointer;
                }
            }
            .metas {
                font-size: 0;
                color: #a7a8a9;
                margin-bottom: 0.2rem;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                .meta {
                    font-size: 0.24rem;
                    line-height: 0.4rem;
                    display: block;
                    margin-right: 0.36rem;
                }
                .meta:last-child {
                    margin-right: 0;
                }
            }
            .prices {
                padding-bottom: 0.2rem;
                padding-left: 0.24rem;
                .grey-line-bottom(2);
                .price {
                    vertical-align: text-bottom;
                    display: table-cell;
                    font-size: 0.48rem;
                    color: #fc4514;
                    margin-right: 0.26rem;
                }
                .old-price {
                    vertical-align: text-bottom;
                    display: table-cell;
                    padding-left: 0.26rem;
                    font-size: 0.24rem;
                    color: #a7a8a9;
                }
            }
            .promotes {
                font-size: 0.24rem;
                padding: 0.22rem 0.3rem;
                color: #fc4514;
                .grey-line-bottom(2);
                .promote {
                    display: table;
                    margin-bottom: 0.24rem;
                    .promote-label {
                        display: table-cell;
                        padding-right: 0.08rem;
                    }
                    .promote-list {
                        display: table-cell;
                        line-height: 1.5;
                        padding: 0 0.08rem;
                        .promote-title {
                            margin-bottom: 0.16rem;
                            .text-one-line();
                            &.share {
                                text-decoration: underline;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &.after-share {
                                color: #7a7b7d;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .notice {
                padding: 0.22rem 0.3rem;
                font-size: 0;
                .grey-line-bottom(12);
                .label,
                .notice-details {
                    vertical-align: top;
                    line-height: 0.36rem;
                }
                .label {
                    float: left;
                    font-size: 0.28rem;
                    color: #3c3c3c;
                }
                .notice-details {
                    margin-left: 0.8rem;
                    font-size: 0.24rem;
                    color: #7c7c7d;
                }

                @media @media-up-xs {
                    .notice-details {
                        margin-left: 0.9rem;
                    }
                }
            }

            .btn-groups {
                position: fixed;
                z-index: @index_btn_action;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                box-shadow: 0 -0.04rem 0.08rem 0 rgba(0, 79, 147, 0.1);

                .btn-feedback {
                    flex: none;
                    height: 1rem;
                    width: 1.5rem;
                    color: #969696;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 0.48rem;
                    }
                    span {
                        font-size: 0.22rem;
                    }
                }

                .btn-action {
                    flex: auto;
                    width: 100%;
                    height: 1rem;
                    font-size: 0.42rem;
                    line-height: 1rem;
                    text-align: center;

                    border-width: 0;
                    &.btn-share,
                    &.btn-buy {
                        background-color: #ff6c00;
                        color: #fff;
                    }
                    &.btn-learn {
                        background-color: #014292;
                        color: #fff;
                    }
                    &.btn-down-sale {
                        background-color: #ffa15b;
                        color: #fff;
                    }
                }
            }

            .right-desc {
                position: absolute;
                top: 1.3rem;
                right: 0;
                font-size: 0;
                padding-right: 0.12rem;
                padding-left: 0.4rem;
                .recommend {
                    cursor: pointer;
                    .red-bag {
                        height: 0.86rem;
                        width: 0.86rem;
                        background: url('~entry/temp/asset/image/pic_bag.png')
                            no-repeat center;
                        background-size: contain;
                    }
                    .desc {
                        font-size: 0.2rem;
                        line-height: 1;
                        color: #ff0000;
                        text-align: center;
                    }
                }
            }
        }
    }

    .tab-panels{
        overflow: hidden;
    }
    .course-detail {
        min-height: 13rem;
        .course-feature {
            margin: 20px 10px;
        }

        .course-category {
            .course-list,
            .chapter-list,
            .lesson-list {
                list-style: none;
            }
            .course-list {
                margin: 20px 10px;
                line-height: 2;
                font-size: 16px;
                color: #004593;
                .chapter-list {
                    font-size: 14px;
                    color: #0d0e0e;
                    padding-left: 0.12rem;
                    .grey-line-top(2);
                    .lesson-list {
                        padding-left: 0.36rem;
                        font-size: 13px;
                        color: #0c0c0c;
                        .grey-line-bottom(2);
                        .meta {
                            padding-right: 0.34rem;
                            float: right;
                            color: #717172;
                            font-size: 0.24rem;
                        }
                    }
                }
            }
        }
    }

    .lottery-drawer {
        height: 85%;
        overflow: auto;
        background: #ff731e;
        //background-color: rebeccapurple;
        -webkit-overflow-scrolling: touch;
        .iframe {
            width: 100%;
            height: 100%;
        }
    }
    .lottery-drawer__container {
        height: 200vh;
        background-color: #fff6e8;
    }
}

.course-comments {
    .comment-item {
        padding: 20px 0;
        margin: 0 10px;
        border-bottom: 0.02rem solid #e9eaec;
        line-height: 1.5;
        .comment-meta {
            margin-bottom: 10px;
            color: #999;
            font-size: 12px;
            line-height: 1.5;
            overflow: hidden;

            img {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                float: left;
            }
            .nickname {
                float: left;
                line-height: 27px;
                padding-left: 4px;
            }
            .date {
                float: right;
                line-height: 27px;
            }
        }
        .comment-detail {
            font-size: 14px;
            color: #051b28;
        }
    }
    .comment-none {
        .comment-none-img {
            display: block;
            width: 1.6rem;
            height: auto;
            margin: 0.8rem auto 0;
        }
        .comment-none-text {
            margin-top: 0.6rem;
            padding: 0 0.6rem;
            text-align: center;
            font-size: 0.3rem;
            line-height: 0.4rem;
            color: #c2c3c5;
            word-break: keep-all;
            a {
                color: #014292;
                text-decoration: none;
            }
        }
    }
}

span.del {
    text-decoration: line-through;
}

span.blue,
a.blue {
    color: #1a5fbd;
}

span.grey {
    color: #7a7b7d;
}

.bord-label {
    display: inline-block;
    padding: 0.04rem 0.08rem;
    border: 0.02rem solid #fe8464;
    border-radius: 0.04rem;
}

@media @media-up-xs {
    .bord-label {
        display: inline-block;
        padding: 0.1rem 0.14rem;
        border: 0.02rem solid #fe8464;
        border-radius: 0.04rem;
    }
}

@media @media-up-xs {
    .course-container {
        padding-bottom: 1.2rem;
        .brief-container {
            .share-tool {
                display: none;
            }
            .desc-container {
                padding-top: 0.56rem;
                .title,
                .slogan,
                .related-course,
                .metas,
                .prices {
                    padding: 0 0.42rem;
                }
                .title {
                    font-size: 0.52rem;
                    line-height: 0.64rem;
                    margin-bottom: 0.38rem;
                }
                .slogan {
                    font-size: 0.32rem;
                    margin-bottom: 0.26rem;
                }
                .related-course {
                    margin-bottom: 0.24rem;
                    font-size: 0;
                    span {
                        display: inline-block;
                        padding: 0 0.2rem 0 0.1rem;
                        font-size: 0.28rem;
                        line-height: 0.44rem;
                        background-color: #dfedff;
                        color: #3578db;
                        border-radius: 0.02rem;
                        cursor: pointer;
                    }
                }
                .metas {
                    margin-bottom: 0.4rem;
                    .meta {
                        //font-size: .28rem;
                        display: inline-block;
                    }
                }
                .prices {
                    padding-bottom: 0.32rem;
                }
                .promotes {
                    padding: 0.38rem 0.42rem 0.44rem;
                    font-size: 0.3rem;
                    .promote {
                        .promote-list {
                            padding-left: 0.3rem;

                            .promote-title {
                                margin-bottom: 0.28rem;
                            }
                        }
                    }
                }
                .notice {
                    padding: 0.26rem 0.42rem;
                    .label {
                        //padding-right: .40rem
                    }
                }
                .btn-action {
                    cursor: pointer;
                    font-size: 0.52rem;
                    height: 1.2rem;
                    line-height: 1.2rem;
                    box-shadow: 0 -0.08rem 0.12rem 0 rgba(0, 79, 147, 0.1);
                }

                .right-desc {
                    top: 2.6rem;
                    right: 0;
                    font-size: 0;
                    padding-left: 0.4rem;
                    .recommend {
                        .red-bag {
                            width: 1rem;
                            height: 1rem;
                        }
                        .desc {
                            font-size: 0.2rem;
                        }
                    }
                }
            }
        }
        .course-detail {
            .course-feature,
            .course-category,
            .course-comments {
                margin: 0.6rem 0.5rem;
            }
            //.course-category {
            //  padding: 1.00-.24rem .58rem 1.00rem;
            //}
        }
    }
}

@media @media-up-sm {
    .course-container {
        margin: 0.55rem auto;
        background-color: #fff;
        width: 18.8rem;
        padding-bottom: 0rem;

        .brief-container {
            position: relative;
            font-size: 0;
            padding: 0.52rem 0.54rem 0.42rem;
            .grey-line-bottom(16);
            .left-container {
                vertical-align: top;
                display: inline-block;
                width: 9rem;
                .share-tool {
                    display: block;
                    margin-top: 0.52rem;
                    padding-bottom: 0.24rem;
                    font-size: 0.28rem;
                    text-align: center;
                    line-height: 0.56rem;
                    color: #7c7c7d;
                    .share-icons {
                        display: inline-block;
                        vertical-align: top;
                        list-style: none;
                        margin-left: 0.2rem;
                        li {
                            cursor: pointer;
                            display: inline-block;
                            width: 0.56rem;
                            height: 0.56rem;
                            margin-right: 0.24rem;
                            background-color: red;
                            li:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            .desc-container {
                margin-left: 0.5rem;
                vertical-align: top;
                display: inline-block;
                width: 8.2rem;
                padding-top: 0.11rem;
                .desc-main {
                    min-height: 3.6rem;
                }
                .title,
                .slogan,
                .related-course,
                .metas {
                    padding-left: 0;
                }
                .title {
                    font-size: 0.42rem;
                    margin-bottom: 0.33rem;
                }
                .slogan {
                    font-size: 0.3rem;
                }
                .related-course {
                    margin-bottom: 0.24rem;
                    font-size: 0;
                    span {
                        display: inline-block;
                        padding: 0 0.2rem 0 0.1rem;
                        font-size: 0.28rem;
                        line-height: 0.44rem;
                        background-color: #dfedff;
                        color: #3578db;
                        border-radius: 0.02rem;
                        cursor: pointer;
                    }
                }
                .metas {
                    width: 6.8rem;
                    margin-bottom: 0.3rem;
                    white-space: normal;
                    .meta {
                        display: inline-block;
                    }
                }
                .prices,
                .promotes {
                    background-color: rgba(255, 247, 242, 0.5);
                    border-bottom: none;
                }
                .prices {
                    padding: 0.28rem 0.2rem;
                    .price {
                        font-size: 0.6rem;
                    }
                    .old-price {
                        font-size: 0.3rem;
                    }
                }
                .promotes {
                    padding: 0 0 0.3rem 0.2rem;
                }
                .notice {
                    margin-top: 0.2rem;
                    padding: 0.22rem 0 0;
                    border-bottom: none;
                }
                .btn-groups {
                    position: static;
                    box-shadow: none;
                    display: inline-block;

                    .btn-feedback {
                        display: none;
                    }
                    .btn-action {
                        margin-top: 0.3rem;
                        display: inline-block;
                        background-color: #ff6c00;
                        box-shadow: 0 0.08rem 0.11rem 0 rgba(151, 115, 89, 0.12);
                        border-radius: 0.08rem;
                        width: auto;
                        padding: 0 1.58rem;
                    }
                }
            }
        }
        .course-detail {

            .course-category,
            .course-comments {
                margin: 0.8rem 1.8rem;
            }
            .course-feature{
                max-width: 677px;
                margin: 0.8rem auto;
            }
        }
    }
}

@media @media-up-sm {

        .tab-fixed .tab-items{
            width: 18.8rem!important;
            left: 50%!important;;
            transform: translateX(-50%);
        }
}

@import 'course-feature';
