.course-container-bg {
  background-color: #f8f9fa;
  overflow: hidden;
}

.course-container {
  background-color: #fff;
  padding-bottom: 1.20rem;
  .brief-container {
    .left-container {
      .video-container {
        //background-color: #000;
        .aspect-ratio(16, 9);
        video {
          width: 100%;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .share-tool {
        display: none;
      }
    }
    .desc-container {
      position: relative;
      padding-top: .22rem;
      text-align: left;
      .title, .slogan, .related-course, .metas, .prices {
        padding: 0 .30rem;
      }
      .title {
        font-size: .36rem;
        color: #222222;
        margin-bottom: .16rem;
        line-height: .44rem;
      }
      .slogan {
        font-size: .28rem;
        color: #6a6a6a;
        margin-bottom: .16rem;
        line-height: .32rem;
        .text-one-line();
      }
      .related-course {
        margin-bottom: .17rem;
        font-size: 0;
        span {
          display: inline-block;
          padding: 0 .15rem 0 .09rem;
          font-size: .24rem;
          line-height: .40rem;
          background-color: #dfedff;
          color: #3578db;
          border-radius: .02rem;
          cursor: pointer;
        }
      }
      .metas {
        font-size: 0;
        color: #a7a8a9;
        margin-bottom: .20rem;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        .meta {
          font-size: .24rem;
          line-height: .40rem;
          display: block;
          margin-right: .36rem;
        }
        .meta:last-child {
          margin-right: 0;
        }
      }
      .prices {
        padding-bottom: .20rem;
        padding-left: .24rem;
        .grey-line-bottom(2);
        .price {
          vertical-align: text-bottom;
          display: table-cell;
          font-size: .48rem;
          color: #fc4514;
          margin-right: .26rem;
        }
        .old-price {
          vertical-align: text-bottom;
          display: table-cell;
          padding-left: .26rem;
          font-size: .24rem;
          color: #a7a8a9;
        }
      }
      .promotes {
        font-size: .24rem;
        padding: .22rem .30rem;
        color: #fc4514;
        .grey-line-bottom(2);
        .promote {
          display: table;
          margin-bottom: .24rem;
          .promote-label {
            display: table-cell;
            padding-right: .08rem;
          }
          .promote-list {
            display: table-cell;
            line-height: 1.5;
            padding: 0 .08rem;
            .promote-title {
              margin-bottom: .16rem;
              .text-one-line();
              &.share {
                text-decoration: underline;
              }
              &:last-child {
                margin-bottom: 0
              }
              &.after-share {
                color: #7a7b7d;
              }
            }
          }
          &:last-child {
            margin-bottom: 0
          }
        }
      }
      .notice {
        padding: .22rem .30rem;
        font-size: 0;
        .grey-line-bottom(12);
        .label, .notice-details {
          display: inline-block;
          vertical-align: top;
          line-height: .36rem;
        }
        .label {
          .text-one-line();
          padding-right: .19rem;
          font-size: .28rem;
          color: #3c3c3c;
        }
        .notice-details {
          width: 5.80rem;
          font-size: .24rem;
          color: #7c7c7d;
        }
      }

      .btn-action {
        position: fixed;
        z-index: @index_btn_action;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.08rem;
        font-size: .42rem;
        line-height: 1.08rem;
        text-align: center;
        box-shadow: 0 -.04rem .08rem 0 rgba(0, 79, 147, 0.1);
        border-width: 0;
        &.btn-share, &.btn-buy {
          background-color: #ff6c00;
          color: #fff;
        }
        &.btn-learn {
          background-color: #014292;
          color: #fff;
        }
        &.btn-down-sale {
          background-color: #ffa15b;
          color: #fff;
        }
      }

      .right-desc {
        position: absolute;
        top: .80rem;
        right: 0;
        font-size: 0;
        padding-right: .12rem;
        padding-left: .40rem;
        background-color: #fff;
        .recommend {
          cursor: pointer;
          .red-bag {
            width: 100%;
            height: .60rem;
            background: url('../image/ico_redpacket.png') no-repeat center;
            background-size: contain;
          }
          .desc {
            font-size: .18rem;
            line-height: .18+.08rem;
            color: #ff0000;
          }
        }
        .get-coupon {
          height: .94rem;
          width: 1.23rem;
          cursor: pointer;
          background: url('../image/95coupon.png') no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  .course-detail {
    min-height: 13.00rem;
    .course-feature {
      padding: .66rem .34rem;

    }

    .course-category {
      padding: .66-.24rem .34rem .66rem;
      .course-list, .chapter-list, .lesson-list {
        list-style: none;
      }
      .course-list {
        font-size: .36rem;
        line-height: .84rem;
        color: #004593;
        .chapter-list {
          font-size: .32rem;
          line-height: 1.00rem;
          color: #0d0e0e;
          padding-left: .12rem;
          .grey-line-top(2);
          .lesson-list {
            padding-left: .36rem;
            font-size: .30rem;
            line-height: .80rem;
            color: #0c0c0c;
            .grey-line-top(2);
            .grey-line-bottom(2);
            .meta {
              padding-right: .34rem;
              float: right;
              color: #717172;
              font-size: .24rem;
            }
          }
        }
      }
    }
  }
}

.comments {
  .comment-item {
    padding: .44rem .30rem .30rem .34rem;
    border-bottom: .02rem solid #e9eaec;
    .comment-meta {
      margin-bottom: .24rem;
      color: #a2a4a8;
      font-size: 0;
      .nickname {
        font-size: .28rem;
      }
      .date {
        float: right;
        font-size: .24rem;
        line-height: .28rem;
      }
    }
    .comment-detail {
      font-size: .30rem;
      line-height: .44rem;
      color: #545454;
    }
  }
  .comment-none {
    .comment-none-img {
      display: block;
      width: 1.60rem;
      height: auto;
      margin: .80rem auto 0;
    }
    .comment-none-text {
      margin-top: .60rem;
      padding: 0 .60rem;
      text-align: center;
      font-size: .30rem;
      line-height: .40rem;
      color: #c2c3c5;
      word-break: keep-all;
      a {
        color: #014292;
        text-decoration: none;
      }
    }
  }
}

@media @media-up-xs {
  .comments {
    padding: .50rem .34rem;
  }
}

span.del {
  text-decoration: line-through;
}

span.blue, a.blue {
  color: #1a5fbd;
}

span.grey {
  color: #7a7b7d;
}

.bord-label {
  display: inline-block;
  padding: .04rem .08rem;
  border: .02rem solid #fe8464;
  border-radius: .04rem;
}

@media @media-up-xs {
  .bord-label {
    display: inline-block;
    padding: .10rem .14rem;
    border: .02rem solid #fe8464;
    border-radius: .04rem;
  }
}

@media @media-up-xs {
  .course-container {
    padding-bottom: 1.20rem;
    .brief-container {
      .share-tool {
        display: none;
      }
      .desc-container {
        padding-top: .56rem;
        .title, .slogan, .related-course, .metas, .prices {
          padding: 0 .42rem;
        }
        .title {
          font-size: .52rem;
          line-height: .64rem;
          margin-bottom: .38rem;
        }
        .slogan {
          font-size: .32rem;
          margin-bottom: .26rem;
        }
        .related-course {
          margin-bottom: .24rem;
          font-size: 0;
          span {
            display: inline-block;
            padding: 0 .20rem 0 .10rem;
            font-size: .28rem;
            line-height: .44rem;
            background-color: #dfedff;
            color: #3578db;
            border-radius: .02rem;
            cursor: pointer;
          }
        }
        .metas {
          margin-bottom: .40rem;
          .meta {
            font-size: .28rem;
            display: inline-block;
          }
        }
        .prices {
          padding-bottom: .32rem;
        }
        .promotes {
          padding: .38rem .42rem .44rem;
          font-size: .30rem;
          .promote {
            .promote-list {
              padding-left: .52rem;

              .promote-title {
                margin-bottom: .28rem;
              }
            }
          }
        }
        .notice {
          padding: .26rem .42rem;
          .label {
            padding-right: .64rem
          }
        }
        .btn-action {
          cursor: pointer;
          font-size: .52rem;
          height: 1.20rem;
          line-height: 1.20rem;
          box-shadow: 0 -.08rem .12rem 0 rgba(0, 79, 147, 0.1);
        }

        .right-desc {
          top: 1.18rem;
          right: 0;
          font-size: 0;
          padding-left: .40rem;
          .recommend {
            .red-bag {
              height: .67rem;
            }
            .desc {
              font-size: .22rem;
              line-height: .28+.16rem;
            }
          }
          .get-coupon {
            width: 1.28rem;
          }
        }
      }
    }
    .course-detail {
      .course-feature {
        padding: 1.00rem .58rem;
      }
      .course-category {
        padding: 1.00-.24rem .58rem 1.00rem;
      }
    }
  }
}

@media @media-up-sm {
  .course-container {
    margin: .55rem auto;
    background-color: #fff;
    width: 18.80rem;

    .brief-container {
      position: relative;
      font-size: 0;
      padding: .52rem .54rem .42rem;
      .grey-line-bottom(16);
      .left-container {
        vertical-align: top;
        display: inline-block;
        width: 9.00rem;
        .video-container {
        }
        .share-tool {
          display: block;
          margin-top: .52rem;
          padding-bottom: .24rem;
          font-size: .28rem;
          text-align: center;
          line-height: .56rem;
          color: #7c7c7d;
          .share-icons {
            display: inline-block;
            vertical-align: top;
            list-style: none;
            margin-left: .20rem;
            li {
              cursor: pointer;
              display: inline-block;
              width: .56rem;
              height: .56rem;
              margin-right: .24rem;
              background-color: red;
              li:last-child {
                margin-right: 0;
              }
            }

          }
        }
      }
      .desc-container {
        margin-left: .50rem;
        vertical-align: top;
        display: inline-block;
        width: 8.20rem;
        padding-top: .11rem;
        .desc-main {
          min-height: 3.6rem;
        }
        .title, .slogan, .related-course, .metas {
          padding-left: 0;
        }
        .title {
          font-size: .42rem;
          margin-bottom: .33rem;
        }
        .slogan {
          font-size: .30rem;
        }
        .related-course {
          margin-bottom: .24rem;
          font-size: 0;
          span {
            display: inline-block;
            padding: 0 .20rem 0 .10rem;
            font-size: .28rem;
            line-height: .44rem;
            background-color: #dfedff;
            color: #3578db;
            border-radius: .02rem;
            cursor: pointer;
          }
        }
        .metas {
          width: 6.80rem;
          margin-bottom: .30rem;
          white-space: normal;
          .meta {
            display: inline-block;
          }
        }
        .prices, .promotes {
          background-color: rgba(255, 247, 242, 0.5);
          border-bottom: none;
        }
        .prices {
          padding: .28rem .20rem;
          .price {
            font-size: .60rem;
          }
          .old-price {
            font-size: .30rem;
          }
        }
        .promotes {
          padding: 0 0 .30rem .20rem
        }
        .notice {
          margin-top: .20rem;
          padding: .22rem 0 0;
          border-bottom: none;
        }
        .btn-action {
          margin-top: .30rem;
          display: inline-block;
          position: static;
          background-color: #ff6c00;
          box-shadow: 0 .08rem .11rem 0 rgba(151, 115, 89, 0.12);
          border-radius: .08rem;
          width: auto;
          padding: 0 1.58rem;
        }
        .right-desc {
          top: .82rem;
          right: 0;
          padding-left: .40rem;
          .recommend {
            .red-bag {
              height: .67rem;
            }
            .desc {
              font-size: .22rem;
              line-height: .22+.16rem;
            }
          }
          .get-coupon {
            width: 1.28rem;
          }
        }
      }
    }
    .course-detail {
      .course-feature {
        padding: .88rem 1.80rem;
      }
      .course-category {
        padding: .88-.24rem 1.80rem .88rem;
      }
    }

  }
}

@import "course-feature";

