.global-notice {
    display: none;
    position: absolute;
    left: 50%;
    top: 5.77rem;
    font-size: 0.24rem;
    color: #87888a;
    .notice-text {
        display: inline-block;
        height: 0.3rem;
        line-height: 0.3rem;
        vertical-align: top;
    }
    .notice-list {
        display: inline-block;
        width: 6rem;
        height: 0.3rem;
        line-height: 0.3rem;
        vertical-align: top;
        overflow: hidden;
        .notice-item {
            display: inline-block;
            a {
                color: #87888a;
                text-decoration: none;
            }
        }
    }
}

@media @media-up-sm {
    .global-notice {
        position: fixed;
        top: 0.75rem;
        left: 50%;
        z-index: @index_global_notice;
    }
}
