@import "~asset/style/_mixin.less";
@import "~asset/style/_media.less";

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.28rem;
  background-image: linear-gradient(0deg, rgba(232, 232, 232, .01) 0%, rgba(64, 64, 64, 0.51) 100%);
  transition: all .1s linear;

  .logo {
    margin-top: .44rem;
    margin-left: .36rem;
    width: 1.02rem;
    height: .65rem;
    background: url(~asset/image/pad_logo.png) no-repeat;
    background-size: contain;
  }

  &.white-header {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 .10rem .11rem .01rem rgba(173, 173, 174, 0.16);
    .logo {
      background: url(~asset/image/pad_logo_blue.png) no-repeat;
      background-size: contain;
    }
  }

  .choose-tool {
    position: absolute;
    top: .57rem;
    right: .33rem;
    padding: .14rem .22rem .14rem .82rem;
    font-size: .28rem;
    color: #fff;
    background-color: #c6192f;
    box-shadow: 0 .06rem .05rem 0 rgba(103, 84, 86, 0.22);
    border-radius: 27px;
    &:before {
      content: '';
      position: absolute;
      top: .10rem;
      left: .25rem;
      width: .51rem;
      height: .37rem;
      background: url(~asset/image/ico_choose.png) no-repeat 50%;
      background-size: contain;
    }
  }
}

@media @pc {
  .header,.header.white-header {
    background: #ffffff;
    box-shadow: 0 .10rem .11rem .01rem rgba(173, 173, 174, 0.16);
    .logo {
      background: url(~asset/image/pad_logo_blue.png) no-repeat;
      background-size: contain;
    }
  }
}