.home-tabs {
  .tab-items {
    display: flex;
    //margin: 0 .40rem;
    padding: 0 .14rem;
    .grey-line-bottom(2);
    .tab-item {
      margin-right: .30rem;
      font-size: .34rem;
      text-align: left;
      & a {
        min-width: 1.40rem;
        display: inline-block;
        //padding: .32rem .29rem .23rem;
        padding: .32rem .08rem .23rem;
        text-decoration: none;
        color: #222222;
        position: relative;
      }
      &.active a {
        color: #014292;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: .07rem solid #014292;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tab-panels {
    .tab-panel {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

@media @media-up-xs {
  .home-tabs {
    .tab-items {
      margin: 0 .40rem;

      .tab-item {
        margin-right: .70rem;
        font-size: .36rem;
        & a {
          padding: .32rem .29rem .23rem;
        }
        &.active a {

          &:after {

          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tab-panels {
      .tab-panel {

        &.active {

        }
      }
    }
  }
}