@import 'slider.less';
@import 'notice.less';
@import 'article.less';
@import 'slogan.less';

body .container.courses-container {
    background-color: #fff;
    //min-height: 12rem;
    @import 'tag-filter.less';
    @import 'category-list.less';
    @import 'home-tabs.less';
}

@media @media-up-sm {
    body .container.courses-container {
        border-radius: 0.08rem;
        box-shadow: 0 0.08rem 0.1rem 0 rgba(143, 143, 143, 0.12);
    }
}

.courses-container-bg {
    overflow: hidden;
}
@media @media-md {
    .courses-container-bg {
        background-color: #f8f9fa;
    }
}

//@import "home-header.less";
