.home-container {
  position: relative;
  background-color: #fff;
  @import "tag-filter.less";
  @import "global-notice.less";
  @import "category-list.less";
}

@import "home-header.less";
@import "slick-slider.less";
@import "home-tabs.less";
@import "article.less";

.bottom-banner {
  width: 100%;
  height: 3.2rem;
  background: url("../image/bottom.jpg") no-repeat center;
  background-size: cover;
}

@media @media-xs {
  .bottom-banner {
    margin-bottom: .42rem;
    width: 100%;
    height: 1.88rem;
  }
}

@import "notice.less";

