.home-tabs {
  .tab-items {
    display: flex;
    padding: 0 0.14rem;
    .grey-line-bottom(2);
    .tab-item {
      padding: 0.24rem 0;
      text-align: center;
      flex-grow: 1;
      & a {
        cursor: pointer;
        font-size: 0;
        display: block;
        height: 1.2rem;
      }
    }
  }

  .tab-panels {
    .tab-panel {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

@media @media-up-xs {
  .home-tabs {
    .tab-items {
      margin: 0 0.4rem;

      .tab-item {
        margin-right: 0.7rem;
        text-align: left;
        flex-grow: 0;
        padding: 0;
        font-size: 0.36rem;
        & a {
          padding: 0.32rem 0.29rem 0.23rem;
          height: auto;
          min-width: 1.4rem;
          display: inline-block;
          text-decoration: none;
          color: #222222;
          position: relative;
          background: none !important;
          font-size: 0.36rem;
        }
        &.active a {
          color: #014292;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 0.07rem solid #014292;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tab-panels {
      .tab-panel {
        &.active {
        }
      }
    }
  }
}
