@import "slider.less";
@import "notice.less";
@import "article.less";
@import "slogan.less";

body .container.courses-container {
  background-color: #fff;
  min-height: 12rem;
  margin-bottom: .40rem;
  @import "tag-filter.less";
  @import "category-list.less";
  @import "home-tabs.less";
}

@media @media-up-md {
  body .container.courses-container {
    border-radius: .08rem;
  }
}

@media @media-md {
  .courses-container-bg{
    background-color: #f2f4f6;
  }
}

//@import "home-header.less";






