@import "~asset/style/common";
@import "~asset/style/_cine.less";

html, body, #root {

}

body {

}

@import "~asset/style/tabs.less";
@import "home.less";
@import "course.less";

@media @pc {
  body {
    background-color: #f2f4f6;
  }

  .root-container {
    .header-container {

      background-color: #021a52;
    }
    .content-container {
      margin: 0 auto;
      width: 18.80rem;
      overflow: hidden;
      background-color: #f2f4f6;
    }
    .footer-container {

    }
  }

}