@import "~asset/style/common";
@import "~asset/style/_mixin.less";
@import "~asset/style/_media.less";

html, body, #root {

}

body {

}

@import "~asset/style/tabs.less";
@import "home.less";
@import "course.less";

@media @pc {
  body {
    background-color: #f2f4f6;
  }

  .container {
    margin: 0 auto;
    width: 18.80rem;
    overflow: hidden;
    background-color: #f2f4f6;
  }
}