.notice-wrap {
  position: relative;
  background-color: #0d2763;
  padding: .28rem .54rem;
  margin: .64rem auto 0;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.notice-wrap i.i-speaker {
  display: none;
}

.notice-text {
  position: absolute;
  width: .36rem;
  top: .5rem;
  font-size: 18px;
  line-height: .40rem;
  color: #4a6db1;
  font-style: italic;
}

.notice-list {
  padding-left: .76rem;
  font-size: 0;
}

.notice-item {
  display: inline-block;
  width: 49.99%;
  padding-right: .5rem;
  font-size: .28rem;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: .60rem;
  color: #5d89db;
}

.notice-item a {
  color: #5d89db;
}

.notice-item a:hover {
  color: #fff;
}

.notice-tag {
  color: #e2ecff;
}

a:hover .notice-tag {
  color: #fff;
}
