.paycenter-container {
    min-height: 12rem;
    background-color: #fff;
    margin: auto;
    padding: 15px;
    .pay-header {
        border-bottom: 3px solid #03377d;
        margin-bottom: 30px;
        .pay-title {
            font-size: 28px;
            color: #03357f;
            display: inline-block;
        }
    }

    .pay-content {
        .orderno-title {
            font-size: 0.28rem;
            color: #3c3c3c;
            padding-bottom: 0.3rem;
            line-height: 1;
        }
        @media @media-up-sm {
            .orderno-title {
                padding-left: 0.2rem;
                font-size: 0.32rem;
            }
        }
        span.orderid {
            color: #848587;
        }

        .order-content {
            margin-bottom: 0.6rem;
            .order-name {
                padding-left: 0.24rem;
                display: block;
                font-size: 0.36rem;
                color: #3c3c3c;
                padding-top: 0.34rem;
                padding-bottom: 0.34rem;
                line-height: 0.46rem;
                background-color: #f8fafc;
                border-radius: 0.1rem;
                margin-bottom: 0.3rem;
            }

            .order-price {
                font-size: 0.28rem;

                color: #222222;
                text-align: right;
                line-height: 0.44rem;
                .price {
                    color: #ff0000;
                    line-height: 0.44rem;
                    font-size: 0.38rem;
                }
            }
            @media @media-up-sm {
                .order-name {
                    font-size: 0.4rem;
                    padding-left: 0.4rem;
                }
                .order-price {
                    font-size: 0.32rem;
                    .price {
                        font-size: 0.38rem;
                        font-size: 0.44rem;
                    }
                }
            }
        }

        .pay-method {
            .pay-method-safe {
                text-align: center;
                font-size: 0.28rem;
                color: #a5a5a5;
                padding-bottom: 0.6rem;
                line-height: 0.4rem;
                .blue {
                    color: #3876d2;
                    margin-right: 0.2rem;
                    font-weight: 500;
                    i {
                        font-size: 0.4rem;
                        margin-right: 0.12rem;
                        margin-bottom: -0.04rem;
                        font-weight: 500;
                    }
                }
            }
            @media @media-up-sm {
                .pay-method-safe {
                    font-size: 0.26rem;
                }
            }

            .pay-method-title {
                font-size: 16px;
                color: #3a3b3c;
                line-height: 1;
                margin-bottom: 0.4rem;
            }
            @media @media-up-sm {
                .pay-method-title {
                    padding-left: 0.2rem;
                }
            }

            .StripeElement {
                background-color: white;
                /* height: 40px; */
                padding: 10px 12px;
                border-radius: 4px;
                border: 1px solid transparent;
                box-shadow: 0 1px 3px 0 #e6ebf1;
                -webkit-transition: box-shadow 150ms ease;
                transition: box-shadow 150ms ease;
            }

            .StripeElement--focus {
                box-shadow: 0 1px 3px 0 #cfd7df;
            }

            .StripeElement--invalid {
                border-color: #fa755a;
            }

            .StripeElement--webkit-autofill {
                background-color: #fefde5 !important;
            }
            #card-element {
                min-height: 0.8rem;
            }
            @media @media-up-sm {
                #card-element {
                    margin-left: 0.2rem;
                    margin-bottom: 0.4rem;
                }
            }
            #card-errors {
                text-align: right;
                font-size: 0.3rem;
                color: #ff0000;
                line-height: 0.4rem;
                height: 0.4rem;
            }
            .form-row {
                margin-bottom: 1rem;
            }

            .pay-method-choose {
                border-top: 0.02rem solid #eaebec;
                background-color: #fbfcfe;
                padding: 0.6rem 0 22px 22px;

                img {
                    width: 3.2rem;
                    cursor: pointer;
                }
                .pay-method-alipay {
                    margin-right: 0.34rem;
                }

                .pay-method-alipay,
                .pay-method-wechatpay {
                    position: relative;
                    display: inline-block;
                    width: 3.24rem;
                    border: 0.02rem solid #d8d9da;
                    box-shadow: 0 0.04rem 0.02rem #eeeff1;
                    height: 1.24rem;
                    border-radius: 0.08rem;
                    line-height: 1.24rem;
                    margin-bottom: 0.2rem;
                }

                .pay-method-alipay:hover,
                .pay-method-wechatpay:hover,
                .pay-method-alipay.active,
                .pay-method-wechatpay.active {
                    box-shadow: 0.02rem 0.04rem 0.04rem#ddb990;
                    transition: all 0.3s;
                    border-color: #fc5f20;
                }

                .pay-method-alipay:before,
                .pay-method-wechatpay:before {
                    display: none;
                    position: absolute;
                    top: 0.76rem;
                    right: 0.04rem;
                    content: '';
                    background: url(../image/ico_pay_checked.png) no-repeat;
                    background-size: contain;
                    width: 0.4rem;
                    height: 0.4rem;
                }

                .pay-method-alipay.active:before,
                .pay-method-wechatpay.active:before {
                    display: block;
                }
            }
        }

        .pay-footer {
            vertical-align: middle;
            margin-top: 0.2rem;
            text-align: center;
            > * {
                line-height: 1.04rem;
                height: 1.04rem;
            }
            .back {
                display: inline-block;
            }

            .back a {
                color: #cbcfd6;
            }

            button.btn.btn-confirm {
                margin: 0 auto;
                padding: 0.26rem 1.32rem;
                font-size: 24px;
                color: #fff;
                background-color: #fc5f20;
                border-color: #fc5f20;
                border-radius: 6px;
                line-height: 1;
            }

            button.btn.btn-confirm:hover {
                background-color: #db541c;
                border-color: #d0521c;
            }
        }

        .pay-qa {
            margin-top: 1.6rem;

            .pay-qa-title span {
                display: inline-block;
                font-size: 0.3rem;
                color: #7a7b7d;
                padding-bottom: 0.2rem;
            }

            .pay-qa-desc {
                font-size: 0.24rem;
                line-height: 0.36rem;
                color: #a8a9aa;
            }
        }
    }
}

@media @media-up-sm {
    .paycenter-container {
        margin: 0.55rem auto;
        background-color: #fff;
        width: 18.8rem;
    }

    .pay-qa {
        margin-left: 0.9rem;
    }
}
