.paycenter-container {
  min-height: 12.00rem;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  .pay-header {
    border-bottom: 3px solid #03377d;
    margin-bottom: 30px;
    .pay-title {
      font-size: 28px;
      color: #03357f;
      display: inline-block;
    }
  }

  .pay-content {
    .orderno-title {
      font-size: 16px;
      color: #3c3c3c;
      margin-bottom: 18px;
      padding-left: 10px;
      padding-right: 26px;
      padding-bottom: 10px;
      line-height: 1;
      border-bottom: 1px solid #eaebec;
    }

    span.orderid {
      color: #848587;
    }

    .order-content {
      padding-left: 5px;
      padding-right: 15px;
      padding-bottom: 56px;

      .order-name {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        color: #3c3c3c;
        line-height: 24px;
      }

      .order-price {
        font-size: 24px;
        color: #ff2400;
        float: right;
        line-height: 1;
        height: 24px;
      }

    }

    .pay-method {
      padding-bottom: 12px;

      .pay-method-title {
        font-size: 16px;
        color: #222;
        line-height: 1;
        margin-bottom: 12px;
        padding-left: 10px;
      }

      .pay-method-choose {
        border-top: .02rem solid #eaebec;
        background-color: #fbfcfe;
        padding: .60rem 0 22px 22px;

        img {
          width: 3.20rem;
          cursor: pointer;
        }
        .pay-method-alipay {
          margin-right: .34rem;
        }

        .pay-method-alipay,
        .pay-method-wechatpay {
          position: relative;
          display: inline-block;
          width: 3.24rem;
          border: .02rem solid #d8d9da;
          box-shadow: 0 .04rem .02rem #eeeff1;
          height: 1.24rem;
          border-radius: .08rem;
          line-height: 1.24rem;
          margin-bottom: .20rem;
        }

        .pay-method-alipay:hover,
        .pay-method-wechatpay:hover,
        .pay-method-alipay.active,
        .pay-method-wechatpay.active {
          box-shadow: .02rem .04rem .04rem#ddb990;
          transition: all 0.3s;
          border-color: #fc5f20;
        }

        .pay-method-alipay:before,
        .pay-method-wechatpay:before {
          display: none;
          position: absolute;
          top: .76rem;
          right: .04rem;
          content: '';
          background: url(../image/ico_pay_checked.png) no-repeat;
          background-size: contain;
          width: .40rem;
          height: .40rem;
        }

        .pay-method-alipay.active:before,
        .pay-method-wechatpay.active:before {
          display: block;
        }
      }
    }

    .pay-footer {
      vertical-align: middle;
      margin-top: .20rem;
      > * {
        line-height: 1.04rem;
        height: 1.04rem;
      }
      .back {
        display: inline-block;
      }

      .back a {
        color: #cbcfd6;
      }

      button.btn.btn-confirm {
        float: right;
        padding: .26rem 1.32rem;
        font-size: 24px;
        color: #fff;
        background-color: #FC5F20;
        border-color: #FC5F20;
        border-radius: 6px;
        line-height: 1;

      }

      button.btn.btn-confirm:hover {
        background-color: #db541c;
        border-color: #D0521C;
      }

    }

    .pay-qa {
      margin-top: 1.60rem;


      .pay-qa-title span {
        display: inline-block;
        border-top: .04rem solid #d4d4d4;
        padding-top: .24rem;
        line-height: 1;
        font-size: .32rem;
        color: #434444;
        padding-bottom: .20rem;
      }

      .pay-qa-desc {
        font-size: .28rem;
        color: #97989a;

      }
    }

  }
}

@media @media-up-sm {
  .paycenter-container {
    margin: 0.55rem auto;
    background-color: #fff;
    width: 18.8rem;
  }

  .pay-qa{
    margin-left: .90rem;
  }
}
