.prepare-container {
    background-color: #fff;
    padding-bottom: 1.2rem;
    .brief {
        margin: 0 auto;
        padding: 0.2rem 0.3rem;
        font-size: 0;
        .grey-line-top(12);
        .grey-line-bottom(12);
        .image {
            vertical-align: top;
            display: inline-block;
            width: 2.9rem;
            margin-right: 0.32rem;
            background-color: rgba(229, 229, 229, 0.51);
            .aspect-ratio(16, 9);
        }
        .right {
            display: inline-block;
            max-width: 3.6rem;
            .title {
                color: #222;
                font-size: 0.32rem;
                line-height: 0.62rem;
                .text-one-line();
            }
            .prices {
                .price {
                    font-size: 0.3rem;
                    color: #222;
                    line-height: 0.6rem;
                    margin-right: 0.22rem;
                }
                .old-price {
                    font-size: 0.24rem;
                    color: #7a7b7d;
                    line-height: 0.6rem;
                    .del {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    .package {
        padding: 0.2rem 0.3rem 0.2rem 0.5rem;
        background-color: #f8fafb;
        .item {
            font-size: 0;
            .title,
            .price {
                line-height: 0.52rem;
                font-size: 0.28rem;
                color: #7a7b7d;
            }
            .price {
                float: right;
            }
        }
    }

    .ordered-package {
        padding: 0.2rem 0.3rem 0.2rem 0.5rem;
        background-color: #f8fafb;
        .item {
            font-size: 0;
            .title,
            .price {
                line-height: 0.52rem;
                font-size: 0.28rem;
                color: #7a7b7d;
            }
        }
    }

    .my_coupon{
        font-size: 11px;
        padding-left: 30px;
        text-decoration: underline;
        float: right;
        line-height: 0.9rem;
    }
    .order-control {
        position: relative;
        padding: 0 0.3rem;
        font-size: 0;
        .grey-line-bottom(2);
        .label {
            font-size: 0.32rem;
            color: #222;
            line-height: 0.9rem;
        }
        .price {
            float: right;
            color: #f22010;
            font-size: 0.36rem;
            line-height: 0.9rem;
        }
        > .red {
            margin-left: 0.24rem;
            font-size: 0.3rem;
            color: #f22010;
            line-height: 0.9rem;
        }
        .input {
            position: relative;
            margin: 0 -0.3rem;
            padding: 0 0.3rem 0 0.5rem;
            font-size: 0;
            color: #7a7b7d;
            background-color: #f8fafb;
            line-height: 0.96rem;
            span.normal {
                vertical-align: middle;
                font-size: 0.26rem;
            }
            input {
                vertical-align: middle;
                width: 2rem;
                padding: 0.14rem 0.2rem;
                margin: 0 0.2rem;
                text-align: center;
                color: #595a5b;
                font-size: 0.3rem;
                background-color: #fcfeff;
                border-radius: 0.08rem;
                box-shadow: inset 0 0.04rem 0.06rem 0 rgba(252, 254, 255, 0.15);
                border: solid 0.02rem #e5e6e6;
                &.err {
                    border: solid 0.02rem rgba(242, 32, 16, 0.8);
                }
            }
            .error-tips {
                display: block;
                line-height: 0.44rem;
                font-size: 0.24rem;
                color: #f22010;
            }
            span.red {
                position: absolute;
                top: 0;
                right: 0.3rem;
                font-size: 0.26rem;
                color: #f22010;
            }
        }
        button.modify-address {
            position: absolute;
            color: #fe682d;
            box-shadow: 0 0.03rem 0.05rem 0 rgba(255, 255, 255, 0.12);
            border-radius: 0.06rem;
            border: solid 0.02rem #ffffff;
        }
    }

    .pay-price {
        .grey-line-top(12);
    }
    .order-control.remark {
        .grey-line-top(12);
        border-bottom: none;
        .my-remark {
            width: 100%;
            textarea {
                width: 100%;
                padding: 0.2rem 0.3rem;
                font-size: 0.28rem;
                line-height: 0.42rem;
                background-color: #fcfeff;
                border-radius: 0.08rem;
                box-shadow: inset 0 0.04rem 0.06rem 0 rgba(252, 254, 255, 0.15);
                border: solid 0.02rem #e5e6e6;
                &::placeholder {
                    font-size: 0.28rem;
                    line-height: 0.42rem;
                    color: #babcbe;
                }
            }
        }
    }

    .order-control.address {
        position: relative;
        .btn-outline {
            position: absolute;
            top: 0.13rem;
            right: 0.3rem;
        }

        .my-address {
            padding: 0.2rem 0.3rem;
            margin: 0 -0.3rem;
            .grey-line-top(2);
            .my-address-contact,
            .my-area {
                font-size: 0.28rem;
                line-height: 0.42rem;
                color: #c2c3c5;
                span:first-child {
                    display: inline-block;
                    width: 1.12rem;
                }
                span.my-name {
                    margin-right: 0.3rem;
                }
            }
        }
    }

    .btn-action {
        position: fixed;
        z-index: @index_btn_action;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.08rem;
        font-size: 0.42rem;
        line-height: 1.08rem;
        text-align: center;
        box-shadow: 0 -0.04rem 0.08rem 0 rgba(0, 79, 147, 0.1);
        border-width: 0;
        &.btn-confirm {
            background-color: #ff6c00;
            color: #fff;
        }
    }

    .btn-outline {
        padding: 0.16rem 0.2rem;
        box-shadow: 0 0.03rem 0.05rem 0 rgba(255, 255, 255, 0.12);
        border-radius: 0.06rem;
        border: solid 0.02rem #fe682d;
        background: #fff;
        font-size: 0.28rem;
        line-height: 1;
        color: #fe682d;
    }
}

@media @media-xs {
    .prepare-container .package .item .title {
        display: inline-block;
        max-width: 4.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
    }
}

@media @media-up-xs {
    .prepare-container .brief .right {
        max-width: 10rem;
    }

    .prepare-container .order-control .input {
        .error-tips {
            display: inline;
            line-height: inherit;
            font-size: 0.24rem;
            vertical-align: middle;
            margin-left: 0.2rem;
        }
    }
}

@media @media-up-sm {
    .prepare-container {
        margin: 0.55rem auto;
        background-color: #fff;
        width: 18.8rem;
        .btn-action.btn-confirm {
            position: static;
            margin-top: 0.4rem;
            border-radius: 0.08rem;
            display: inline-block;
        }
    }
}
