.cine-slogan {
  width: 100%;
  height: 3.2rem;
  background: url("../image/bottom.jpg") no-repeat center;
  background-size: cover;
}

@media @media-xs {
  .cine-slogan {
    width: 100%;
    height: 1.60rem;
  }
}