.tag-filter {
  font-size: 0;
  margin: 0 .45rem;
  display: none;
  .p1-tags {
    list-style: none;
    padding-top: .10rem;
    .p1-tag {
      padding: .17rem .07rem 0;
      font-size: .32rem;
      line-height: .40rem;
      color: #023d87;
      .grey-line-bottom(2);
      .p2-tags {
        display: inline-block;
        padding-left: .10rem;
        max-width: 13.50rem;
        vertical-align: top;
        .p2-tag {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin: 0 .26rem .17rem;
          padding: 0 .06rem;
          border: .02rem solid transparent;
          border-radius: .04rem;
          line-height: .36rem;
          font-size: .28rem;
          color: #3c3c3c;
          cursor: pointer;
          &.active {
            border: .02rem solid #3c3c3c;
          }
          .label {
            position: absolute;
            top: -.06rem;
            right: -.48rem;
            width: .50rem;
            padding: .02rem 0;
            text-align: center;
            line-height: .20rem;
            font-size: .18rem;
            color: #fff;
            background-color: #ff0000;
            border-radius: .10rem;
          }
        }
      }
    }
  }
}

@media @media-up-xs {
  .tag-filter {
    display: block;
  }
}

@media @media-up-sm {
  .tag-filter {
    .p1-tags {
      padding-top: .34rem;
      .p1-tag {
        .p2-tags {
          max-width: 18.30rem;
        }
      }
    }
  }
}