body {
    background-color: #fff;
}
// button {
//     margin-bottom: 20px;
//     margin-right: 10px;
// }
.g-panel__body {
    font-size: 0;
}
.cine-card__content {
    font-size: 30px;
    height: 100px;
    background-color: #ffa8a8;
}
