@import "~asset/style/_media.less";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

button {
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: #dddddd;
  }
}

.quiz-main {
  width: 100%;
}

.quiz-start {
  text-align: center;
  padding-top: 1.15rem;
  .title {
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.6rem;
    letter-spacing: 0rem;
    color: #222222;
  }
  .hint {
    margin-top: 0.64rem;
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.72rem;
    letter-spacing: 0rem;
    color: #5d5d5d;
  }
  button {
    margin-top: 0.8rem;
    width: 3.60rem;
    height: 0.96rem;
    background: #FFFFFF;
    border-radius: 0.48rem;
    border: 0.02rem solid #052356;
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0rem;
    letter-spacing: 0rem;
    color: #12336b;
  }
}

.quiz-card {
  width: 100%;
  position: relative;
  padding-left: .5rem;
  padding-right: .5rem;

  .card-title {
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.56rem;
    letter-spacing: 0rem;
    color: #343333;
  }

  .card-option {
    display: inline-block;
    width: 5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: normal;
    font-stretch: normal;
    color: #2f2f2f;
    font-size: 0 !important;

    * {
      font-size: 0.36rem;
      vertical-align: middle;
    }

    .hint {
      width: 0.5rem;
      height: 0.5rem;
      margin-right: 0.2rem;
      vertical-align: middle;
    }

    .option {
      width: 0.5rem;
      vertical-align: middle;
    }

    .content {
      display: inline-block;
      width: 3rem;
      height: auto;
      vertical-align: middle;
      img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    input[type="radio"] {
      margin-right: 0.15rem;
      height: 0.5rem;
    }
  }

  .card-line {
    height: 0.02rem;
    margin: 0.5rem auto;
    background-color: #eeeeee;
  }

  .card-todo {
    .card-answer {
      float: left;
      visibility: hidden;
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.84rem;
      .red {
        visibility: visible;
        color: #f22010;
      }
      .green {
        visibility: visible;
        color: #1ab23a;
      }
    }

    .card-next {
      margin-bottom: 0.4rem;
      float: right;
      width: 2.80rem;
      height: 0.84rem;
      background: #FFFFFF;
      border-radius: 0.48rem;
      border: 0.02rem solid #052356;
      font-size: 0.36rem;
      font-weight: normal;
      font-stretch: normal;
      color: #12336b;
    }
  }

}

.card-end {
  text-align: center;
  padding-top: 1.42rem;

  .hint {
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    color: #2f2f2f;
    .red {
      font-size: 0.42rem;
      font-weight: normal;
      color: #f22010;
    }
    .green {
      font-size: 0.42rem;
      font-weight: normal;
      color: #1ab23a;
    }
  }

  .todo {
    display: inline-block;
    margin-top: 0.86rem;
    line-height: 1.5rem;

    .again {
      width: 3.60rem;
      height: 0.96rem;
      background: #FFFFFF;
      border-radius: 0.48rem;
      border: 0.02rem solid #363636;
      font-size: 0.36rem;
      font-weight: normal;
      font-stretch: normal;
      color: #363636;
      margin-right: 0.34rem;
    }

    .exit {
      width: 3.60rem;
      height: 0.96rem;
      background: #FFFFFF;
      border-radius: 0.48rem;
      border: 0.02rem solid #052356;
      font-size: 0.36rem;
      font-weight: normal;
      font-stretch: normal;
      color: #12336b;
      margin-right: 0.34rem;
    }
  }
}

//Phone 竖屏
@media only screen
and (max-width: 575px)
and (orientation: portrait) {
  #root {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

//Phone 横屏
@media only screen
and (max-height: 575px)
and (orientation: landscape) {
  #root {
    padding-top: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

//iPad 横屏
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  #root {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.8rem;
  }

  .quiz-card{
    .card-title{
      margin-bottom: .7rem;
    }
    .card-option{
      width: 50%;
      padding-top: .6rem;
      padding-bottom: .6rem;
      .content{
        width: 80%;
      }
    }
    .card-line{
      margin-top: 1.4rem;
      margin-bottom: .5rem;
    }
  }
}

//PC
@media only screen
and (min-height: 440px)
and (max-height: 460px)
and (orientation: landscape) {
  #root {
    padding-top: 0.8rem;
  }
  .quiz-card{
    .card-title{
      margin-bottom: .7rem;
    }
    .card-option{
      width: 50%;
      .content{
        width: 70%;
      }
    }
    .card-line{
      margin-top: .9rem;
      margin-bottom: .5rem;
    }
  }
}