.welcome {
  padding-top: .86rem;
  padding-bottom: .40rem;
  text-align: center;
  .title {
    font-size: .36rem;
    color: #2f2f2f;
    margin-bottom: .44rem;
  }
  .start-bg {
    width: 100%;
    height: 5.60rem;
    background: url(../image/pic_test_start@2x.png) no-repeat center;
    background-size: contain;
  }
  .tips {
    width: 5.63rem;
    font-size: .32rem;
    line-height: .48rem;
    color: #659cdb;
    margin: 0.60rem auto .70rem;
  }
}