@import "../../../../common/style/common.less";

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #e2f3fe;
}

#root{
  max-width: 575px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 2.22rem;
}

.wrapper.mini {
  padding-bottom: 1.46rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.22rem;
  background: url(../image/bg_test_footbig@2x.png) no-repeat center bottom;
  background-size: cover;
  font-size: 0;
  text-align: center;
}

.footer.mini {
  height: 1.46rem;
  background: url(../image/bg_test_foot@2x.png) no-repeat center;
  background-size: cover;
}

.word-main {
  position: relative;
  height: 100%;
  .map-bg {
    position: absolute;
    z-index: -1;
    top: 2.4rem;
    padding: 0 .28rem;
    width: 100%;
    height: 3.50rem;
    background: url(../image/bg_test_map@2x.png) no-repeat center;
    background-size: contain;
  }
  .welcome {
    padding-top: .86rem;
    padding-bottom: .40rem;
    text-align: center;
    .title {
      font-size: .36rem;
      color: #2f2f2f;
      margin-bottom: .44rem;
    }
    .start-bg {
      width: 100%;
      height: 5.60rem;
      background: url(../image/pic_test_start@2x.png) no-repeat center;
      background-size: contain;
    }
    .tips {
      width: 5.63rem;
      font-size: .32rem;
      line-height: .48rem;
      color: #659cdb;
      margin: 0.60rem auto .70rem;
    }
  }
  .login-detect {
    padding-top: 1.62rem;
    padding-bottom: .40rem;
    font-size: 0;
    text-align: center;
    .title {
      padding: 0 .75rem;
      font-size: .30rem;
      line-height: .54rem;
      text-align: center;
    }
    .bg-welcome {
      width: 4.57rem;
      height: 1.66rem;
      margin: .86rem auto 1.90rem;
      background: url(../image/pic_test_welcome@2x.png) no-repeat center;
      background-size: contain;
    }
    .btn{
      display: block;
      margin: auto;
    }
    .margin-bottom-72 {
      margin-bottom: .72rem;
    }
  }
  .user-info {
    text-align: center;
    padding-top: .96rem;
    padding-bottom: .40rem;
    font-size: 0;
    .title {
      font-size: .36rem;
      color: #2f2f2f;
      margin-bottom: .38rem;
    }
    .tips {
      font-size: .28rem;
      color: #959699;
      margin-bottom: .80rem;
    }
    .form {
      padding: 0 .44rem;
      .form-item {
        .form-label {
          font-size: .30rem;
          color: #225fb2;
          text-align: left;
        }
        .form-control {
          border-bottom: .02rem solid #C4DCF5;
          position: relative;
          text-align: left;
          margin-bottom: .58rem;
          select {
            border: none;
            appearance: none;
            font-size: .32rem;
            background-color: transparent;
            color: #222222;
            width: 100%;
            padding: .30rem .16rem;
            &:focus {
              outline: none;
            }
          }

          &:after {
            content: '';
            position: absolute;
            top: .36rem;
            right: 0;
            background: url(../image/test_arr_down@2x.png) no-repeat center;
            background-size: contain;
            width: .40rem;
            height: .21rem;
            z-index: -1;
          }
        }

      }
    }
  }
  .card {
    text-align: center;
    font-size: 0;
    padding-top: 1.52rem;
    padding-bottom: .40rem;
    position: relative;
    .friendly-tips {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: .81rem;
      background-color: #fff6e8;
      color: #fe902f;
      text-align: center;
      font-size: .30rem;
      line-height: .81rem;
      transition: opacity .3s, transform .4s;
      opacity: 0;
      transform: translateY(-50%);
      &.fade-appear {
        opacity: 0;
        transform: translateY(-50%);
      }
      &.fade-appear-active {
        opacity: 1;
        transform: translateY(0);
      }
      &.fade-enter {
        opacity: 0;
        transform: translateY(-50%);
      }
      &.fade-enter-active {
        opacity: 1;
        transform: translateY(0);
      }
      &.fade-exit {
        opacity: 1;
      }
      &.fade-exit-active {
        opacity: 0;
      }
    }
    .word {
      margin-bottom: .70rem;
      font-size: .72rem;
      color: #2d76d9;
    }
    .progress_control {
      display: block;
      font-size: 0;
      margin: 0 auto .54rem;
      .sand-glass {
        display: inline-block;
        width: .37rem;
        height: .63rem;
        margin-right: .10rem;
        line-height: .63rem;
        background: url(../image/ico_sandclock@2x.png) no-repeat center;
        background-size: contain
      }
      .progress-line {
        display: inline-block;
        width: 4.10rem;
        height: .18rem;
        margin-bottom: .20rem;
        border-radius: .09rem;
        box-shadow: 2px 3.5px 5.9px 0.1px rgba(51, 53, 55, 0.15);
        background-color: #fff;
        .progress-line-left {
          height: .18rem;
          border-radius: .09rem;
        }

        .progressing-appear {
          width: 100%;
        }

        .progressing-appear.progressing-appear-active {
          width: 0;
          transition: width 15s linear;
          animation: progressing-color 15s;
        }

        @keyframes progressing-color {
          0% {
            background: rgb(254, 197, 76);
          }
          20% {
            background: rgb(253, 175, 70);
          }
          40% {
            background: rgb(247, 125, 54);
          }
          60% {
            background: rgb(248, 86, 46);
          }
          80% {
            background: rgb(243, 64, 38);
          }
          100% {
            background: rgb(242, 19, 19);
          }
        }
      }

    }
    .options .btn{
      display: block;
      margin: 0 auto .35rem;
    }
  }

  .report {
    padding-top: .97rem;
    padding-bottom: .40rem;
    text-align: center;
    .title {
      font-size: .32rem;
      color: #2f2f2f;
      margin-bottom: .37rem;
    }
    .vocab {
      font-size: .48rem;
      color: #f95015;
      margin-bottom: .50rem;
    }
    .line {
      width: 6.40rem;
      height: .02rem;
      margin: 0 auto .60rem;
      background-color: #d2e0f3;
    }
    .recommend-title {
      font-size: .28rem;
      color: #5792d6;
      margin-bottom: .27rem;
    }
    .recommend-detail{
      list-style: none;
      font-size: 0;
      margin-bottom: .70rem;
      li{
        font-size: .28rem;
        line-height: .48rem;
        color: #2f2f2f;
        width: 29.9%;
        display: inline-block;
        text-align: left;
      }
    }
    .recommend-list {
      width: 6.50rem;
      margin: 0 auto 1.34rem;
      background-color: #fff;
      border: solid .01rem #C6D8E4;
      border-radius: .06rem;
      padding: .20rem .15rem;
      .recommend-item {
        font-size: 0;
        padding-bottom: .20rem;
        .item-img {
          display: inline-block;
          width: 1.86rem;
          height: 1.26rem;
          margin-right: .22rem;
          vertical-align: top;
          border: solid .01rem #c3c4c5;
        }
        .item-brief {
          display: inline-block;
          vertical-align: top;
          padding-top: .05rem;
          text-align: left;
          & * {
            width: 4.00rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .item-title {
            font-size: .32rem;
            color: #2b2c2c;
            margin-bottom: .18rem;
          }
          .item-desc {
            font-size: .28rem;
            color: #a1a3a6;
          }

        }
      }
      .recommend-item:last-child {
        padding-bottom: 0;
      }
    }
  }

  span.orange {
    color: #e1a923;
  }
  span.blue {
    color: #1a519b;
  }
  button.btn {
    width: 5.2rem;
    height: 1.10rem;
    border-radius: .06rem;
    font-size: .42rem;
    text-align: center;
    color: #fff;
    box-shadow: .03px .052rem .077rem .030rem rgba(35, 65, 119, 0.14);
    &:focus {
      outline: none;
    }
    &.btn_orange {
      background-color: #ff6d00;
      border: 1px #ff6d00;
    }
    &.btn_blue {
      background-color: #1A519B;
      border: 1px #1A519B;
    }
    &.btn_option {
      width: 5.60rem;
      height: 1.00rem;
      background-color: #fff;
      border: 1px #fff;
      color: #2f2f2f;
      font-size: .32rem;
      margin-bottom: .35rem;
      //.btn_option-enter{
      //  background-color: #fed57f;
      //  border-color: #fed57f;
      //}
      //.btn_option-enter-active {
      //  background-color: #fed57f;
      //  border-color: #fed57f;
      //}
      &:active {
        background-color: #fed57f;
        border-color: #fed57f;
      }
      &:active {
        transform: scale(.98, .95);
      }
    }
    &.btn_no_remember {
      color: #4c93db;
    }

    &.btn_sm {
      width: 3.00rem;
      height: .96rem;
    }
    &.btn_try {
      margin-top: .70rem;
    }
    &.btn_share {
      margin-top: .70rem;
      margin-left: .45rem;
    }
  }
}