@import '~asset/style/_cine.less';

.cine-auth__container {
    width: 6.4rem;
    padding: 0.8rem 0.5rem 0.5rem;
    background-color: #fff;
}

.cine_auth__title {
    font-size: 0.4rem;
    color: #014292;
    margin-bottom: 0.6rem;

    .cine_auth__opera,
    a {
        float: right;
        font-size: 0.28rem;
        color: #969696;
        cursor: pointer;
    }
}

.cine_auth__form {
    border: 1px solid #c8c8c8;
    border-radius: 0.06rem;
    margin-bottom: 0.6rem;
    background-color: hsla(0, 0%, 71%, 0.1);
}

.cine_auth__help {
    text-align: right;
    margin: -.2rem auto 0.4rem auto;
    cursor: pointer;

    span,
    a {
        color: #999;
        font-size: 0.28rem;
    }
}

.cine_auth__form-control {
    border-bottom: 1px solid #c8c8c8;
    height: 1rem;
    display: flex;
    align-items: center;
    padding-right: 0.2rem;

    &:last-child {
        border-bottom: none;
    }

    & > .cine-icon {
        line-height: 1rem;
        font-size: 0.4rem;
        color: #969696;
        width: 0.7rem;
        text-align: center;
    }

    select {
        height: 0.6rem;
        width: 1.4rem;
    }

    input {
        height: 0.8rem;
        width: 100%;
        flex: 1 0;
        border: none;
        background: transparent;
        //padding: 0 0.2rem;
        font-size: 0.28rem;
    }

    .cine_auth__select {
        padding-left: 0;
        padding-right: 5px;
        margin-right: 10px;
        border-right: 1px solid #c8c8c8;
    }
}

.cine_auth__auth-code {
    input {
        padding: 0;
    }
}

.cine_auth__profile {
    margin-bottom: 0.6rem;
}

.cine_auth__headimg {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin: 0 auto 0.3rem auto;

    img {
        width: 100%;
        height: 100%;
    }
}

.cine_auth__phone {
    text-align: center;
    font-size: 0.3rem;
    color: #333;
}

.cine_auth__social {
    margin-top: 1rem;
    color: #b5b5b5;

    .line-through {
        font-size: 0.24rem;
        position: relative;
        text-align: center;
        margin-bottom: 0.3rem;

        &:before {
            right: 30px;
        }
        &:after {
            left: 30px;
        }
        &:before,
        &:after {
            content: '';
            border-top: 1px solid #b5b5b5;
            display: block;
            position: absolute;
            width: 60px;
            top: 5px;
        }
    }

    .cine_auth__apps {
        text-align: center;
    }
    .cine_auth__app {
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .cine_auth__app--wechat {
        color: #00bb29;
        font-size: 0.56rem;
    }
}

@media @media-up-xs {
    .cine-auth__container {
        width: 7.2rem;
        padding: 0.8rem 0.5rem 0.5rem;
    }
}
