@import '~asset/style/_cine.less';

.cardComment {
    background-color: white;

    .img-c {
        padding: 10px;
        padding-top: 0px;
        display: block;
        .img {
            padding-top: (16/9) * 100%;
            border-radius: 10px;
        }
    }
}
