body {
    background-color: #fff;
}
// button {
//     margin-bottom: 20px;
//     margin-right: 10px;
// }
.g-panel__body {
    font-size: 0;
}
.cine-widget {
    .cine-card__content {
        font-size: 30px;
        height: 100px;
        background-color: #ffa8a8;
    }
    .w-my-lock {
        color: blue;
        &:hover {
            color: red;
        }
    }
}

.widget_btn {
    .cine-btn {
        margin-right: 10px;
        margin-bottom: 15px;
    }
}

.cine-floating-box__content .cine-btn {
    margin: 0;
    margin-bottom: 10px;
}
