@import '~asset/style/_cine.less';

.cardTeacher {
    background-color: white;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-size-adjust: none;
    min-height: 270px;
    border: 1px solid #eaf1f6;
    box-shadow: 0 0.1rem 0.06rem 0 rgba(219, 230, 240, 0.1);
    border-radius: 5px;

    .img-c {
        padding: 25px;
        display: block;
        .img {
            padding-top: 100%;
            border-radius: 50%;
        }
    }

    .text-c {
        color: rgb(72, 72, 72);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .title {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            max-height: 40px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            .text-line-1();
        }
        @media @media-up-xs {
            .title {
                font-size: 16px;
                line-height: 20px;
            }
        }

        .desc {
            color: #757575; // rgb(115, 71, 41);
            font-size: 10px;
            line-height: 14px;
            letter-spacing: normal;
            margin-bottom: 2px;
            .text-line-5();
        }
        @media @media-up-xs {
            .desc {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
