@import '~asset/style/_cine.less';

.cardItem {
    background-color: transparent;
    text-size-adjust: none;
    padding: 3px;

    .img-c {
        display: block;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;

        .favorite {
            position: absolute !important;
            top: 2px !important;
            right: 2px !important;
            padding: 10px !important;
        }

        .img {
            padding-top: (9/16) * 100%;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    .text-c {
        padding-top: 8px;
        color: rgb(72, 72, 72);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .title {
            .text-title-en();
        }
        @media @media-up-xs {
            .title {
                font-size: 16px;
                line-height: 20px;
            }
        }

        .title-space {
            margin-bottom: 10px;
        }

        .subTitle {
            color: rgb(115, 71, 41);
            font-size: 10px;
            line-height: 14px;
            letter-spacing: normal;
            white-space: nowrap;
            text-transform: uppercase;
            margin-bottom: 2px;
            .text-line-1();
        }
        @media @media-up-xs {
            .subTitle {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .price {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: normal;
            -webkit-font-smoothing: antialiased;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
                'Helvetica Neue', sans-serif;
            flex: 1;
        }
        @media @media-up-xs {
            .price {
                font-size: 13px;
                line-height: 17px;
            }
        }

        .rate {
            vertical-align: middle !important;
            line-height: 21px !important;
            margin-right: 2px !important;
            -webkit-font-smoothing: antialiased;
            .star5 {
                display: inline-block !important;
                color: rgb(0, 132, 137) !important;
                font-size: 8px !important;
                height: 8px !important;
                width: 8px !important;
                margin-right: 1px;
                svg {
                    height: 1em;
                    width: 1em;
                    display: block;
                    fill: currentcolor;
                }
            }
            @media @media-up-xs {
                .star5 {
                    font-size: 9px !important;
                    height: 10px !important;
                    width: 10px !important;
                }
            }
            .number {
                padding-left: 3px;
                font-weight: 600 !important;
                word-wrap: break-word !important;
                font-size: 10px !important;
                line-height: 14px !important;
                letter-spacing: normal !important;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
                    'Helvetica Neue', sans-serif !important;
                display: inline !important;
                margin: 0px !important;
            }
            @media @media-up-xs {
                .number {
                    font-size: 12px !important;
                    line-height: 16px !important;
                }
            }
        }
    }
}

.cardItem112 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: #fafafa;

    .item-left {
        width: 40%;
        padding-right: 6px;
        padding-bottom: 0px;
    }
    @media @media-up-xs {
        .item-left {
            width: 25%;
        }
    }

    @media @media-up-sm {
        .item-left {
            width: 40%;
        }
    }

    .item-right {
        padding-top: 0px;
    }

    .img-cl {
        display: block;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;

        .favorite {
            position: absolute !important;
            top: 2px !important;
            left: 2px !important;
            padding: 10px !important;
        }

        .img {
            padding-top: (9/16) * 100%;
            border-radius: 3px;
        }
    }
}
