@import '~asset/style/_cine.less';

.cardArticle {
    display: flex;
    flex-direction: row;
    padding: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    background-color: white;
 /*    border: 1px solid #eaf1f6;
    box-shadow: 0 0.1rem 0.06rem 0 rgba(219, 230, 240, 0.1);
    border-radius: 3px; */

    .item-left {
        width: 35%;
        padding-right: 6px;
        padding-bottom: 0px;
    }
    @media @media-up-xs {
        .item-left {
            width: 25%;
        }
    }

    @media @media-up-sm {
        .item-left {
            width: 35%;
        }
    }

    .item-right {
    /*     padding-top: 6px;
        padding-bottom: 8px; */
    }

    .text-c {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;

        .title {
            .text-line-3();
        }

        .subTitle {
            .text-color-desc();
            font-size: 10px;
            line-height: 14px;
            margin-bottom: 2px;
            .text-line-2();
        }
        @media @media-up-xs {
            .subTitle {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
