@import '~asset/style/_cine.less';

.cardCourse {
    cursor: pointer;
    text-size-adjust: none;
 /*    padding: 0 0.04rem; */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 0.06rem;
    /*     box-shadow: 0 0.1rem 0.06rem 0 rgba(219, 230, 240, 0.1); */

    .course-img {
        padding-top: (9/16) * 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .course-desc {
        padding: 0 0.1rem;
        padding-top: 5px;
        .course-title {
            .text-title();
        }
        @media @media-up-xs {
            .course-title {
                font-size: 16px;
                line-height: 20px;
            }
        }
        /*      > * {
            .text-one-line();
        } */
        .course-author,
        .course-arrange {
            font-size: 0.22rem;
            height: 0.32rem;
            line-height: 0.32rem;
            color: #a0a4a7;
            .text-one-line();
        }

        .course-price {
            font-size: 0.3rem;
            line-height: 0.6rem;
            color: #f50;
            .old-price-text {
                vertical-align: top;
                padding-left: 0.22rem;
                color: #c2c3c5;
                font-size: 0.28rem;
            }
            .old-price {
                vertical-align: top;
                color: #c2c3c5;
                text-decoration: line-through;
                font-size: 0.28rem;
            }
        }
        .coming-soon {
            color: #8d8c8c;
            font-size: 0.32rem;
            line-height: 0.6rem;
        }
    }
}
