@import '../style';

.@{drawer}__container {
    position: relative;
}

.@{drawer} {
    position: absolute;
    z-index: 1000;
}

.@{drawer}--fullscreen {
    position: fixed;
}

.@{drawer}--active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.@{drawer}__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    will-chage: opacity;
    opacity: 0;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.@{drawer}__mask--enter {
}

.@{drawer}__mask--enter-active {
    opacity: 1;
}

.@{drawer}__content {
    position: absolute;
    z-index: 2001;
    background-color: #fff;
    will-chage: transform;
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
}

.@{drawer}__anchor--left {
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
}

.@{drawer}__anchor--right {
    top: 0;
    bottom: 0;
    right: 0;
    transform: translate3d(100%, 0, 0);
}

.@{drawer}__anchor--bottom {
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 100%, 0);
}

.@{drawer}__anchor--top {
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, -100%, 0);
}

.@{drawer}__content--enter-active {
    transform: translate3d(0, 0, 0);
}
