// qrcode
@qrcode: ~'cine-qrcode';

.@{qrcode} {
    position: relative;
    padding: 0.6rem 0.2rem 0.2rem;
    background-color: #fff;
    border-radius: 0.06rem;
    overflow: hidden;
}

.@{qrcode}__close {
    font-size: 0.4rem;
    position: absolute;
    right: 0.12rem;
    top: 0.12rem;
    cursor: pointer;
    color: #000;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.@{qrcode}__content {
    font-size: 0.32rem;
    font-weight: 500;
    text-align: center;
}

.@{qrcode}__img {
    width: 4rem;
    height: 4rem;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}
