@baseprefix : 'cine';
@font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
@theme-palette-dark: #757575;
@theme-palette-primary: #0d5fa1;
@theme-palette-primary-light: #288fd7;
@theme-palette-secondary: #ff6c00;
@theme-palette-secondary-light: #ff6c00;
@theme-typography-font-ratio: 5;

// button
@btn: ~'@{baseprefix}-btn';
@color-white: #fff;
@btn-color-default: @theme-palette-dark;
@btn-color-primary: @theme-palette-primary;
@btn-color-secondary: @theme-palette-secondary;

// panel
@panel: ~'@{baseprefix}-panel';

// drawer
@drawer: ~'@{baseprefix}-drawer';

// card__container & card
@card: ~'@{baseprefix}-card';

// navigation
@navigation: ~'@{baseprefix}-navigation';

// floating-box
@floating-box: ~'@{baseprefix}-floating-box';

// modal
@modal: ~'@{baseprefix}-modal';

// alert
@alert: ~'@{baseprefix}-alert';

// mask
@mask: ~'@{baseprefix}-mask';

// toast
@toast: ~'@{baseprefix}-toast';

// icon
@icon: ~'@{baseprefix}-icon';

// common base function
// 手机, only
@media-xs: ~'(max-width:575.98px)';

// 竖版pad, only
@media-sm: ~'(min-width:576px) and (max-width:1023.98px)';
// 竖版pad, 576px and up
@media-up-xs: ~'(min-width:576px)';

// 横版pad, only
@media-md: ~'(min-width:1024px) and (max-width:1279.98px)';
// 横版pad, 1024px and up
@media-up-sm: ~'(min-width:1024px)';

// PC, 1280px and up
@media-lg: ~'(min-width:1280px)';
// PC, 1280px and up
@media-up-md: ~'(min-width:1280px)';
