@baseprefix : 'cine';
@font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// button
@btn: ~'@{baseprefix}-btn';
@color-white: #fff;
@btn-color-default: rgba(0, 0, 0, 0.87);
@btn-color-primary: #014292;
@btn-color-secondary: #ff6c00;

// panel
@panel: ~'@{baseprefix}-panel';

// card__container & card
@card: ~'@{baseprefix}-card';

// floating-box
@floating-box: ~'@{baseprefix}-floating-box';

// dialog
@dialog: ~'@{baseprefix}-dialog';

// mask
@mask: ~'@{baseprefix}-mask';

// toast
@toast: ~'@{baseprefix}-toast';

// common base function
// 手机, only
@media-xs: ~'(max-width:575.98px)';

// 竖版pad, only
@media-sm: ~'(min-width:576px) and (max-width:1023.98px)';
// 竖版pad, 576px and up
@media-up-xs: ~'(min-width:576px)';

// 横版pad, only
@media-md: ~'(min-width:1024px) and (max-width:1279.98px)';
// 横版pad, 1024px and up
@media-up-sm: ~'(min-width:1024px)';

// PC, 1280px and up
@media-lg: ~'(min-width:1280px)';
// PC, 1280px and up
@media-up-md: ~'(min-width:1280px)';
