@baseprefix : 'cine';
@font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// button
@btn: ~'@{baseprefix}-btn';
@color-white: #fff;
@btn-color-default: rgba(0, 0, 0, 0.87);
@btn-color-primary: #2196f3;
@btn-color-secondary: #e10050;

// grid & card
@grid :~'@{baseprefix}-grid';
@card :~'@{baseprefix}-card';
