.grid-row() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-1-2-2 {
    width: 100%;
}

@media @media-up-xs {
    .col-1-2-2 {
        flex: 0 50%;
    }
}

@media @media-up-sm {
    .col-1-2-2 {
        flex: 0 50%;
    }
}
