@index_modal: 1000;
@index_mask: 1000;
@index_btn_action: 3;
@index_global_notice: 3;
@index_home_header: 1;
@index_tab_items: 2;
@index_nav_list: 5;
@index_nav_list_open_after: 4;
@index_nav_wrap_nav_list: 5;
@index_nav_list_right: 2;
