* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

*:focus {
  outline: none;
}

html {
  line-height: 1;
  font-family: "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input,textarea {
  appearance: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

@import "tabs.less";