* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

*:focus {
    outline: none;
}

html {
    line-height: 1;
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
    -webkit-text-size-adjust: none;
}

body {
    font-size: 16px;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

input,
textarea {
    appearance: none;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.bg-blue {
    background-color: #021a52;
}

.bg-grey {
    background-color: #f8f9fa;
}

.text-blue {
    color: #0e3285;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@import 'tabs.less';
