.modal-overlay {
  position: fixed;
  z-index: 10086;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  background-size: cover;
}

.login-modal {
  width: 7.20rem;
  margin: 1.00rem auto 0;
  padding: .72rem .48rem .56rem;
  background: #fff;
  border-radius: .16rem;
  .login-top {
    font-size: .40rem;
    color: #103e99;
    .register-tip {
      font-size: .28rem;
      float: right;
      color: #3c3c3c;
      a {
        color: #fe682d;
        text-decoration: none;
      }
    }
  }
  .login-form {
    .username, .password, .login-btn {
      margin-top: .30rem;
      border-radius: .08rem;
    }
    .username, .password {
      padding: .32rem;
      border: solid .02rem #E5E5E5;
      width: 100%;
      font-size: .28rem;
      &::placeholder {
        font-size: .28rem;
        color: rgba(168, 173, 182, 0.60);
      }
      &:focus{
        &::placeholder{
          color: #a8adb6;
        }
        border: solid .02rem #91add8;
      }
    }
    .login-btn {
      padding: .32rem;
      line-height: 1;
      width: 100%;
      border: solid .02rem #12336b;
      background-color: #12336b;
      font-size: .36rem;
      color: #fff;
      text-align: center;
    }
  }
  .login-bottom {
    margin-top: .36rem;
    font-size: 0;
    text-align: center;
    a {
      font-size: .28rem;
      color: #818487;
    }
  }
}