.modal-overlay {
  position: fixed;
  z-index: 10086;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  background-size: cover;
}
.body-modal-open{
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
}
.login-modal {
  width: 7.20rem;
  margin: 2.00rem auto 0;
  padding: .72rem .48rem .56rem;
  background: #fff;
  border-radius: .16rem;
  .login-top {
    font-size: .40rem;
    color: #103e99;
    .register-tip {
      font-size: .28rem;
      float: right;
      color: #3c3c3c;
      a {
        color: #fe682d;
        text-decoration: none;
      }
    }
  }
  .login-form {
    .form-control{
      margin-top: .30rem;
      position: relative;
      font-size: 0;
      i.material-icons{
        position: absolute;
        top: 0.26rem;
        left: .20rem;
        font-size: .48rem;
        color: #103e99;
      }
      .username, .password {
        border-radius: .08rem;
        padding: .32rem .32rem .32rem .80rem;
        border: solid .02rem #E5E5E5;
        width: 100%;
        font-size: .28rem;
        &::placeholder {
          font-size: .28rem;
          color: rgba(168, 173, 182, 0.60);
        }
        &:focus {
          &::placeholder {
            color: #a8adb6;
          }
          border: solid .02rem #91add8;
        }
      }
    }

    .login-btn {
      border-radius: .08rem;
      padding: .32rem;
      line-height: 1;
      width: 100%;
      border: solid .02rem #12336b;
      background-color: #12336b;
      font-size: .36rem;
      color: #fff;
      text-align: center;
    }
  }
  .login-bottom {
    margin-top: .36rem;
    font-size: 0;
    text-align: center;
    a {
      font-size: .28rem;
      color: #818487;
    }
  }
}

.recommend-modal {
  width: 6.20rem;
  height: 7.00rem;
  margin: 2.00rem auto 0;
  background: #f1ede9 url(../image/bg_packet.png) no-repeat center;
  background-size: cover;
  border-radius: .12rem;
  padding: .48rem .80rem;
  .h2 {
    font-size: .36rem;
    color: #fff;
    text-align: center;
    margin-bottom: .72rem;
  }
  .desc {
    font-size: .30rem;
    line-height: .50rem;
    color: #3d3e3f;
    text-align: center;
    span {
      color: #fc4514;
    }
  }
  .btn {
    display: block;
    margin: .30rem auto 0;
    width: 3.80rem;
    color: #fff;
    font-size: .36rem;
    line-height: .82rem;
    height: .82rem;
    text-align: center;
    box-shadow: 0 .06rem .07rem 0 rgba(254, 94, 65, 0.2);
    border-radius: .39rem;
    background-color: #fe5e41;
    border-width: 0;
  }

}

.coupon-modal {
  width: 6.20rem;
  height: 7.00rem;
  margin: 2.00rem auto 0;
  background: #f1ede9 url(../image/bg_packet.png) no-repeat center;
  background-size: cover;
  border-radius: .12rem;
  padding: .36rem .60rem;
  h2 {
    background: url(../image/txt-95.png) no-repeat center;
    background-size: contain;
    height: .61rem;
    width: 100%;

  }
  .desc-wrap {
    .tip {
      margin-top: .60rem;
      font-size: .28rem;
      line-height: .44rem;
      text-align: center;
      color: #2b2b2c;
      span {
        color: #f54500
      }
    }

    .coupon-ticket {
      position: relative;
      margin: .34rem auto 0;
      width: 5.00rem;
      height: 2.10rem;
      background: #fff url(../image/bg_coupon.png) no-repeat center;
      background-size: contain;
      border-radius: .12rem .12rem 0 0;
      box-shadow: 0 .08rem .10rem 0 rgba(199, 194, 188, 0.12);
      .coupon-value {
        position: absolute;
        top: .58rem;
        left: .34rem;
        font-size: 0;
        .value, .unit {
          vertical-align: bottom;
          color: #f56e00;
        }
        .value {
          font-size: .60rem;
        }
        .unit {
          font-size: .30rem;
        }
      }
      .coupon-desc {
        position: absolute;
        top: .46rem;
        left: 1.98rem;
        font-size: 0;
        .coupon-name {
          font-size: .32rem;
          color: #2b2b2c;
        }
        .coupon-no {
          margin-top: .16rem;
          font-size: .22rem;
          color: #7a7b7d;
        }
      }
      .effective-date {
        position: absolute;
        top: 1.68rem;
        left: .25rem;
        font-size: .22rem;
        color: #222;
      }
    }
    .visit-at {
      margin-top: .38rem;
      word-break: keep-all;
      font-size: .24rem;
      line-height: .40rem;
      text-align: center;
      color: #2b2b2c;
    }
  }

}