@import "_cine.less";

.tabs {
  .tab-items {
    display: flex;
    align-items: center;
    background-color: #fbfdfe;
    .grey-line-bottom(2);
    .tab-item {
      flex: 1;
      font-size: .30rem;
      text-align: center;
      & a {
        cursor: pointer;
        min-width: 1.40rem;
        display: inline-block;
        padding: .30rem .09rem .21rem;
        text-decoration: none;
        color: #6a6a6a;
        position: relative;
      }
      &.active a {
        color: #014292;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: .07rem solid #014292;
        }
      }
    }
  }

  .tab-panels {
    .tab-panel {
      display: none;
      min-height: 100%;
      &.active {
        display: block;
      }
    }
  }
}

.tabs.tab-fixed {
  .tab-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fbfdfe;
    opacity: .9;
  }
  .tab-panels {
    padding-top: .84rem;
  }
}


@media @media-up-xs {
  .tabs {
    .tab-items {
      padding: 0 2.00rem;
      .tab-item {
        font-size: .36rem;
        & a {
          min-width: 1.40rem;
          display: inline-block;
          padding: .45rem .50rem .33rem;
          text-decoration: none;
          color: #6a6a6a;
          position: relative;
        }
        &.active a {
          color: #014292;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: .07rem solid #014292;
          }
        }
      }
    }
  }

  .tabs.tab-fixed {
    .tab-panels {
      padding-top: 1.17rem;
    }
  }
}

@media @media-up-xs {
  .tabs {
    .tab-items {
      padding: 0;
    }
  }
}