@import '~asset/style/common';
@import '~asset/style/_cine.less';

body {
    font-size: 14px;
    overflow-x: hidden;
    background-color: #fff;
}
.glayout {
    display: flex;
    flex-direction: column;

    height: 100vh;

    justify-content: space-between;
    .gmain {
        flex: 1;
    }
}

.gcontainer {
    width: 100%;
}

.gmain {
    background: #f3f4f5;
    .gcontainer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@media @media-up-sm {
    .gcontainer {
        margin: 0 auto;
        width: 18.8rem; //940px
    }

    .glayout--large .gcontainer {
        width: 24rem; //1200px
    }
}
