@import '~asset/style/common';
@import '~asset/style/_cine.less';
html {
    //height: 100%;
}
body {
    //height: 100%;
    font-size: 14px;
    overflow-x: hidden;
    //background-color: #fff;
}
#root {
    //height: 100%;
}

.glayout {
    flex: 1 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .gmain {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.gcontainer {
    width: 100%;
}

.gmain {
    background: #f3f4f5;
    .gcontainer {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        .cine-panel {
            flex: none;
            margin-bottom: 0.2rem;
            &:last-child {
                flex: 1 0 100%;
                margin-bottom: 0;
            }
        }
    }
}

@media @media-up-sm {
    .gcontainer {
        margin: 0 auto;
        width: 18.8rem; //940px
    }

    .glayout--large .gcontainer {
        width: 24rem; //1200px
    }
}

.h1 {
    height: 400px;
}
