.cine-d11-modal{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    img{
        width: 80%;
        max-width: 256px;
    }
    .btn{
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid #e3e3e3;
        color: #E3E3E3;
        font-size: 20px;
    }
}
