@import '../style';

.@{toast} {
    position: fixed;
    z-index: 5000;
    width: 2.4rem;
    min-height: 2.4rem;
    top: 3.6rem;
    left: 50%;
    margin-left: -1.2rem;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 0.1rem;
    color: #ffffff;

    i {
        margin-top: 0.2rem;
        font-size: 1.2rem;
    }
    i.loading {
        display: inline-block;
        margin: 0.6rem 0 0;
        width: 0.76rem;
        height: 0.76rem;
        vertical-align: baseline;
        animation: weuiLoading 1s steps(12, end) infinite;
        background: transparent url(./loading.svg) no-repeat;
        background-size: 100%;
    }
    @keyframes weuiLoading {
        0% {
            transform: rotate3d(0, 0, 1, 0deg);
        }

        100% {
            transform: rotate3d(0, 0, 1, 360deg);
        }
    }

    p {
        text-align: center;
        font-size: 0.3rem;
        line-height: 0.52rem;
    }
}
