@import '../style';

.@{toast} {
    position: fixed;
    z-index: 5000;
    width: 2.4rem;
    min-height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 0.1rem;
    color: #ffffff;
    padding-top: 0.6rem;
    padding-bottom: 0.32rem;
}

.@{toast}__icon {
    display: block;
    margin: 0 auto 0.3rem;
    font-size: 0.76rem;
}

.@{toast}--loading .@{toast}__icon {
    width: 0.76rem;
    height: 0.76rem;
    font-size: 0.64rem;
    background: url('./loading.svg') center no-repeat;
    background-size: contain;
    animation: whirl 1s steps(12, end) infinite;
}

@keyframes whirl {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.@{toast}__msg {
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.4rem;
}
