@import '~asset/style/common';
@import '~asset/style/_cine.less';

.tgrammar-stats-list,
.tgrammar {
    background-color: #fff;
    padding: 50px 40px;
    min-height: 600px;
}

@import 'tgrammar-stats-list.less';
