@import '~asset/style/common';
@import '~asset/style/_cine.less';

.mentor-container {
    background-color: #fff;
    padding: 0.8rem 0.7rem;
    min-height: 600px;
}

@import 'correct.less';
@import 'quiz.less';
@import 'task.less';
