.mentor-container.task {
    .studentPanel {
        display: flex;
        flex-direction: column;
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;

        .studentInfo {
            display: flex;
            flex-direction: row;
            margin: 0.2rem 0 0.2rem;
            span {
                font-family: PingFangSC-Regular;
                font-size: 0.3rem;
                color: #1b71db;
                padding-right: 0.6rem;
            }
        }

        .hr1 {
            color: #1b71db;
            background-color: #1b71db;
            margin-top: 0.15rem;
            margin-bottom: 0.2rem;
            border: 0;
            height: 0.05rem;
        }

        .studentHeader {
            display: flex;
            justify-content: space-between;
            padding: 0.4rem 0.1rem 0;

            label {
                font-family: PingFangSC-Regular;
                font-size: 0.26rem;
                color: #b2b3b5;
                cursor: pointer;
            }
        }

        .hr2 {
            color: #f2f4f6;
            background-color: #f2f4f6;
            border: 0;
            height: 0.02rem;
        }

        .taskPanel {
            padding: 0.3rem 0 0.4rem;
            width: 100%;
            display: flex;
            align-items: center;

            &.click {
                cursor: pointer;
            }

            .task-type {
                min-width: 0.6rem;
                font-size: 0.22rem;
                display: flex;
                height: 0.3rem;
                margin-right: 0.12rem;
                color: #b2b3b5;
                border: solid 0.02rem #c2c3c5;
                border-radius: 0.04rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
            .task-title {
                width: 100%;
                padding-right: 0.1rem;
                font-family: PingFangSC-Regular;
                font-size: 0.3rem;
                color: #3a3b3c;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: keep-all;
                overflow: hidden;
            }
            .task-expire {
                width: 3.5rem;
                color: #b2b3b5;
                font-size: 0.3rem;
            }
            .task-status {
                width: 2.5rem;
                font-size: 0.3rem;
                &.red {
                    color: #fb525a;
                }
                &.green {
                    color: #19bd4f;
                }
            }
            .task-todo {
                width: 2rem;
                text-align: center;
                font-size: 0.3rem;

                &.red {
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    background-color: #ed3c4d;
                    box-shadow: 0.02rem 0.02rem 0.06rem 0
                        rgba(237, 60, 77, 0.24);
                    border-radius: 0.9rem;
                }

                &.green {
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    background-color: #19bb4c;
                    box-shadow: 0.02rem 0.02rem 0.06rem 0
                        rgba(237, 60, 77, 0.24);
                    border-radius: 0.9rem;
                }

                &.blue {
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    background-color: #468bdf;
                    box-shadow: 0.02rem 0.02rem 0.06rem 0
                        rgba(237, 60, 77, 0.24);
                    border-radius: 0.9rem;
                }

                &.gray {
                    font-size: 12px;
                    color: #a4a9b1;
                    text-align: center;
                    line-height: 1;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    background-color: #e3e5ea;
                    box-shadow: 0.02rem 0.02rem 0.06rem 0
                        rgba(237, 60, 77, 0.24);
                    border-radius: 0.9rem;
                }
            }
        }
    }
}

@media @media-xs {
    .mentor-container.task {
        padding: 0.2rem;

        .studentPanel {
            .taskPanel {
                .task-title {
                    font-size: 0.24rem;
                }

                .task-expire {
                    width: 3.5rem;
                    font-size: 0.24rem;
                }

                .task-status {
                    width: 1.8rem;
                    font-size: 0.24rem;
                }

                .task-todo {
                    width: 2rem;
                    font-size: 0.24rem;

                    &.red {
                        font-size: 10px;
                    }

                    &.green {
                        font-size: 10px;
                    }

                    &.blue {
                        font-size: 10px;
                    }

                    &.gray {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
