@import '../style';

.@{window}__main {
    position: fixed;
    //width: 18.8rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //width: 100%;
    //left: 50%;
    //transform: translateX(-50%) translateX(50px);
    background-color: #fff;
    z-index: 2001;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}