.coupon-tabs {
  .tab-items {
    background-color: #FFFFFF;
    display: flex;
    padding-left: 0.85rem;
    .grey-line-bottom(2);
    .tab-item {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      margin-right: .5rem;
      display: flex;

      & a {
        min-width: 1.40rem;
        display: inline-block;
        padding: .57rem .32rem .57rem .32rem;
        text-decoration: none;
        color: #3d3e3f;
        position: relative;
      }
      &.active a {
        color: #014292;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: .07rem solid #014292;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tab-panels {
    .tab-panel {
      display: none;
      min-height: 10rem;
      background-color: #FFFFFF;

      padding-left: .84rem;
      padding-top: .0rem;
      padding-right: .84rem;

      &.active {
        display: block;
      }
    }
  }
}

.coupon-list{
  display: flex;
  flex-wrap: wrap;

  .coupon-not-found{
    margin-top: .33rem;
    font-size: .32rem;
  }

  .coupon-ticket {
    position: relative;
    margin-left: 1.2rem;
    margin-right: .59rem;
    margin-top: .9rem;
    width: 6.5rem;
    height: 2.8rem;
    background: #fff url(../image/bg_coupon.png) no-repeat left;
    background-size: contain;
    border-radius: .12rem .12rem 0 0;
    .coupon-value {
      position: absolute;
      top: .69rem;
      left: .49rem;
      font-size: 0;
      font-family: PingFangSC-Medium;
      .value, .unit {
        vertical-align: bottom;
        color: #f56e00;
      }
      .value {
        font-size: .32rem;
      }
      .unit {
        font-size: .30rem;
      }
    }
    .coupon-desc {
      position: absolute;
      top: .57rem;
      left: 2.53rem;
      font-size: 0;
      .coupon-name {
        font-size: .32rem;
        color: #2b2b2c;
        font-family: PingFangSC-Medium;
      }
      .coupon-no {
        margin-top: .15rem;
        font-size: .22rem;
        color: #7a7b7d;
        font-family: PingFangSC-Regular;
      }
    }
    .effective-date {
      position: absolute;
      top: 1.97rem;
      left: .37rem;
      font-family: PingFangSC-Regular;
      font-size: .20rem;
      color: #2b2b2c;
    }
    .coupon-expand{
      position: absolute;
      width: .28rem;
      height: .25rem;
      bottom: .2rem;
      left: 3.11rem;
    }
  }

  .coupon-ticket-used {
    background: #fff url(../image/bg_coupon_used.png) no-repeat left;
    background-size: contain;
    border-radius: .12rem .12rem 0 0;
    .coupon-value {
      position: absolute;
      top: .69rem;
      left: .49rem;
      font-size: 0;
      font-family: PingFangSC-Medium;
      .value, .unit {
        vertical-align: bottom;
        color: #959595;
      }
      .value {
        font-size: .32rem;
      }
      .unit {
        font-size: .30rem;
      }
    }
    .coupon-desc {
      position: absolute;
      top: .57rem;
      left: 2.53rem;
      font-size: 0;
      .coupon-name {
        font-size: .32rem;
        color: #7b7c7d;
        font-family: PingFangSC-Medium;
      }
      .coupon-no {
        margin-top: .15rem;
        font-size: .22rem;
        color: #7b7c7d;
        font-family: PingFangSC-Regular;
      }
    }
    .effective-date {
      position: absolute;
      top: 1.97rem;
      left: .37rem;
      font-family: PingFangSC-Regular;
      font-size: .20rem;
      color: #7b7c7d;
    }
    .coupon-status{
      position: absolute;
      width: 1.72rem;
      height: 1.72rem;
      right: .4rem;
      bottom: .2rem;
    }
  }

  .coupon-ticket-expired {
    background: #fff url(../image/bg_coupon_expired.png) no-repeat left;
    background-size: contain;
    border-radius: .12rem .12rem 0 0;
    .coupon-value {
      position: absolute;
      top: .69rem;
      left: .49rem;
      font-size: 0;
      font-family: PingFangSC-Medium;
      .value, .unit {
        vertical-align: bottom;
        color: #b8babc;
      }
      .value {
        font-size: .32rem;
      }
      .unit {
        font-size: .30rem;
      }
    }
    .coupon-desc {
      position: absolute;
      top: .57rem;
      left: 2.53rem;
      font-size: 0;
      .coupon-name {
        font-size: .32rem;
        color: #b8babc;
        font-family: PingFangSC-Medium;
      }
      .coupon-no {
        margin-top: .15rem;
        font-size: .22rem;
        color: #b8babc;
        font-family: PingFangSC-Regular;
      }
    }
    .effective-date {
      position: absolute;
      top: 1.97rem;
      left: .37rem;
      font-family: PingFangSC-Regular;
      font-size: .20rem;
      color: #b8babc;
    }
  }
}

@media @media-up-xs {
  .home-tabs {
    .tab-items {
      margin: 0 .40rem;

      .tab-item {
        margin-right: .70rem;
        font-size: .36rem;
        & a {
          padding: .32rem .29rem .23rem;
        }
        &.active a {

          &:after {

          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tab-panels {
      .tab-panel {

        &.active {

        }
      }
    }
  }
}