.coupon-tabs {
  .tab-items {
    background-color: #ffffff;
    display: flex;
    padding: 0;
    .tab-item {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      display: flex;
      margin: 0;
      flex-grow: 1;

      & a {
        cursor: pointer;
        width: 100%;
        padding: 0.33rem 0.32rem 0.3rem 0.32rem;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #4c4c4d;
        position: relative;
      }
      &.active a {
        color: #03419d;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 0.07rem solid #014292;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tab-panels {
    .tab-panel {
      display: none;
      min-height: 10rem;
      background-color: #ffffff;

      padding: 0;

      &.active {
        display: block;
      }
    }
  }
}

.coupon-list {
  display: flex;
  flex-wrap: wrap;

  .coupon-not-found {
    font-size: 0.3rem;
    color: #c2c3c5;
    margin-top: 4.33rem;
    width: 100%;
    text-align: center;
  }

  .coupon-detail {
    position: relative;
    margin: 0.44rem 0 0 0.5rem;

    .coupon-ticket {
      position: relative;
      width: 6.5rem;
      height: 2.8rem;
      background: #fff url(../image/bg_coupon.png) no-repeat left;
      background-size: contain;
      border-radius: 0.12rem 0.12rem 0 0;
      .coupon-value {
        position: absolute;
        top: 0.69rem;
        left: 0.49rem;
        font-size: 0;
        font-family: PingFangSC-Medium;
        .value,
        .unit {
          vertical-align: bottom;
          color: #f56e00;
        }
        .value {
          font-size: 0.32rem;
        }
        .unit {
          font-size: 0.3rem;
        }
      }
      .coupon-desc {
        position: absolute;
        top: 0.57rem;
        left: 2.53rem;
        font-size: 0;
        .coupon-name {
          font-size: 0.32rem;
          color: #2b2b2c;
          font-family: PingFangSC-Medium;
        }
        .coupon-no {
          margin-top: 0.15rem;
          font-size: 0.22rem;
          color: #7a7b7d;
          font-family: PingFangSC-Regular;
        }
      }
      .effective-date {
        position: absolute;
        top: 1.97rem;
        left: 0.37rem;
        font-family: PingFangSC-Regular;
        font-size: 0.2rem;
        color: #2b2b2c;
      }
      .verb {
          cursor: pointer;
          position: absolute;
          top:1.87rem;
          right: 0.5rem;
          width:1.4rem;
          height: 0.4rem;
          padding-top: 0.075rem;
          float: right;
          text-align: center;
          font-family: PingFangSC-Regular;
          font-size: 0.2rem;
          color: #f56e00;
          border: solid;
          border-width: 1px;
          border-color: #f56e00;
          border-radius: 0.2rem;
      }
      .coupon-expand {
        position: absolute;
        width: 0.28rem;
        height: 0.25rem;
        bottom: 0.2rem;
        left: 3.11rem;
      }
      .coupon-status {
          position: absolute;
          width: 1.0rem;
          height: 1.0rem;
          right: 0.3rem;
          top: 0rem;
      }
    }

    .coupon-remark {
      width: 6.17rem;
      margin-left: 0.05rem;
      background-color: #fbfbfb;
      border-radius: 0px 0px 12px 12px;
      padding: 0.2rem 0.36rem 0.41rem 0.36rem;
      color: #919395;
      font-family: PingFangSC-Regular;
      font-size: 12px;
    }

    .coupon-ticket-used {
      background: #fff url(../image/bg_coupon_used.png) no-repeat left;
      background-size: contain;
      border-radius: 0.12rem 0.12rem 0 0;
      .coupon-value {
        position: absolute;
        top: 0.69rem;
        left: 0.49rem;
        font-size: 0;
        font-family: PingFangSC-Medium;
        .value,
        .unit {
          vertical-align: bottom;
          color: #959595;
        }
        .value {
          font-size: 0.32rem;
        }
        .unit {
          font-size: 0.3rem;
        }
      }
      .coupon-desc {
        position: absolute;
        top: 0.57rem;
        left: 2.53rem;
        font-size: 0;
        .coupon-name {
          font-size: 0.32rem;
          color: #7b7c7d;
          font-family: PingFangSC-Medium;
        }
        .coupon-no {
          margin-top: 0.15rem;
          font-size: 0.22rem;
          color: #7b7c7d;
          font-family: PingFangSC-Regular;
        }
      }
      .effective-date {
        position: absolute;
        top: 1.97rem;
        left: 0.37rem;
        font-family: PingFangSC-Regular;
        font-size: 0.2rem;
        color: #7b7c7d;
      }
      .coupon-status {
        position: absolute;
        width: 1.72rem;
        height: 1.72rem;
        right: 0.4rem;
        bottom: 0.2rem;
      }
    }

    .coupon-ticket-expired {
      background: #fff url(../image/bg_coupon_expired.png) no-repeat left;
      background-size: contain;
      border-radius: 0.12rem 0.12rem 0 0;
      .coupon-value {
        position: absolute;
        top: 0.69rem;
        left: 0.49rem;
        font-size: 0;
        font-family: PingFangSC-Medium;
        .value,
        .unit {
          vertical-align: bottom;
          color: #b8babc;
        }
        .value {
          font-size: 0.32rem;
        }
        .unit {
          font-size: 0.3rem;
        }
      }
      .coupon-desc {
        position: absolute;
        top: 0.57rem;
        left: 2.53rem;
        font-size: 0;
        .coupon-name {
          font-size: 0.32rem;
          color: #b8babc;
          font-family: PingFangSC-Medium;
        }
        .coupon-no {
          margin-top: 0.15rem;
          font-size: 0.22rem;
          color: #b8babc;
          font-family: PingFangSC-Regular;
        }
      }
      .effective-date {
        position: absolute;
        top: 1.97rem;
        left: 0.37rem;
        font-family: PingFangSC-Regular;
        font-size: 0.2rem;
        color: #b8babc;
      }
    }
  }
}

.coupon-todo {
  position: fixed;
  width: 1.2rem;
  bottom: 0.49rem;
  right: 0;

  .float-button {
    cursor: pointer;
    float: right;
    margin-right: 0.21rem;
    width: 0.96rem;
    height: 0.96rem;
    background: url('../image/ico_add_coupon.png') no-repeat;
    background-size: 0.96rem 0.96rem;
  }
}

@media @media-up-sm {
  .coupon-tabs {
    .tab-items {
      padding-left: 0.85rem;
      .tab-item {
        display: flex;
        margin-right: 0.5rem;
        flex-grow: 0;

        & a {
          width: auto;
          min-width: 1.4rem;
          padding: 0.57rem 0.32rem 0.57rem 0.32rem;
          color: #3d3e3f;
        }
        &.active a {
          color: #014292;
          &:after {
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 0.07rem solid #014292;
          }
        }
      }
    }

    .tab-panels {
      .tab-panel {
        display: none;
        min-height: 10rem;
        background-color: #ffffff;
        padding-left: 0.84rem;
        padding-top: 0rem;
        padding-right: 0.84rem;

        &.active {
          display: block;
        }
      }
    }
  }

  .coupon-list {
    display: flex;
    flex-wrap: wrap;

    .coupon-not-found {
      margin-top: 4.5rem;
    }

    .coupon-detail {
      position: relative;
      margin-left: 1.2rem;
      margin-right: 0.59rem;
      margin-top: 0.9rem;

      .coupon-ticket {
        position: relative;
        width: 6.5rem;
        height: 2.8rem;
        background: #fff url(../image/bg_coupon.png) no-repeat left;
        background-size: contain;
        border-radius: 0.12rem 0.12rem 0 0;
        .coupon-value {
          position: absolute;
          top: 0.69rem;
          left: 0.49rem;
          font-size: 0;
          font-family: PingFangSC-Medium;
          .value,
          .unit {
            vertical-align: bottom;
            color: #f56e00;
          }
          .value {
            font-size: 0.32rem;
          }
          .unit {
            font-size: 0.3rem;
          }
        }
        .coupon-desc {
          position: absolute;
          top: 0.57rem;
          left: 2.53rem;
          font-size: 0;
          .coupon-name {
            font-size: 0.32rem;
            color: #2b2b2c;
            font-family: PingFangSC-Medium;
          }
          .coupon-no {
            margin-top: 0.15rem;
            font-size: 0.22rem;
            color: #7a7b7d;
            font-family: PingFangSC-Regular;
          }
        }
        .effective-date {
          position: absolute;
          top: 1.97rem;
          left: 0.37rem;
          font-family: PingFangSC-Regular;
          font-size: 0.2rem;
          color: #2b2b2c;
        }
        .coupon-expand {
          position: absolute;
          width: 0.28rem;
          height: 0.25rem;
          bottom: 0.2rem;
          left: 3.11rem;
        }
      }

      .coupon-remark {
        width: 6.17rem;
        margin-left: 0.05rem;
        background-color: #fbfbfb;
        border-radius: 0px 0px 12px 12px;
        padding: 0.2rem 0.36rem 0.41rem 0.36rem;
        color: #919395;
        font-family: PingFangSC-Regular;
        font-size: 12px;
      }

      .coupon-ticket-used {
        background: #fff url(../image/bg_coupon_used.png) no-repeat left;
        background-size: contain;
        border-radius: 0.12rem 0.12rem 0 0;
        .coupon-value {
          position: absolute;
          top: 0.69rem;
          left: 0.49rem;
          font-size: 0;
          font-family: PingFangSC-Medium;
          .value,
          .unit {
            vertical-align: bottom;
            color: #959595;
          }
          .value {
            font-size: 0.32rem;
          }
          .unit {
            font-size: 0.3rem;
          }
        }
        .coupon-desc {
          position: absolute;
          top: 0.57rem;
          left: 2.53rem;
          font-size: 0;
          .coupon-name {
            font-size: 0.32rem;
            color: #7b7c7d;
            font-family: PingFangSC-Medium;
          }
          .coupon-no {
            margin-top: 0.15rem;
            font-size: 0.22rem;
            color: #7b7c7d;
            font-family: PingFangSC-Regular;
          }
        }
        .effective-date {
          position: absolute;
          top: 1.97rem;
          left: 0.37rem;
          font-family: PingFangSC-Regular;
          font-size: 0.2rem;
          color: #7b7c7d;
        }
        .coupon-status {
          position: absolute;
          width: 1.72rem;
          height: 1.72rem;
          right: 0.4rem;
          bottom: 0.2rem;
        }
      }

      .coupon-ticket-expired {
        background: #fff url(../image/bg_coupon_expired.png) no-repeat left;
        background-size: contain;
        border-radius: 0.12rem 0.12rem 0 0;
        .coupon-value {
          position: absolute;
          top: 0.69rem;
          left: 0.49rem;
          font-size: 0;
          font-family: PingFangSC-Medium;
          .value,
          .unit {
            vertical-align: bottom;
            color: #b8babc;
          }
          .value {
            font-size: 0.32rem;
          }
          .unit {
            font-size: 0.3rem;
          }
        }
        .coupon-desc {
          position: absolute;
          top: 0.57rem;
          left: 2.53rem;
          font-size: 0;
          .coupon-name {
            font-size: 0.32rem;
            color: #b8babc;
            font-family: PingFangSC-Medium;
          }
          .coupon-no {
            margin-top: 0.15rem;
            font-size: 0.22rem;
            color: #b8babc;
            font-family: PingFangSC-Regular;
          }
        }
        .effective-date {
          position: absolute;
          top: 1.97rem;
          left: 0.37rem;
          font-family: PingFangSC-Regular;
          font-size: 0.2rem;
          color: #b8babc;
        }
      }
    }
  }

  .coupon-todo {
    position: fixed;
    //width: 18.8rem;
    width: 1.2rem;
    margin: 0 auto;
    right: 0;
    bottom: 0.49rem;

    .float-button {
      cursor: pointer;
      float: right;
      margin-right: 0.21rem;
      width: 0.96rem;
      height: 0.96rem;
      background: url('../image/ico_add_coupon.png') no-repeat;
      background-size: 0.96rem 0.96rem;
    }
  }
}
