.bgpanel {
    background-color: #424242;
    overflow: hidden;
}
.bggrid {
    background-color: #eeeeee;
}
.bg111 {
    background-color: #f44336;
    height: 50px;
}
.bg112 {
    background-color: #673ab7;
    height: 100px;
}
.bg123 {
    background-color: #03a9f4;
    height: 120px;
}
.bg234 {
    background-color: #ffeb3b;
    height: 80px;
}