.quiz-stats-tabs {
    background-color: #fff;
    .tab-items {
        background-color: #fff !important;
    }
    .tab-panels {
        padding-top: 0.2rem;
        min-height: 6rem;
    }
    .table-head,
    .table-tr {
        display: flex;
        justify-content: space-between;
        font-size: 0.3rem;
        border-bottom: 0.02rem solid #f4f6f8;

        span {
            flex: 1 0;
            text-align: center;
        }
    }
    .table-head span {
        color: #3a3b3c;
        font-weight: bold;
        line-height: 0.9rem;
    }
    .table-tr span {
        line-height: 1.1rem;
        color: #3d3e3f;
        &.score {
            color: #ee0d0d;
        }
        &.status__3 {
            color: #20af38;
        }
        &.status__1 {
            color: #ee0d0d;
        }
    }
    .table-tr span:first-child {
        font-size: 0.24rem;
    }
}

@media @media-up-xs {
    .quiz-stats-tabs {
        .table-tr span:first-child {
            font-size: 0.3rem;
        }
    }
}
