@import '~asset/style/_cine.less';

.layout-container {
    margin: 0.55rem auto;
    width: 18.8rem;
    padding-bottom: 0rem;
    max-width: 100%;
}

.layout-banner {
    border-bottom: none;
    height: 3.6rem;
    max-width: 1920px;
    width: 100%;
}

.panelHidden {
    visibility: hidden;
    height: 0px;
}

.cardComment {
    background-color: white;
    padding: 10px;
    padding-top: 0px;
}