@import '~asset/style/_cine.less';

.layout-container {
    margin: 0.55rem auto;
    width: 18.8rem;
    padding-bottom: 0rem;
    max-width: 100%;
}

/* .panelShow {
    // padding-bottom: 10px;
    margin-bottom: 20px;
} */

.panelHidden {
    visibility: hidden;
    height: 0px;
}

.cardComment {
    background-color: white;
    padding: 10px;
    padding-top: 0px;
}