.report-list{
  table.table{
    margin: .50rem auto;
    text-align: center;
    border-collapse:collapse;
    thead{
      font-size: .30rem;
      color: #225fb2;
      th {
        border-bottom: .04rem solid #4272ba;
        padding: .22rem;
      }
    }
    tbody {
      font-size: .28rem;
      color: #3d3e3f;
      tr{
        td{
          padding: .36rem;
          border-bottom: .02rem solid #d2ddeb;
        }
        &:active{
          background-color: rgba(171, 218, 255, 0.35);
        }
      }
    }
  }
}