.cine-share__container {
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100px;
    left: auto;
    transform: none;

    .cine-share__tip {
        margin-top: 54px;
        text-align: center;
        font-size: 18px;
        color: #fe6a18;
        font-weight: bold;
    }
    .cine-share__arrow {
        position: absolute;
        top: 9px;
        right: 44px;
        width: 33px;
        height: 37px;
        img {
            display: block;
            width: 100%;
        }
    }
}
