@import '~asset/style/common';
@import '~asset/style/_cine.less';

body {
    font-size: 14px;
    overflow-x: hidden;
    background-color: #fff;
}
#root {
    display: flex;
    flex-direction: column;

    height: 100vh;

    justify-content: space-between;
    .gmain {
        flex: 1;
    }
}

.gcontainer {
    width: 100%;
}

.gmain {
    background: #f3f4f5;
    .gcontainer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@media @media-up-xs {
    .gcontainer {
        width: 100%;
        margin: 0 auto;
    }
}

@media @media-up-sm {
    .gcontainer {
        width: 18.8rem;
    }
}
