@import '~asset/style/common';
@import '~asset/style/_cine.less';
@import 'layout.less';
@header-height: 1.6rem;
@header-bgcolor: #014292;
@footer-bgcolor: #014292;

// header
.gheader {
    display: none;
}
.nav-2nd {
    display: none;
}

// main
.gmain {
}

// footer
.gfooter {
    display: none;
}

@media @media-up-xs {
    // header
    .gheader,
    .gminiheader {
        display: block;

        background-color: @header-bgcolor;
        .gcontainer {
            display: flex;

            height: @header-height;

            align-items: stretch;
            justify-content: space-between;
        }
        .brand {
            width: 1.86rem;
            margin-top: 0.2rem;
        }
    }

    .nav-1st {
        display: flex;
        flex: 1;

        margin-left: 0.6rem;

        align-items: stretch;
        a {
            font-size: 0.32rem;

            padding: 0.8rem 0.5rem 0;

            color: #fff;
            &:hover,
            &.active {
                background-image: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.3) 0%,
                    rgba(0, 0, 0, 0.05) 100%
                );
            }
        }
    }
    .nav-2nd {
        display: block;

        box-shadow: 0rem 0.12rem 0.18rem 0rem rgba(168, 170, 174, 0.18);
        .gcontainer {
            position: relative;

            display: flex;

            height: 1.1rem;

            align-items: stretch;
        }
        a {
            font-size: 0.28rem;

            display: flex;

            min-width: 1.8rem;
            margin: 0 0.4rem;

            transition: all 0.1s;

            color: #2c2d2f;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;

            align-items: center;
            justify-content: center;
            &:hover,
            &.active {
                border-bottom: 4px solid #0748a0;
            }
            &.disabled {
                cursor: not-allowed;

                opacity: 0.4;

                filter: grayscale(100%);
                filter: gray;
            }
            &.disabled:hover {
                border: transparent;
            }
            i {
                width: 0.4rem;
                margin-right: 0.3em;

                color: #0748a0;
            }
        }
    }

    .user-bar {
        position: relative;

        padding-top: 0.3rem;
        &:hover {
            background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.05)
            );
        }

        .nickname {
            display: flex;

            min-width: 130px;
            height: 100%;

            cursor: pointer;

            color: #fff;

            justify-content: flex-end;
            align-items: center;
            span {
                font-size: 0.28rem;
            }
            img {
                width: 0.82rem;
                margin: 0 0.3rem;

                border-radius: 50%;
            }
        }
        .nav-user {
            position: absolute;
            z-index: 1000;
            right: 0;

            display: none;
            flex-direction: column;

            padding: 0.2rem 0;

            background-color: rgba(2, 68, 150, 0.9);
            box-shadow: 0px 6px 9px 0px rgba(168, 170, 174, 0.18);
            a {
                font-size: 0.28rem;
                line-height: 0.6rem;

                padding: 0 0.6rem;

                cursor: pointer;

                color: #fff;
                &:hover {
                    background-image: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.3),
                        rgba(0, 0, 0, 0.05)
                    );
                }
            }
        }
    }
    .user-bar.open {
        .nickname i {
            transition: all 0.3s;
            transform: rotate(180deg);
        }
        .nav-user {
            display: flex;
        }
    }

    // main
    .gmain {
        display: block;

        padding-top: 28px;
        padding-bottom: 42px;
    }

    // footer
    .gfooter {
        display: block;
        display: flex;

        height: 2rem;

        background-color: @footer-bgcolor;

        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        .copyright {
            font-size: 0.28rem;
            line-height: 0.6rem;

            text-align: center;

            color: #fff;
        }
    }
}
