@import '~asset/style/_cine.less';

body {
    background-color: #f8f9fa;
    overflow: visible;
}
#root {
    background-color: #fff;
}

@media @media-up-xs {
    #root {
        margin: 0 auto;
        max-width: 450px;
    }
}
.achieve__cav {
    max-width: 100%;
    display: block;
}
.achieve {
    height: 13.34rem;
    overflow: hidden;
    background: linear-gradient(180deg, #dfedff, #afc9fd);

    .achieve__head {
        padding-top: 0.55rem;
        height: 3.3rem;
        // background: url('../image/bg_sharetop.png') no-repeat top center;
        // background-size: contain;
    }

    .ach_slogan {
        display: block;
        margin-left: 0.43rem;
        height: 0.61rem;
    }

    .ach_tips {
        font-size: 0.28rem;
        line-height: 0.6rem;
        color: #000000;
        font-size: 0.32rem;
        line-height: 0.62rem;
        text-align: center;
        .bb {
            font-size: 0.48rem;
            font-weight: 500;
        }
    }

    .ach_tips__tea {
        font-size: 0.6rem;
        font-weight: 500;
    }

    .achieve__content__container {
        padding: 0.1rem;
        background: url('../image/border_blue.jpg');
        background-size: 16px;
        width: 7.2rem;
        height: 8rem;
        margin: 0 auto;
        border-radius: 0.2rem;
        margin-bottom: 0.48rem;
    }
    .achieve__content {
        height: 100%;
        padding: 0.4rem 0.3rem;
        background-color: #ffffff;
        box-shadow: 0px 10px 14.7px 1.3px rgba(158, 158, 158, 0.18);
        border-radius: 0.12rem;
    }

    .myach__img,
    .mymentor__img {
        display: block;
        margin: 0 auto;
        height: 0.74rem;
        margin-bottom: 0.38rem;
    }
    .mymentor__img {
        margin-bottom: 0.3rem;
    }

    .myach__item {
        text-align: center;
    }

    .myach__list {
        display: flex;
        justify-content: space-between;
        font-size: 0.24rem;
        color: #3a3b3c;
        margin-bottom: 0.4rem;
    }

    .myach__item_count {
        text-align: center;
        margin-bottom: 0.2rem;
        span {
            font-weight: bolder;
            font-size: 0.54rem;
        }
    }

    .myach__item_name {
        img {
            vertical-align: middle;
            width: 0.24rem;
            height: 0.24rem;
        }
        span {
            vertical-align: middle;
        }
    }

    .myach__comp {
        font-size: 0.24rem;
        text-align: center;
        color: #2a2b2c;
        line-height: 0.5rem;
        margin-bottom: 0.61rem;
        height: 1rem;
    }

    .myach__comp__name {
        font-style: italic;
        font-size: 0.3rem;
    }

    .mymentor__content {
        display: flex;
    }
    .mymentor__avator {
        // float: left;
        text-align: center;
        font-size: 0.28rem;
        line-height: 0.64rem;
        color: #2a2b2c;
        font-weight: bold;
        padding-right: 0.28rem;
        img {
            display: block;
            border-radius: 50%;
            height: 1.2rem;
            width: 1.2rem;
            margin-top: 0.1rem;
            box-shadow: 0rem 0.12rem 0.147rem 0.013rem rgba(180, 200, 221, 0.24);
        }
    }

    .mymentor__desc {
        font-size: 0.26rem;
        line-height: 0.48rem;
        color: #2a2b2c;
        height: 1.69rem;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .achieve__footer {
        height: 1.62rem;
        display: flex;
        justify-content: space-between;
    }

    .ach_qrcode__desc {
        height: 1.62rem;
        width: 5.73rem;
    }
    .ach_qrcode {
        height: 1.28rem;
        margin-right: 0.3rem;
    }
}
