body {
    background-color: #f8f9fa;
    overflow: visible;
}
#root {
    background-color: #fff;
    // width: 7.5rem;
    margin: 0 auto;
    max-width: 450px;
}
.achieve__cav {
    max-width: 100%;
}
.achieve {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .achieve__head {
        flex: 0 0 3rem;
        background: url('../image/bg_top1.png') no-repeat center;
        background-size: cover;
    }

    .ach_slogan {
        display: block;
        margin: 0.4rem;
        height: 0.5rem;
    }

    .ach_tips {
        padding-left: 0.67rem;
        font-size: 0.28rem;
        line-height: 0.6rem;
        color: #3e3e3e;
        span {
            font-weight: bolder;
            font-size: 0.36rem;
        }
    }

    .achieve__content {
        flex: 1 0;
        padding: 0 0.52rem;
    }

    .myach__img,
    .mymentor__img {
        display: block;
        margin: 0 auto;
        height: 0.74rem;
        margin-bottom: 0.56rem;
    }

    .myach__list {
        display: flex;
        justify-content: space-between;
        font-size: 0.24rem;
        color: #3a3b3c;
        margin-bottom: 0.4rem;
    }

    .myach__item_count {
        text-align: center;
        margin-bottom: 0.28rem;
        span {
            font-weight: bolder;
            font-size: 0.56rem;
        }
    }

    .myach__item_name {
        img {
            vertical-align: middle;
            width: 0.24rem;
            height: 0.24rem;
        }
        span {
            vertical-align: middle;
        }
    }

    .myach__comp {
        font-size: 0.24rem;
        text-align: center;
        color: #2a2b2c;
        line-height: 0.5rem;
        margin-bottom: 0.78rem;
        height: 1rem;
    }

    .myach__comp__name {
        font-style: italic;
        font-size: 0.3rem;
    }

    .mymentor__content {
        display: flex;
    }
    .mymentor__avator {
        // float: left;
        text-align: center;
        font-size: 0.28rem;
        line-height: 0.64rem;
        color: #2a2b2c;
        font-weight: bold;
        padding-right: 0.28rem;
        img {
            display: block;
            border-radius: 50%;
            height: 1.2rem;
            width: 1.2rem;
            margin-top: 0.1rem;
        }
    }

    .mymentor__desc {
        font-size: 0.26rem;
        line-height: 0.48rem;
        color: #2a2b2c;
        height: 1.94rem;
    }

    .achieve__footer {
        flex: 0 0 2.43rem;
        background: url('../image/bg_foot.png') no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
    }

    .ach_qrcode__desc {
        height: 0.8rem;
        margin-right: 0.6rem;
        margin-top: 0.96rem;
    }
    .ach_qrcode {
        height: 1.28rem;
        margin-top: 0.67rem;
        margin-right: 0.6rem;
    }
}
