.course__main {
    display: flex;
    height: 100%;
    flex: auto;
}

.course__main .cine-panel.course__content {
    order: 1;
    flex: auto;
    margin-bottom: 0;
    align-self: stretch;
}

.course__main .cine-panel.course__nav {
    flex: none !important;
    width: 310px;
    margin-right: 10px;
}

.nav__chapters {
    font-size: 12px;
    line-height: 24px;
    color: #2c2d2f;
}

.nav__chapter {
    cursor: pointer;

    i {
        vertical-align: middle;
        font-size: 12px;
    }
    > span {
        vertical-align: middle;
        font-weight: bolder;
        &:hover {
            color: #0748a0;
        }
    }
    a {
        display: block;
    }
}

.nav__lessons {
    transition: height 150ms ease-out, border 150ms ease-out;
    overflow: hidden;
    height: 0;
}

.nav__lessons--active {
    height: auto;
}

.nav__lesson {
    padding-left: 1em;
    position: relative;
    i {
        position: absolute;
        font-size: 18px;
        bottom: 4px;
        right: 0;
    }
    > span {
        vertical-align: middle;
    }
    &:hover {
        color: #0748a0;
    }
    &:first-child {
        border-top: 1px dashed #c1c1c1;
    }
}

.nav__lesson--active {
    color: #0748a0;
    font-weight: bold;
}

.lesson__html {
    font-size: 14px !important;
    line-height: 1.6 !important;
}
