@import './taskList.less';

.task {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    background-color: white;
}

.searchButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: greenyellow;
    font-size: 0.65rem;
    outline: none;
    border: none;
}

.taskContentHeader {
    height: 1.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
    background-color: #1c77dd;
}
.taskHeaderTitle {
    height: 1.0rem;
    margin-top: 0.2rem;
    font-size: 0.8rem;
    text-align: left;
}
.taskContent {
    margin: 0 auto;
    width: 100%;
    height: 0.9rem;
    border-bottom: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: #d7d7d7;
}
.taskContentType {
    float: left;
    margin-top: 0.3rem;
    padding-top: 0.02rem; 
    width: 0.6rem;
    height: 0.3rem;
    font-family: PingFangSC-Regular;
    font-size: 0.22rem;
    text-align: center;
    border: solid;
    border-width: 1px;
    color: #1c77dd;
    border-color: #1c77dd;
}
.taskContentText {
    width: auto;
    margin-top: 0.3rem;
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #3a3b3c;
    background-color: aqua;
    white-space: nowrap;
}
.taskContentInspect {
    float: right;
    width: 2rem;
    border-radius: 5px;
    text-align: center;
    font-size: 0.6rem;
    color: #fff;
    background-color: red;
}