.historyTask {
    height: 100%;

    .HT_FirstHeaderTitle {
        padding-top: 0rem;
        font-family: PingFangSC-Medium;
        font-size: 0.36rem;
        text-align: left;
    }

    .HT_HeaderTitle {
        padding-top: 0.7rem;
        font-family: PingFangSC-Medium;
        font-size: 0.36rem;
        text-align: left;
    }
}
