@import '~asset/style/_cine.less';
@import './taskList.less';

a {
    color: inherit;
}

.tasks-container {
    margin-bottom: 0.2rem;
    .cine-panel__lefthead a {
        margin-left: 1.6rem;
        font-size: 0.3rem;
        color: #5a5b5c;
    }
    .cine-panel__righthead a {
        color: #1b71db;
        font-size: 0.32rem;
        cursor: pointer;
    }
}

.courses-container {
    height: 100%;
}
.courses-list {
    .courses-item {
        display: flex;

        margin-bottom: 0.26rem;

        transition: all 0.2s;
        .course-img {
            position: relative;

            flex: 0 0 1.8rem;

            height: 1rem;
            // padding-right: 0.18rem;

            border-radius: 0.04rem;
            i {
                position: absolute;
                top: 50%;
                left: 50%;

                display: block;

                width: 0.5rem;
                height: 0.5rem;

                transform: translate(-50%, -50%);

                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.5);
                &:before {
                    display: block;

                    width: 0.5rem;
                    height: 0.5rem;

                    content: '';

                    background: url(~asset/image/ic_play_c.png) center no-repeat;
                    background-size: 0.36rem;
                }
            }
        }
        .course-meta {
            display: flex;
            flex-direction: column;

            flex-grow: 1;
            justify-content: space-between;
            overflow: hidden;
            padding-left: 0.2rem;
            .course-title {
                font-size: 0.28rem;
                line-height: 0.38rem;

                color: #3a3b3c;
            }
            .status,
            .expire_at {
                font-size: 0.24rem;
                line-height: 0.32rem;

                color: #c6c7c7;
            }
            .progress,
            .expire_at {
                display: none;
            }
        }
    }
    .courses-item:hover {
        opacity: 0.8;
    }
}

@media @media-up-xs {
    .tasks-container {
        .cine-panel__lefthead a {
            font-size: 0.36rem;
        }
    }
}

@media @media-up-sm {
    .courses-list {
        justify-content: space-between;
        margin: 0 -0.5rem;
        .courses-item {
            display: flex;

            margin-bottom: 0.7rem;
            padding: 0 0.5rem;
            .course-img {
                height: 1.8rem;

                flex-basis: 3.3rem;
                i {
                    width: 0.9rem;
                    height: 0.9rem;

                    &:before {
                        width: 0.9rem;
                        height: 0.9rem;

                        background-size: 0.6rem;
                    }
                }
            }
            .course-meta {
                padding-left: 0.3rem;
                .course-title {
                    flex-grow: 1;
                }
                .progress {
                    display: block;
                    height: 0.06rem;
                    margin-bottom: 0.3em;

                    border-radius: 0.02rem;
                    background-color: #ecf1f6;
                    .progressbar {
                        width: 50%;
                        height: 100%;

                        border-radius: 0.02rem;
                        background-color: #fc3447;
                    }
                }
                .status,
                .expire_at {
                    line-height: 0.4rem;

                    display: block;
                }
            }
        }
    }
}
