@import '~asset/style/_cine.less';

.tasks-container,
.courses-container {
    padding: 0.3rem 0.45rem 0;
    background-color: #fff;
}

// tasks-container
.tasks-container {
    border-bottom: 0.1rem solid #f3f4f5;
}

.task-nav {
    font-size: 0.3rem;
    display: flex;
    border-bottom: 0.02rem solid #f5f9fc;

    a {
        position: relative;
        padding: 0 0.2rem;
        color: #3a3b3c;
        line-height: 0.6rem;
        border-bottom: 0.06rem solid transparent;
        margin-right: 0.8rem;

        &:hover,
        &.active {
            color: #1c76dd;
            border-bottom-color: #1c76dd;
        }
    }

    .badge {
        position: absolute;
        top: -0.08rem;
        transform: translateX(-20%) scale(0.5, 0.5);
        font-size: 0.4rem;
        text-align: center;
        line-height: 0.64rem;
        min-width: 0.64rem;
        border-radius: 0.32rem;
        background-color: #fc3447;
        color: #fff;
    }
}
.task-list {
    .task-item {
        line-height: 0.9rem;
        color: #3a3b3c;
        border-bottom: 0.02rem solid #f2f4f6;
        display: flex;
        .label {
            display: block;
            font-size: 0.22rem;
            line-height: 0.26rem;
            color: #72aeef;
            border-radius: 0.02rem;
            border: solid 0.02rem #72aeef;
            width: 0.6rem;
            justify-content: center;
            align-items: center;
            margin-right: 0.12rem;
        }
        a {
            color: inherit;
        }
        &:last-of-type {
            border-bottom: none;
        }
        .task-title {
            .text-one-line();
        }
    }
    .expand_more {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: #c6c7c7;
        font-size: 0.22rem;
        line-height: 0.6rem;
        i {
            font-size: 0.22rem;
        }
    }
}

// courses-container
.courses-container {
    h2 {
        color: #3a3b3c;
        font-size: 0.3rem;
        line-height: 1;
        font-weight: normal;
        margin-bottom: 0.2rem;
    }
    .courses-list {
        .courses-item {
            display: flex;
            margin-bottom: 0.26rem;
            transition: all 0.2s;
            .course-img {
                flex: 0 0 1.8rem;
                height: 1rem;
                margin-right: 0.18rem;
                border-radius: 0.04rem;
                position: relative;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    &:before {
                        display: block;
                        height: 0.5rem;
                        width: 0.5rem;
                        content: '';
                        background: url(~asset/image/ic_play_c.png) center;
                        background-size: 0.36rem;
                    }
                }
            }
            .course-meta {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                span {
                    font-size: 0.28rem;
                    color: #3a3b3c;
                    line-height: 0.38rem;
                }
                .status,
                .expire_at {
                    font-size: 0.24rem;
                    line-height: 0.32rem;
                    color: #c6c7c7;
                }
                .progress,
                .expire_at {
                    display: none;
                }
            }
        }
        .courses-item:hover {
            opacity: 0.8;
        }
    }
}

@media @media-up-xs {
    .tasks-container,
    .courses-container {
        padding: 0.5rem 0.6rem;
    }
    .task-nav {
        font-size: 0.3rem;
        a {
            line-height: 0.7rem;
        }
    }
    .task-list {
        padding-top: 0.2rem;
        .task-item {
            border-bottom: none;
            line-height: 0.8rem;
            a {
                font-size: 0.3rem;
            }
        }
    }

    .courses-container {
        h2 {
            font-size: 0.4rem;
            padding-bottom: 0.3rem;
            border-bottom: 0.02rem solid #f5f9fc;
            margin-bottom: 0.5rem;
        }
        .courses-list {
            justify-content: space-between;
            .courses-item {
                display: flex;
                margin-bottom: 0.7rem;
                padding-right: 1rem;
                .course-img {
                    height: 1.8rem;
                    flex-basis: 3.3rem;
                    margin-right: 0.3rem;
                }
                .course-meta {
                    span {
                        font-size: 0.3rem;
                        flex-grow: 1;
                        line-height: 0.4rem;
                    }
                    .progress {
                        display: block;
                        width: 4.4rem;
                        height: 0.06rem;
                        background-color: #ecf1f6;
                        border-radius: 0.02rem;
                        margin-bottom: 0.3em;
                        .progressbar {
                            width: 50%;
                            height: 100%;
                            background-color: #fc3447;
                            border-radius: 0.02rem;
                        }
                    }
                    .status,
                    .expire_at {
                        display: block;
                        line-height: 0.4rem;
                    }
                }
            }
        }
    }
}
