@import '~asset/style/_cine.less';
@scale-label :2;
.task-list {
    .notask {
        line-height: 2;

        color: #c6c7c7;
    }
    .task-item {
        line-height: 0.72rem;

        display: flex;

        color: #3a3b3c;
        border-bottom: 0.02rem solid #f2f4f6;

        align-items: center;
        justify-content: space-between;
        .label {
            font-size: 0.22rem * @scale-label;

            display: flex;

            width: 0.6rem * @scale-label;
            height: 0.3rem * @scale-label;
            margin: 0 -0.2rem 0 -0.3rem;

            transform: scale(1 / @scale-label);

            color: #72aeef;
            border: solid 0.02rem * @scale-label #72aeef;
            border-radius: 0.04rem * @scale-label;

            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
        a {
            color: inherit;
        }
        &:last-of-type {
            border-bottom: none;
        }
        .task-title {
            .text-one-line();
            flex-grow: 1;
        }
        .task-opration {
            line-height: 0.28rem;

            flex-shrink: 0;
        }
        span.task-opration {
            font-size: 0.24rem;
            line-height: 1;

            width: 1.2rem;
            padding-top: 0.4em;
            padding-bottom: 0.4em;

            text-align: center;

            color: #fff;
            border-radius: 0.04rem;
            background-color: #ed3c4d;
            box-shadow: 0.02rem 0.02rem 0.06rem 0rem rgba(237, 60, 77, 0.24);
        }
        .gicons {
            width: 1.2rem;
        }
    }
    .expand_more {
        font-size: 0.22rem;
        line-height: 0.6rem;

        display: flex;

        margin-bottom: -0.4rem;

        color: #c6c7c7;

        flex-grow: 1;
        align-items: center;
        justify-content: center;
        i {
            font-size: 0.22rem;
        }
    }
}

@media @media-up-sm {
    .task-list {
        margin: 0 -0.5rem;
        .notask {
            padding-left: 0.5rem;
        }
        .task-item {
            line-height: 0.8rem;

            padding: 0 1.5rem 0 0.5rem;

            border-bottom: none;
            a {
                font-size: 0.3rem;
            }
        }
    }
}
