.vocabularyTest{

    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: white;

    .v_Test_VocabularyHeader{

        padding-top: 0.7rem;
        padding-bottom: 0.2rem;
        clear: both;
        border-bottom: solid;
        border-bottom-color: #f5f9fc;
        border-bottom-width: 1px;

        .v_Test_H_TaskName{
            float: left;
            color: #3a3b3c;
            font-family: PingFangSC-Medium;
            font-size: 0.4rem;
        }

        .v_Test_H_HistoryDoor{
            float: right;
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            color: #7a7b7c;
        }
    }

    .v_Test_VocabularyContent_Start {
        display: inline-block;
        width: 100%;
        padding-top: 3rem;

        .promot_Start {
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            color: #3a3b3c;
        }

        .test_Start {
            width: 3rem;
            height: 3rem;
            border-radius: 1.5rem;
            padding-top: 1.25rem;
            background-color: #175cb9;
            text-align: center;
            color: #fff;
            font-family: PingFangSC-Regular;
            font-size: 0.42rem;
        }
    }

}