.vocabularyTask{

    display: flex;
    align-content: space-between;
    flex-direction: column;
    min-height:100%;

    .v_Task_VocabularyHeader{

        padding-left: 0.4rem;
        padding-right: 0.4rem;
        background-color: white;
        clear: both;
        height: 1.25rem;
        border-bottom: solid;
        border-bottom-color: #f5f9fc;
        border-bottom-width: 1px;

        .v_Task_H_TaskName{
            display: inline-block;
            color: #3a3b3c;
            height: 1.2rem;
            margin-top: 0.32rem;
            margin-bottom: 0.32rem;
            padding-top: 0.4rem;
            font-family: PingFangSC-Medium;
            font-size: 0.4rem;
            float: left;
        }

        .v_Task_H_HistoryDoor{
            display: inline-block;
            float: right;
            height: 1.2rem;
            margin-top: 0.4rem;
            margin-bottom: 0.32rem;
            padding-top: 0.4rem;
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            color: #7a7b7c;
        }
    }

    .v_Task_VocabularyFooter {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        position: static;
        background-color: white;
        clear: both;

        .v_Task_VF_Container {
            display: inline-block;
            position: relative;
            font-size: 30px;
            margin-top: 0.16rem;
            margin-bottom: 0.16rem;
            left:50%;
            transform: translateX(-50%);
            font-size: 0.28rem;
            padding-left: 0.24rem;
            padding-right: 0.24rem;

            .v_Task_F_Promote {
                padding-top: 0.16rem;
                padding-bottom: 0.16rem;
                padding-right: 0.3rem;
                float: left;
                color: #7a7b7c;
                line-height: 0.4rem;
            }

            .v_Task_F_TestDoor {
                padding-top: 0.16rem;
                padding-bottom: 0.16rem;
                padding-left: 0.3rem;
                padding-right: 0.3rem;
                float: left;
                border-radius: 0.3rem;
                border-color: #246cc6;
                border-width: 1px;
                border-style: solid;
                color: #0e58ac;
            }
        }
    }

    .v_Task_VocabularyList{
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        flex-grow: 1;
        clear: both;
        background-color: white;
        min-width: 5rem;
        // white-space: inherit;
        //overflow-y: auto;

        .v_Task_L_VocabularyItem{
            display: inline-block;
            width: 100%;
            .v_Task_L_Item_Seq{
                margin-top: 0.28rem;
                margin-bottom: 0.28rem;
                display: inline-block;
                padding-top: 0.15rem;
                margin-left: 0;
                width: 0.66rem;
                font-family: PingFangSC-Regular;
                font-size: 0.24rem;
                text-align: right;
                color: #3a3b3c;
                float: left;
            }
            .v_Task_L_Item_Detail{
                display: inline-block;
                float: left;
                width: 22%;
                margin-left: 0.5rem;
                line-height: 0.5rem;
                margin-top: 0.28rem;
                margin-bottom: 0.28rem;

                .v_Task_L_Item_Word{
                    margin-left: 0;
                    font-family: PingFangSC-Medium;
                    font-size: 0.4rem;
                }
                .v_Task_L_Item_Phonetic{
                    margin-left: 0.3rem;
                    font-size: 0.24rem;
                    padding-top: 0rem;
                }
            }
            .v_Task_L_Item_Voice{
                cursor: pointer;
                display: inline-block;
                margin-left: 1.1rem;
                float: left;
                width: 1.10rem;
                height: 1.10rem;
                background: #fff url("../image/voice.png") no-repeat center;
            }
            .v_Task_L_Item_Transition{
                display: inline-block;
                margin-left: 1.1rem;
                font-size: 0.28rem;
                margin-top: 0.28rem;
                margin-bottom: 0.28rem;
                float: left;
                width: 48%;
                text-align: left;
                padding-top: -0.05rem;
                line-height: 0.6rem;
                white-space: pre-wrap;
            }
        }
    }

}