@import '~asset/style/common';
@import '~asset/style/_cine.less';

.vocabularyTask{

    display: flex;
    align-content: space-between;
    flex-direction: column;
    min-height:100%;
    background-color: white;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    .v_Task_VocabularyHeader{

        clear: both;
        height: 1.25rem;
        border-bottom: solid;
        border-bottom-color: #f5f9fc;
        border-bottom-width: 1px;

        .v_Task_H_TaskName{
            display: inline-block;
            color: #3a3b3c;
            height: 1.2rem;
            margin-top: 0.32rem;
            margin-bottom: 0.32rem;
            padding-top: 0.4rem;
            font-family: PingFangSC-Medium;
            font-size: 0.4rem;
            float: left;
        }

        .v_Task_H_HistoryDoor{
            display: inline-block;
            float: right;
            height: 1.2rem;
            margin-top: 0.4rem;
            margin-bottom: 0.32rem;
            padding-top: 0.4rem;
            font-family: PingFangSC-Regular;
            font-size: 0.32rem;
            color: #7a7b7c;
        }
    }

    .v_Task_VocabularyFooter {
        position: static;
        background-color: white;
        clear: both;
        margin-top: 0.2rem;

        .v_Task_VF_Container {
            display: inline-flex;
            position: relative;
            left:50%;
            transform: translateX(-50%);
            align-items: center;

            .v_Task_F_Promote {
                padding-right: 0.3rem;
                font-family: PingFangSC-Regular;
                font-size: 0.28rem;
                color: #7a7b7c;
                line-height: 0.4rem;
                text-align: center;
            }

            .v_Task_F_TestDoor {
                padding-top: 0.16rem;
                width: 3rem;
                height: 0.66rem;
                border-radius: 0.33rem;
                border-color: #246cc6;
                border-width: 1px;
                border-style: solid;
                background-color: #fe682d;
                font-family: PingFangSC-Medium;
                font-size: 0.32rem;
                color: #fff;
                text-align: center;
                box-shadow: 0px 4px 6px 0px rgba(246, 100, 42, 0.14);
            }
        }
    }

    .v_Task_VocabularyList{
        padding-top: 0.2rem;
        padding-bottom: 0.4rem;
        flex-grow: 1;
        clear: both;
    }

    .v_Task_L_VocabularyItem{
        display: flex;
        flex-direction: column;
        padding-top: 0.24rem;
        padding-bottom: 0.24rem;
        cursor: pointer;
        align-items: center;
    }

    .v_Task_L_Item_Info{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .v_Task_L_Item_ Seq{
            display: inline-block;
            width: 0.66rem;
            font-family: PingFangSC-Regular;
            font-size: 0.24rem;
            text-align: right;
            color: #3a3b3c;
            float: left;
        }
        .v_Task_L_Item_Value{
            flex-grow: 1;
        }
        .v_Task_L_Item_Word{
            margin-left: 0.8rem;
            font-family: PingFangSC-Medium;
            font-size: 0.4rem;
            color: #1d70d6;
        }
        .v_Task_L_Item_Phonetic{
            margin-left: 0.2rem;
            font-family: ArialMT;
            font-size: 0.28rem;
            color: #7a7b7c;
        }
        .v_Task_L_Item_Voice{
            margin-left: 0.48rem;
            right: 0;
            float: left;
            width: 0.4rem;
            height: 0.4rem;
            background: url("../image/voice.png") no-repeat center;
        }
    }

    .v_Task_L_Item_Transition{
        display: inline-block;
        width:100%;
        margin-left: 2.5rem;
        margin-top: 0.28rem;
        font-family: PingFangSC-Regular;
        font-size: 0.28rem;
        text-align: left;
        line-height: 0.5rem;
        letter-spacing: 0;
        white-space: pre-wrap;
        color: #3a3b3c;
    }

    @media @media-up-xs{

        .v_Task_L_VocabularyItem{
            display: flex;
            flex-direction: row;
            padding-top: 0.24rem;
            padding-bottom: 0.24rem;
            cursor: pointer;
        }

        .v_Task_L_Item_Info{
            display: flex;
            width: 40%;
            align-items: center;
            justify-content: flex-start;

            .v_Task_L_Item_ Seq{
                display: inline-block;
                width: 0.66rem;
                font-family: PingFangSC-Regular;
                font-size: 0.24rem;
                text-align: right;
                color: #3a3b3c;
                float: left;
            }
            .v_Task_L_Item_Value{
                flex-grow: inherit;
            }
            .v_Task_L_Item_Word{
                margin-left: 0.4rem;
                font-family: PingFangSC-Medium;
                font-size: 0.4rem;
                color: #1d70d6;
            }
            .v_Task_L_Item_Phonetic{
                margin-left: 0.2rem;
                font-family: ArialMT;
                font-size: 0.28rem;
                color: #7a7b7c;
            }
            .v_Task_L_Item_Voice{
                margin-left: 0.48rem;
                float: left;
                width: 0.4rem;
                height: 0.4rem;
                background: url("../image/voice.png") no-repeat center;
            }
        }

        .v_Task_L_Item_Transition{
            display: inline-block;
            width:60%;
            font-family: PingFangSC-Regular;
            font-size: 0.28rem;
            text-align: left;
            line-height: 0.5rem;
            letter-spacing: 0;
            white-space: pre-wrap;
            color: #3a3b3c;
        }

    }
}