.vocabularyTask{
    background-color: white;


    .header{

        background-color: yellow;
        margin-top: 0.5rem;
        margin-left: 6rem;
        margin-right: 6rem;

        .task{
            display: inline-block;
            background-color: red;
            color: #232323;
            height: 1rem;
            padding-top: 0.25rem;
            font-size: 0.5rem;

        }

        .historyDoor{
            display: inline-block;
            background-color: blue;
            float: right;
            height: 1rem;
            padding-top: 0.25rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            font-size: 0.5rem;
        }
    }

    .suspension{
        .card{

        }
        .vocabularyExam{

        }
    }

    .vocabularyList{
        margin-left: 6rem;
        margin-right: 6rem;
        height: 10rem;
        background-color: green;
    }
    .vocabularyItem{

        background-color: orangered;
        margin-top:1px;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

        .seq{
            display: inline-block;
            font-size: 0.3rem;
            margin-left: 0;
            width: 0.5rem;
            text-align: right;
        }
        .detail{
            display: inline-block;
            .word{
                display: inline-block;
                margin-left: 0.2rem;
                font-size: 0.5rem;
            }
            .phonetic{
                display: inline-block;
                margin-left: 0.2rem;
                font-size: 0.3rem;
            }
        }
        .voice{
            display: inline-block;
            margin-left: 1rem;
        }
        .transition{
            display: inline-block;
            margin-left: 1rem;
            font-size: 0.3rem;
        }
    }
}