.wordContent {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}

.word-Header {
    height: 1.5rem;

    .backButton {

    }

    .taskTitle {

    }
}

.word-Body {
    height: 5rem;
    border-style: solid none solid none;
    border-color: black;
    border-width: 2px;
}