// "cssrem.rootFontSize" = 50
@blue: #093d8a;
@whiteblue: #f9fcff;
@black: #2b2c2d;

.title {
    h1 {
        margin-bottom: 17px;
        font-size: 0.52rem;
        line-height: 1.2rem;
        color: @blue;
        text-align: center;
    }
    .metas {
        padding: 0 0.4rem;
        border-top: 0.08rem solid @blue;
        color: #7a7a7a;
        font-size: 0.28rem;
        line-height: 0.66rem;
        background-color: @whiteblue;
        margin-bottom: 38px;
        .right {
            float: right;
        }
    }
}

.questionformat10 {
    position: relative;
    text-align: center;
    margin-bottom: 44px;
    h2 {
        display: inline-block;
        font-size: 24px;
        line-height: 64px;
        padding: 0 42px;
        border: solid 3px @blue;
        color: @blue;
    }
    p {
        color: @black;
        text-align: left;
        background-color: @whiteblue;
        font-size: 14px;
        line-height: 28px;
        padding: 20px 28px;
        white-space: pre-wrap;
    }
}

.questionformat11 {
    margin-bottom: 44px;
    padding: 46px 40px;
    border: solid 2px #373738;
    font-family: Times, Times New Roman, serif;
    box-shadow: -2px 16px 0 -10px #b3b4b4;
    p {
        font-style: italic;
        color: @black;
        font-size: 18px;
        line-height: 30px;
        white-space: pre-wrap;
    }

    blockquote {
        margin-top: 28px;
        text-align: right;
        font-size: 16px;
        line-height: 28px;
    }
}

.questionformat {
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    .titlewrap {
        display: flex;
        margin-bottom: 18px;
        flex-direction: row;
        font-size: 18px;
        line-height: 24px;
        color: @black;
        white-space: pre-wrap;
        .title {
            padding-left: 10px;
        }
    }

    .options {
        .option {
            font-size: 14px;
            color: @black;
            line-height: 20px;
            margin-bottom: 16px;
            cursor: pointer;
            * {
                cursor: pointer;
            }
            &:hover {
                background-color: @whiteblue;
            }
            input[type='radio'] {
                display: none;
            }
            label {
                display: flex;
            }
            input[type='radio'] + label span {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 14px;
                border: solid 1px #dadcdd;
                border-radius: 50%;
                box-sizing: border-box;
                background-color: #fff;
            }
            input[type='radio']:checked + label span {
                background: url(../image/ico_choose.png) center no-repeat;
                background-size: contain;
                border: none;
                border-radius: 0;
            }
        }
    }

    .answer {
        .tips {
            color: @blue;
            font-size: 14px;
            line-height: 34px;
            font-weight: bold;
        }
        .answerarea {
            width: 100%;
            height: 100px;
            border: solid 1px #dadcdd;
            padding: 18px 20px;
            font-size: 16px;
            line-height: 24px;
            color: @black;
            resize: vertical;

            &:focus {
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                border: 1px solid #66afe9;
            }
        }
    }
}

.questionformat1 {
    border-bottom: 1px solid #f6f7f9;
}

.submit {
    padding-top: 56px;
    padding-bottom: 100px;
    border-top: 4px solid @blue;
    text-align: center;
    button.btn-blue {
        width: 300px;
        height: 64px;
        background-color: #0a3069;
        box-shadow: 2px 3px 7px 0px rgba(9, 61, 138, 0.16);
        color: #fff;
        font-size: 24px;
        text-align: center;
        border: 1px solid #0a3069;
        
    }
}
