.tgrammar-stats-list {
  h1 {
    line-height: 70px;
    color: #093d8a;
    text-align: center;
    font-size: 26px;
    border-bottom: 5px solid #093d8a;
    margin-bottom: 50px;
  }
  table {
    margin: auto;
    border: 1px solid #345e8c;
    border-collapse: collapse;
    text-align: center;

    caption {
      font-size: 22px;
      line-height: 48px;
      color: #1a1a1a;
    }
    th {
      background-color: #0c3975;
      color: #fff;
      font-size: 16px;
      padding: 18px 10px;
    }
    tbody {
      border-color: #345e8c !important;
    }
    td {
      font-size: 14px;
      color: #2b2c2d;
      padding: 16px 10px;
      border: 1px solid #e7effa;
      i {
        font-size: 14px;
      }
    }
  }

  button.btn {
    background-color: #fff;
    width: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    border: none;
    box-shadow: 0px 3px 3px 0px rgba(57, 83, 122, 0.13);
    border-radius: 14px;
    border: solid 1px #7f9ac3;
    color: #113f82;
    .btn-done {
      color: #ee0d0d;
    }
  }
  span.red {
    color: #ee0d0d;
  }
}
