
.basic-wrap {
  .video{
    video{
      width: 7.50rem;
      height: 4.22rem;
    }
  }
  .brief{
    .title{
      font-size: .36rem;
      color: #222222;
    }
    .slogan{
      font-size: .28rem;
      color: #6a6a6a;
    }
    .metas{
      .meta{
        font-size: .24rem;
        color: #a7a8a9;
      }
    }
    .prices{
      .price{
        font-size: .48rem;
        color: #fc4514;
      }
      .old-price{
        font-size: .24rem;
        color: #a7a8a9;
      }
    }
    .promote{
      .bord-label{
        border: 1px;
      }
    }
  }
}
