.Floating {
    &.Container {
        display: flex;
        justify-content: flex-end;
        margin-right: -35px;
    }

    .Button {
        position: fixed;
        bottom: 3rem;
        width: 70px;
        height: 70px;
    }
}