@import '~asset/style/_cine.less';

.cine-auth__container {
    margin: 0 auto;
}

@media @media-up-sm {
    body {
        background-color: #f1f1f1;
    }
    .cine-auth__page {
        padding-top: 4rem;
    }
    .cine-auth__container {
        border-radius: 0.06rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
}
