@mpj-btm-before-color: rgba(0, 0, 0, 0.5);
@mpj-pgs-height: 3px;
@mpj-pgs-bg-color: #BDBDBD; /*rgba(255, 255, 255, 0.3)*/
@mpj-pgs-played-color: #FF9800; /*#fff*/
@mpj-pgs-load-color: #EEEEEE;  /*rgba(255, 255, 255, 0.4)*/

.media-player {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #eee;
  .mpj-overlay {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mpj-visual-container {
    position: relative;
    height: 100%;
    width: 100%;
    .visual-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100% !important;
      max-height: 100% !important;
      width: 100%;
      height: 100%;
    }
  }
  .mpj-cover {
    .cover-play {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      height: 44px;
      width: 105px;
      margin: auto;
      border-radius: 22px;
      background-color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      font-size: 17px;
      font-weight: bold;
      line-height: 44px;
      text-align: right;
      padding-left: 7px;
      padding-right: 20px;
      box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.3);

      &:before {
        position: absolute;
        top: 3px;
        height: 38px;
        width: 38px;
        margin: auto;
        content: '';
        display: block;
        background: url(image/ic_play_c.png) no-repeat;
        background-size: cover;
      }

      &:hover {
        opacity: 1;
        transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .cover-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      height: 100%;
      width: 100%;
      margin: auto;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 16px;
        width: 16px;
        display: block;
        content: '';
        background: url(./image/loading_small.gif) no-repeat;
        background-size: cover;
        opacity: 0.5;
      }
    }
  }

  .mpj-bottom {
    position: absolute;
    opacity: 0;
    bottom: 0;
    transform: scaleY(0);
    width: 100%;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    background-position: bottom;
  }
  .mpj-top {
    position: absolute;
    opacity: 1;
    top: 0;
    //transform: scaleY(0);
    height: 40px;
    width: 100%;
  }
  &.mpj-active {
    .mpj-bottom,
    .mpj-top {
      opacity: 1;
      transform: none;
      transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .mpj-top,
  .mpj-bottom {

    .controls {
      position: relative;
      height: 42px;
      margin: 0 0px;
      font-size: 0;

      .left-controls,
      .right-controls {
        height: 100%;
        .control-item {
          display: inline-block;
          width: 36px;
          height: 100%;
          line-height: 42px;
          vertical-align: middle;
          position: relative;
          cursor: pointer;
          opacity: 0.8;
          text-align: center;

          &:hover {
            opacity: 1
          }
        }
      }
      .left-controls {
        float: left;
        padding-left: 10px;
      }
      .right-controls {
        float: right;
        padding-right: 15px;
      }
      .time {
        cursor: default;
        font-size: 14px;
        transform: scale(12/14);
      }
      .chooseplaylist {
        font-size: 14px;
        font-weight:bold;
        transform: scale(12/14);
        color: #FAFAFA;
      }
   /*   .chooseplaylist{
        opacity: 1!important;
        animation: breath 4s ease-in-out infinite;
      }*/
      @keyframes breath{
        0%{ text-shadow: 0 0 10px #fff}
        50%{ text-shadow: 0 0 30px #fff}
        100%{ text-shadow: 0 0 10px #fff}
      }

      .close {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }
      .fullscreen {

        &:hover {
          opacity: 1;
          transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    .progress {
      // width: 100%;
      margin: 0 25px;
      height: @mpj-pgs-height;
      .progress-list {
        position: relative;
        height: @mpj-pgs-height;
        width: 100%;
        border-radius: 2px;
        cursor: pointer;
        background: @mpj-pgs-bg-color;

        .play-progress,
        .load-progress {
          position: absolute;
          height: 100%;
          border-radius: 2px;
        }
        .play-progress {
          z-index: 1;
          background-color: @mpj-pgs-played-color;
          left: 0;

          .seeker {
            position: absolute;
            right: -10px;
            top: -8px;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background-color: @mpj-pgs-played-color;
            border: 4px solid transparent;
            background-clip: content-box;
          }
        }
        .load-progress {
          background: @mpj-pgs-load-color;
        }
      }
    }
  }
  .mpj-bottom {
    &:before {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);*/
      background-color: @mpj-btm-before-color;
      width: 100%;
      height: 42px;
    }
  }
}

.media-player.mpj-fullsize {
  .mpj-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: cover;
    .visual-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.media-player {
  i.mpj-btn {
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  i.mpj-btn.mpj-btn-fullscreen {
    background: url(./image/fullscreen.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-fullscreen-exit {
    background: url(./image/fullscreen-exit.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-replay {
    background: url(./image/replay.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-play {
    background: url(./image/play.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-pause {
    background: url(./image/pause.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-stop {
    background: url(./image/stop.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-volume-off {
    background: url(./image/volume-off.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-volume-on {
    background: url(./image/volume-on.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-close {
    background: url(./image/close.png) no-repeat;
    background-size: cover;
  }
}
