.media-player {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #eee;
  .mpj-overlay {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mpj-visual-container {
    position: relative;
    height: 100%;
    width: 100%;
    .visual-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100% !important;
      max-height: 100% !important;
      width: 100%;
      height: 100%;
    }
  }
  .mpj-cover {
    .cover-play {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      height: 74px;
      width: 74px;
      margin: auto;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 45px;
        width: 45px;
        margin: auto;
        content: '';
        display: block;
        background: url(./image/play.png) no-repeat;
        background-size: cover;
      }

      &:hover {
        opacity: 1;
        transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .cover-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      height: 100%;
      width: 100%;
      margin: auto;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 16px;
        width: 16px;
        display: block;
        content: '';
        background: url(./image/loading_small.gif) no-repeat;
        background-size: cover;
        opacity: 0.5;
      }
    }
  }

  .mpj-bottom {
    position: absolute;
    opacity: 0;
    bottom: 0;
    transform: scaleY(0);
    width: 100%;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    background-position: bottom;
  }
  .mpj-top {
    position: absolute;
    opacity: 1;
    top: 0;
    //transform: scaleY(0);
    height: 40px;
    width: 100%;
  }
  &.mpj-active {
    .mpj-bottom,
    .mpj-top {
      opacity: 1;
      transform: none;
      transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .mpj-top,
  .mpj-bottom {

    .controls {
      position: relative;
      height: 42px;
      margin: 0 12px;
      font-size: 0;

      .left-controls,
      .right-controls {
        height: 100%;
        .control-item {
          display: inline-block;
          width: 36px;
          height: 100%;
          line-height: 42px;
          vertical-align: middle;
          position: relative;
          cursor: pointer;
          opacity: 0.8;
          text-align: center;

          &:hover {
            opacity: 1
          }
        }
      }
      .left-controls {
        float: left;
        // padding-left: 5px;
      }
      .right-controls {
        float: right;
      }
      .time {
        cursor: default;
      }

      .time,
      .chooseplaylist {
        font-size: 14px;
        transform: scale(12/14);
        // width: 90px;
      }

      .close {
      }
      .fullscreen {

        &:hover {
          opacity: 1;
          transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    .progress {
      // width: 100%;
      margin: 0 22px;
      height: 4px;
      .progress-list {
        position: relative;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);

        .play-progress,
        .load-progress {
          position: absolute;
          height: 100%;
          border-radius: 2px;
        }
        .play-progress {
          z-index: 1;
          background-color: #fff;
          left: 0;

          .seeker {
            position: absolute;
            right: -10px;
            top: -8px;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background-color: #fff;
            border: 4px solid transparent;
            background-clip: content-box;
          }
        }
        .load-progress {
          background: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
  .mpj-bottom {
    &:before {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      width: 100%;
      height: 42px;
    }
  }
}

.media-player.mpj-fullsize {
  .mpj-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: cover;
    .visual-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.media-player {
  i.mpj-btn {
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  i.mpj-btn.mpj-btn-fullscreen {
    background: url(./image/fullscreen.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-fullscreen-exit {
    background: url(./image/fullscreen-exit.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-replay {
    background: url(./image/replay.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-play {
    background: url(./image/play.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-pause {
    background: url(./image/pause.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-stop {
    background: url(./image/stop.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-volume-off {
    background: url(./image/volume-off.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-volume-on {
    background: url(./image/volume-on.png) no-repeat;
    background-size: cover;
  }
  i.mpj-btn.mpj-btn-close {
    background: url(./image/close.png) no-repeat;
    background-size: cover;
  }
}
