@import '../style';

#floating-box {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

@media @media-up-xs {
    #floating-box {
        bottom: 1rem;
    }
}

@media @media-up-sm {
    #floating-box {
        bottom: 2rem;
        right: 50%;
        transform: translateX(18.8rem /2) translateX(50%);
    }
}

#floating-box-text {
    position: fixed;
    bottom: 1.2rem;
    right: -0.1rem;
}

@media @media-up-xs {
    #floating-box-text {
        bottom: 1.4rem;
    }
}

@media @media-up-sm {
    #floating-box-text {
        bottom: 2.5rem;
        right: 50%;
        transform: translateX(18.8rem /2) translateX(50%);
    }
}

// floating
.floating-box__item {
    margin: 0 auto 0.2rem;
    text-align: center;
}
