.Button {
    &.FloatingDiv {
        display: flex;
        justify-content: flex-end;
        margin-right: -85px;
    }

    .FloatingButton {
        position: fixed;
        bottom: 3rem;
        width: 70px;
        height: 70px;
    }
}