@ripple-prefix-cls: ~'@{base-prefix}-ripple';
@ripple-animation: ~'@{ripple-prefix-cls}-enter';

.@{ripple-prefix-cls} {
    overflow: hidden;
    position: relative;
}

.@{ripple-prefix-cls}__circle {
    position: absolute;
    display: block;
    border-radius: 50%;
    color: inherit;
    width: 0;
    padding-bottom: 0;
    background-color: currentColor;
    transform: translate3d(-50%, -50%, 0);
}

.@{ripple-prefix-cls}--active {
    will-change: 'opacity, width, padding-bottom';
    & .@{ripple-prefix-cls}__circle {
        animation: @ripple-animation 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@keyframes @ripple-animation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        width: 200%;
        padding-bottom: 200%;
    }
}
