@import '../style';

@color-white: #fff;
@btn-color-disabled: rgba(0, 0, 0, 0.26);
@btn-default-contained-background-color: #e0e0e0;
@btn-font-size: 0.28rem;
@btn-font-weight: 500;
@btn-line-height: 1;
@btn-border-radius: 0.08rem;

.@{btn} {
    .btn-reset();
    padding: 0 0.25rem;
    line-height: 1;
    height: 0.72rem;
    font-size: 0.28rem;
    min-width: 1.8rem;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-align: center;

    .@{icon} {
        font-size: 1.2em;
    }
    .@{icon},
    span {
        vertical-align: middle;
        line-height: 1;
    }
    .@{icon} + span,
    span + .@{icon} {
        margin-left: 4px;
    }
}

// block,
.@{btn}--block {
    width: 100%;
}

// transparent,
.@{btn}--transparent {
    background-color: transparent;
}

// size,
.@{btn}--small {
    padding: 0 0.1rem;
    font-size: 0.24rem;
    height: 0.44rem;
    min-width: 0.6rem;
}

.@{btn}--large {
    padding: 0 0.4rem;
    font-size: 0.36rem;
    height: 0.88rem;
    min-width: 2.4rem;
}

a.@{btn} {
    line-height: 0.72rem - 0.04rem;
    &.@{btn}--small {
        line-height: 0.44rem - 0.04rem;
    }
    .@{btn}--large {
        line-height: 0.88rem - 0.04rem;
    }
}

// shape round
.@{btn}--round {
    font-size: 24px;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 50%;
    padding: 0;

    &.@{btn}--small {
        font-size: 18px;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
}

// shape capsule
.@{btn}--capsule {
    border-radius: ((0.6 * 2) + 1) / 2em;
    &.@{btn}--small {
        border-radius: ((0.4 * 2) + 1) / 2em;
    }
    &.@{btn}--large {
        border-radius: ((0.9 * 2) + 1) / 2em;
    }
}

// button color
.@{btn} {
    color: @btn-color-default;
    .btn-pseudo(@btn-color-default);
}

.@{btn}--primary {
    color: @btn-color-primary;
    .btn-pseudo(@btn-color-primary);
}
.@{btn}--primary-light {
    color: @btn-color-primary-light;
    .btn-pseudo(@btn-color-primary-light);
}

.@{btn}--secondary {
    color: @btn-color-secondary;
    .btn-pseudo(@btn-color-secondary);
}
.@{btn}--secondary-light {
    color: @btn-color-secondary-light;
    .btn-pseudo(@btn-color-secondary-light);
}

// button outlined
.@{btn}--outlined {
    border: 0.02rem solid fade(@btn-color-default, 50%);
    &.@{btn}--primary {
        border: 0.02rem solid fade(@btn-color-primary, 50%);
    }
    &.@{btn}--primary-light {
        border: 0.02rem solid fade(@btn-color-primary-light, 50%);
    }
    &.@{btn}--secondary {
        border: 0.02rem solid fade(@btn-color-secondary, 50%);
    }
    &.@{btn}--secondary-light {
        border: 0.02rem solid fade(@btn-color-secondary-light, 50%);
    }
}

// button contained
.@{btn}--contained {
    box-shadow: 0rem 0.02rem 0.1rem 0rem rgba(0, 0, 0, 0.2),
        0rem 0.04rem 0.04rem 0rem rgba(0, 0, 0, 0.14),
        0rem 0.06rem 0.02rem -0.04rem rgba(0, 0, 0, 0.12);

    &.@{btn} {
        color: @btn-color-default;
        .btn-contained-pseudo(@btn-default-contained-background-color);
    }

    &.@{btn}--primary {
        color: @color-white;
        .btn-contained-pseudo(@btn-color-primary);
    }
    &.@{btn}--primary-light {
        color: @color-white;
        .btn-contained-pseudo(@btn-color-primary-light);
    }
    &.@{btn}--floating.@{btn}--primary {
        .btn-contained-pseudo(@theme-palette-primary-light);
    }

    &.@{btn}--secondary {
        color: @color-white;
        .btn-contained-pseudo(@btn-color-secondary);
    }
    &.@{btn}--secondary-light {
        color: @color-white;
        .btn-contained-pseudo(@btn-color-secondary-light);
    }
    &.@{btn}--floating.@{btn}--secondary {
        .btn-contained-pseudo(@theme-palette-secondary-light);
    }
}

// rest button
.btn-reset() {
    font-family: @font-family;
    display: inline-block;
    user-select: none;
    box-sizing: border-box;
    font-size: @btn-font-size;
    font-weight: @btn-font-weight;
    line-height: @btn-line-height;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 0.02rem solid transparent;
    border-radius: @btn-border-radius;
}

// button :active :hover :focus :disabled
.btn-pseudo(@color) {
    &:hover {
        background-color: fade(@color, 8%);
    }

    &:active,
    &.@{btn}--active {
        background-color: fade(@color, 16%);
    }

    &:disabled,
    &.@{btn}--disabled {
        position: relative;
        cursor: not-allowed;

        &:before {
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: -1px;
            right: -1px;
            opacity: 0.35;
            content: '';
            border-radius: inherit;
            background-color: #fff;
            transition: opacity 0.2s;
        }
    }
}

// contained button :active :hover :focus :disabled
.btn-contained-pseudo(@color) {
    background-color: @color;

    &:hover {
        background-color: darken(@color, 8%);
    }

    &:active,
    &.@{btn}--active {
        background-color: darken(@color, 8%);
        box-shadow: 0rem 0.1rem 0.1rem -0.06rem rgba(0, 0, 0, 0.2),
            0rem 0.16rem 0.2rem 0.02rem rgba(0, 0, 0, 0.14),
            0rem 0.06rem 0.28rem 0.04rem rgba(0, 0, 0, 0.12);
    }

}
