@import '~asset/style/_cine.less';

.footer-container {
  background-color: #021a52;

  .footer-wrap {
    width: 18.8rem;
    margin: 0 auto;
    padding: 0.8rem 0.4rem;
    line-height: 1;
    font-size: 0;
    color: #fff;

    .about-cine {
      display: inline-block;
      font-size: 0.36rem;
      margin-right: 1.6rem;
      vertical-align: top;
    }

    .about-cine a {
      color: #fff;
    }

    .about-cine a:hover {
      color: #78acdc;
    }

    .about-cine .title {
      padding-bottom: 0.3rem;
    }

    .about-list a {
      font-size: 0.28rem;
      color: #fff;
      line-height: 0.56rem;
    }

    .about-list a:hover {
      color: #78acdc;
    }

    .qrcode {
      display: inline-block;
      margin: 0 0.87rem;
    }

    .qrcode .qrcode-img {
      width: 1.9rem;
      height: 1.9rem;
      margin: 0 auto 0.22rem;
    }

    .qrcode .qrcode-img img {
      width: 100%;
      height: 100%;
    }

    .qrcode .qrcode-title {
      font-size: 0.32rem;
      text-align: center;
      margin-bottom: 0.14rem;
    }

    .qrcode .qrcode-name {
      font-size: 0.28rem;
      text-align: center;
    }
  }

  .copyright {
    margin: 0 auto;
    padding: 0.5rem 0 0.64rem;
    border-top: solid 2px #021b41;
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
    line-height: 0.56rem;
    .co-desc {
      font-size: 0;

      .co-desc-year,
      .co-desc-code {
        display: inline;
        font-size: 0.28rem;
      }

      a {
        color: #337ab7;
      }
    }
  }
}

@media @media-xs {
  .footer-container {
    .footer-wrap {
      text-align: center;
      padding: 0.8rem 0;
      width: 100%;

      .about-cine .title {
        padding-bottom: 0.35rem;
      }

      .about-list {
        font-size: 0;
      }

      .about-list li {
        display: inline-block;
        padding-right: 0.5rem;
      }

      .about-list a {
        line-height: 1;
      }

      .about-list li:last-child {
        padding-right: 0;
      }

      .bottom-banner {
        margin-bottom: 0.42rem;
        width: 100%;
        height: 1.88rem;
      }

      .about-cine {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.48rem;
        border-bottom: 0.02rem solid #011238;
      }

      .qrcode {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.48rem;
      }
    }

    .copyright {
      .co-desc {
        .co-desc-year,
        .co-desc-code {
          display: block;
          font-size: 0.24rem;
        }
        .co-name {
          font-size: 0.24rem;
        }
      }
    }
  }
}
