@import '../style';

.@{qrcode} {
    position: fixed;
    padding: 0.6rem 0.2rem 0.2rem;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.06rem;
    overflow: hidden;
    z-index: 3000;
}

.@{qrcode}__close {
    font-size: 0.4rem;
    position: absolute;
    right: 0.12rem;
    top: 0.12rem;
    cursor: pointer;
    color: #000;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.@{qrcode}__content {
    font-size: 0.32rem;
    font-weight: 500;
    text-align: center;
}

.@{qrcode}__img {
    display: block;
    width: 4rem;
}
