html, body {
  background: #FFFFFF;
}

#root {
  max-width: 575px;
  margin: 0 auto;
}

.quiz-start {
  text-align: center;
  padding-top: 1.15rem;
  .title {
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.6rem;
    letter-spacing: 0rem;
    color: #222222;
  }
  .hint {
    margin-top: 0.64rem;
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.72rem;
    letter-spacing: 0rem;
    color: #5d5d5d;
  }
  button {
    margin-top: 0.8rem;
    width: 3.60rem;
    height: 0.96rem;
    background: #FFFFFF;
    border-radius: 0.48rem;
    border: 0.02rem solid #052356;
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0rem;
    letter-spacing: 0rem;
    color: #12336b;
  }
}

.quiz-main {
  margin: auto 0.7rem;

  .card-title {
    margin-top: 0.75rem;
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.56rem;
    letter-spacing: 0rem;
    color: #343333;
  }

  .card-option {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    color: #2f2f2f;

    .hint {
      width: 0.37rem;
      height: 0.37rem;
      margin-right: 0.2rem;
      vertical-align: middle;
    }

    .content {
      width: 1.80rem;
      height: 1.80rem;
      vertical-align: middle;
    }

    input[type="radio"] {
      margin-right: 0.15rem;
    }
  }

  .card-todo {
    .card-answer {
      float: left;
      visibility: hidden;
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.84rem;
      .red {
        visibility: visible;
        color: #f22010;
      }
      .green {
        visibility: visible;
        color: #1ab23a;
      }
    }

    .card-next {
      margin-bottom: 0.4rem;
      float: right;
      width: 2.80rem;
      height: 0.84rem;
      background: #FFFFFF;
      border-radius: 0.48rem;
      border: 0.02rem solid #052356;
      font-size: 0.36rem;
      font-weight: normal;
      font-stretch: normal;
      color: #12336b;
    }
  }

}

.card-end {
  text-align: center;
  padding-top: 1.42rem;

  .hint {
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    color: #2f2f2f;
    .red {
      font-size: 0.42rem;
      font-weight: normal;
      color: #f22010;
    }
    .green {
      font-size: 0.42rem;
      font-weight: normal;
      color: #1ab23a;
    }
  }

  .todo {
    display: inline-block;
    margin-top: 0.86rem;
    line-height: 1.5rem;

    .again {
      width: 3.60rem;
      height: 0.96rem;
      background: #FFFFFF;
      border-radius: 0.48rem;
      border: 0.02rem solid #363636;
      font-size: 0.36rem;
      font-weight: normal;
      font-stretch: normal;
      color: #363636;
      margin-right: 0.34rem;
    }

    .exit {
      width: 3.60rem;
      height: 0.96rem;
      background: #FFFFFF;
      border-radius: 0.48rem;
      border: 0.01rem solid #052356;
      font-size: 0.36rem;
      font-weight: normal;
      font-stretch: normal;
      color: #12336b;
      margin-right: 0.34rem;
    }
  }
}

.mui-radio,
.mui-checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mui-radio > label,
.mui-checkbox > label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.mui-radio input:disabled,
.mui-checkbox input:disabled {
  cursor: not-allowed;
}

.mui-radio input:focus,
.mui-checkbox input:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.mui-radio > label > input[type="radio"],
.mui-radio--inline > label > input[type="radio"],
.mui-checkbox > label > input[type="checkbox"],
.mui-checkbox--inline > label > input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}

.mui-radio + .mui-radio,
.mui-checkbox + .mui-checkbox {
  margin-top: -5px;
}

.mui-radio--inline,
.mui-checkbox--inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.mui-radio--inline > input[type="radio"],
.mui-radio--inline > input[type="checkbox"],
.mui-radio--inline > label > input[type="radio"],
.mui-radio--inline > label > input[type="checkbox"],
.mui-checkbox--inline > input[type="radio"],
.mui-checkbox--inline > input[type="checkbox"],
.mui-checkbox--inline > label > input[type="radio"],
.mui-checkbox--inline > label > input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}

.mui-radio--inline + .mui-radio--inline,
.mui-checkbox--inline + .mui-checkbox--inline {
  margin-top: 0;
  margin-left: 10px;
}

/**
input[type="radio"] {
    margin-right: 0.2rem;
    &:checked {
      + .radio-label {
        &:before {
          background-color: #3197EE;
          box-shadow: inset 0 0 0 4px #f4f4f4;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #3197EE;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #f4f4f4;
          border-color: darken(#f4f4f4, 25%);
          background: darken(#f4f4f4, 25%);
        }
      }
    }
  }
 */