@import '~asset/style/_cine';

.cine-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cine-grid_col-1-2-2 {
    width: 100%;
}

@media @media-up-xs {
    .cine-grid_col-1-2-2 {
        flex: 0 50%;
        width: 50%;
    }
}

.cine-grid_col-1-1-2 {
    width: 100%;
}

@media @media-up-sm {
    .cine-grid_col-1-1-2 {
        flex: 0 50%;
        width: 50%;
    }
}
